{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::clubadmin/layout.html.twig' %}
{% set pageTitle = 'USER_RIGHTS_PAGE_TITLE'|trans %}
{% block pagecontent %}
    <!-- BEGIN CONTENT -->
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <!-- BREADCRUMB STARTS -->
            {% include 'clubadmin/breadcrumb.html.twig' %}
            <!-- BREADCRUMB ENDS -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body fg-theme-blue">
                                <div class=" fg-left-zero">
                                    <div class="row">
                                      {% set page_settings = { 'pagetitle':'true','tabs':'true' }  %}
                                      {% include 'clubadmin/page-title-bar.html.twig' with {'pageTitle':  'USER_RIGHTS_PAGE_TITLE'|trans, 'page_settings': page_settings,'tabs':tabs ,'type':'userrights','hrefLink':'true','url':'#','aId':'true'} %}
                                      </div>
                                </div>              
                                <div class="fg-clear"></div>
                                <form id="userRightsForm" onsubmit="return false;" class="form-horizontal fg-backendsettingUserrights"> 
                                    <div id="failcallbackServerSide" class="alert alert-danger" style="display:none;">
                                        <button class="close" data-close="alert"></button>
                                        <span>{{'FORM_ERROR_DISPLAY'|trans}}</span>
                                    </div>
                                    <div id="fg-dev-user-rights-div" style="display:none;">

                                    </div> 
                                    {% include 'clubadmin/savebutton.html.twig' with {'settings':'settings'} %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id ="divTemplates">                                
        {% include 'ClubadminContactBundle:Userrights:templateUserrightsExisting.html.twig' %}
        {% include 'ClubadminContactBundle:Userrights:new-contact-administration-admins.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('fgcustom/js/page/fg_userrights.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('fgcustom/js/fg_more_menu.js') }}" type="text/javascript"></script>
    <script>
        var exclude = {{exclude |raw}}; // Existing club admin details array
        var newExclude= new Array();

        if(exclude.existingUserDetails != null && exclude.length != 0) {
            newExclude = exclude; // Assigning current details to auto complete array to exclude the same contacts from auto complete
        } 
        var loggedContactId = {{loggedContactId}};
        var internalAdmin = JSON.stringify({{internalAdmin|raw}});
        internalAdmin = JSON.parse(internalAdmin);
        var loggedContactId={{loggedContactId}};
        var urlPath1 = "{{path('group_userrights_team')}}";
        var urlPath = "{{path('user_rights_page')}}";
        var overviewPath1 = '{{path('render_contact_overview',{'offset':0,'contact': 'dummyContactId'})}}'; // Overview link
        var internalAdminList =JSON.stringify({{internalAdminList|raw}});
        internalAdminList = JSON.parse(internalAdminList);
        var typeHeadInternalAdminsOptions = {};
        
        $(document).ready(function() {
           
            FgPageTitlebar.init({
                title       : true,
                tab       : true,
                tabType  :'server'
               
            });
            initPageFunctions('save');
           // pageLoadFn();
            FgUtility.changeColorOnDelete();
             // Global variable for user rights which need to be passed to js
                var options = {
                    newExclude                  : newExclude,
                    contactNameUrl              : "{{contactNameUrl}}", 
                    saveUrl                     : "{{path('save_internal_userrights')}}",
                    saveFlag                    : 0,
                    internalAdminList           : internalAdminList
                };
            FgUserRights.initAdminstrationAdmin(options); // Initing all the underlying functionalities of user rights including create and delete
        
    });

    function initPageFunctions(from){
        if(from == 'discard'){
            typeHeadInternalAdminsOptions.newExcludeAdmins = {{exclude |raw}}; 
        }
        FgPageTitlebar.setMoreTab();  
        var result_data = FGTemplate.bind('fg-dev-internal-calendar-userrights', {internalAdminList:internalAdminList,internalAdmin:internalAdmin,communityPath:overviewPath1,loggedContactId: loggedContactId});
        $('#fg-dev-user-rights-div').html(result_data); // Displaying user rights from underscore
        $('select.selectpicker').selectpicker('render');
        $('#fg-dev-user-rights-div').show();
        pageInit(); 
        FgApp.init();
        FgFormTools.handleUniform();
        ComponentsDropdowns.init();
        
    }    
       // Page init
    function pageInit() { 
        FgDirtyFields.init('userRightsForm', {
                dirtyFieldSettings :{
                    {#dirtyFormClass : "isDirty"#}
                }, 
                    enableDragDrop : false, 
                    enableUpdateSortOrder : false, 
                    enableDiscardChanges : false
               
            });
    }
   
</script>
<script src="{{ asset('fgcustom/js/dirtyfields/jquery.dirtyFields.js') }}" type="text/javascript"></script>
<script src="{{ asset('fgcustom/js/fg_dirtyfields.js') }}" type="text/javascript"></script>
<script src="{{ asset('fgcustom/tokenfield/js/bootstrap-tokenfield.js') }}" type="text/javascript"></script>
{% endblock %} 
