
{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::clubadmin/layout.html.twig' %}
{% set pageTitle = 'EXPORT_CLUB_TITLE'|trans({'%club%': fgtwig.getTerminolgyName('Club', singular,'UCF')}) %}
{% block pagecontent %}
  <div class="row">
    <div class="col-md-12">
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            {% include 'clubadmin/breadcrumb.html.twig' with {'breadCrumb':{'back': path('club_homepage') }} %}
          <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
    <!-- END PAGE TITLE & BREADCRUMB-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
               {% set page_title = 'EXPORT'|trans ~' '~totalCount~' '~ ((totalCount == 1) ? fgtwig.getTerminolgyName('Club', singular) : fgtwig.getTerminolgyName('Club', plural))%}
             {#<div class="row">                  
                 <div class="col-md-6">
                          <h3 class="page-title pull-left fg-inner-title">{%trans%}EXPORT{%endtrans%} {{totalCount}} {{(totalCount == 1) ? fgtwig.getTerminolgyName('Club', singular) : fgtwig.getTerminolgyName('Club', plural)  }} </h3>           
                </div>                        
            </div>   #}  
             {% set page_settings = { 'pagetitle':'true'}  %}
              {% include 'clubadmin/page-title-bar.html.twig' with {'pageTitle': page_title , 'page_settings': page_settings  } %}    
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="{{ path('club_export_data') }}" method="POST" autocomplete="off" class="form-horizontal form-row-sepe" id="exportform">
                    <div class="form-body fg-csv-expt fg-exprt">
                        <div class="form-group ">
                            <label class="control-label col-md-3">{%trans%}CSV TYPE{%endtrans%}</label>
                            <div class="col-lg-2 col-md-3 col-sm-12  col-xs-12">
                              <label class="fg-cursor">
                              <input type="radio" name="CSVtype" id="CSVtype " value="colonSep" checked>
                                {%trans%}SEMICOLON SEPERATED{%endtrans%}
                              </label>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-12  col-xs-12">
                              <label class="fg-cursor">
                               <input type="radio" name="CSVtype" id="CSVtype" value="commaSep" >
                             {%trans%}COMMA SEPERATED{%endtrans%}
                              </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">{%trans%}COLUMNS{%endtrans%}</label>
                            <div class="col-lg-2 col-md-3 col-sm-12  col-xs-12">
                              <label class="fg-cursor">
                              <input type="radio" name="Columns" id="Columns"  class="fg-dev-select-disable-add" value="actCol" checked >
                              {%trans%}CURRENTLY ACTIVE COLUMNS{%endtrans%}
                              </label>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-12  col-xs-12">
                              <label class="fg-cursor">
                                  <input type="radio" name="Columns" id="Columns" value="savedColset" class="fg-dev-select-disable-remove" >
                              {%trans%}SAVED COLUMNS SETTINGS{%endtrans%}
                              </label>
                            </div>
                            <div class="col-md-3 fg-expt-ml" id="error_select">
                                <select class="form-control select2 input-sm" name="selctCol"  id="columnDropdown">
                                    <option value="" >{%trans%}ASSIGNMENT_SELECT_DROPDOWN{%endtrans%}</option>
                                    {% for values in allColumnSettings %}
                                        <option value="{{values.attributes}}" >{{values.title}}</option>
                                    {% endfor %}
                                </select>
                                <p class="help-block display-none" data-required> {%trans%}REQUIRED{%endtrans%}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="fg-cursor"> <input type="checkbox" name="check" value="checked">{%trans with {'%club%': fgtwig.getTerminolgyName('Club', plural)}%}EXPORT CLUB CHECKBOX TEXT{%endtrans%}</label>
                            </div>
                            <input type="hidden" name="formhidden" value="" id="formhidden" />
                        </div>
                      </div>
                    <!-- END FORM-->
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-actions fluid">
                    <div class="col-md-offset-0  col-md-12 col-sm-12 col-xs-12">
                        <input type="button" id="exportsubmit" value="{%trans%}EXPORT{%endtrans%}" class="btn green">
                        <button data-url="{{ path('club_homepage') }}" class="btn default-ash bckid fg-expt-canc" type="button">{%trans%}CANCEL{%endtrans%}</button>
                        <div class="btn-group pull-right">                
                                 <button type="button" class="btn default-ash bckid" data-url="{{path('club_homepage')}} "><i class="fa fg-chevron-left"></i>{%trans%}BACK{%endtrans%}</button>
                            </div>
                    </div>
                </div>
            </div>
                </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
    var jsonData='';
    var settingValue='';
    var tableColumnTitles='';
    var clubId='{{clubId}}';
    var tableSettingValue='';
    var selectedIds="{{selectedIds}}";
    var contactId='{{contactId}}';
    var searchval="{{searchval}}";
    var tableSettingValues = '';
    var filterStorage = 'clubfilter{{clubId}}-{{contactId}}';
    var clubFilterStorageData = localStorage.getItem(filterStorage);
    var filterflagName;

    </script>
    <script src="{{ asset('fgcustom/js/clublist.js')}}" type="text/javascript"></script>
    <script src="{{ asset('fgcustom/js/sidebar.js')}}" type="text/javascript"></script>
    <script type="text/javascript">

    $(document).ready(function() {
        FgUtility.stopPageLoading();
        FgApp.init();
        var clubterminology = "{{clubterminologyTerm}}";
        /*To get all the club data*/
        $.getJSON("{{url('filter_club_data')}}", function(data) {
            jsonData=data;
        });
         /*select field is disabled on page load*/
        $(".select2-choice").addClass("fg-dev-select-disable");
         /*Function for generating csv on form submit*/
        $("#exportsubmit").on("click", function() {
            if ($('input:radio[name=Columns]:checked').val() === 'actCol' ) {
                var tblSettingValue = localStorage.getItem('ClubtableSettingValue_' + clubId + '_' + contactId);
                tableSettingValues = $.parseJSON(tblSettingValue);
                settingValue = removeDeletedFields(tableSettingValues, jsonData);
                tableColumnTitles = getTableColumns(settingValue, jsonData, clubterminology,true);
            } else if ($('input:radio[name=Columns]:checked').val() === 'savedColset' ) {
                if ( $('select[name=selctCol]').val()=== '') {
                   $('.help-block').show();
                   $('#error_select').addClass("has-error");
                   return false;
                }
            }
            var data= { columnType:settingValue, columnNames:tableColumnTitles,filterdata:clubFilterStorageData, selectIds:selectedIds, searchvalue:searchval}; // serializes the form's elements.
            $("#formhidden").val(JSON.stringify(data));
            $("#exportform").submit();
        });
          /*Function for setting the table field values for the selected saved columns*/
        $(".select2").on("click", function() {
            tableSettingValue= $(this).val();
            tableSettingValues = $.parseJSON(tableSettingValue);
            settingValue =  removeDeletedFields(tableSettingValues, jsonData);
            tableColumnTitles =  getTableColumns(settingValue, jsonData,clubterminology,true);
        });
          /*Function to make selected dropdown as enabled*/
        $(".fg-dev-select-disable-remove").click(function() {
            $(".select2-choice").removeClass("fg-dev-select-disable");
        });
        /*Function to make selected dropdown as disabled*/
       $(".fg-dev-select-disable-add").click(function() {
            $(".select2-choice").addClass("fg-dev-select-disable");
            $('.help-block').hide();
            $('#error_select').removeClass("has-error");
        });
    });
 /*-------------- Page title bar configuration --------*/ 
            FgPageTitlebar.init({
                     title: true

             }); 
</script>
{% endblock %}
