{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::clubadmin/layout.html.twig' %}
{% set pageTitle = 'SM_AD_AREA_TITLE'|trans %}
{% block pagecontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <!-- BREADCRUMB STARTS -->
            {% include 'clubadmin/breadcrumb.html.twig' %}
            <!-- BREADCRUMB ENDS -->
            <!-- Starts title And Language area -->
            {#% include 'clubadmin/language_swtich.html.twig' with {'clubLanguages': clubLanguages, 'title': pageTitle} %#}
           {# <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title pull-left fg-inner-title"> {{pageTitle}} </h3>
                </div>
            </div>#}
           <div class="row">
            {% set page_settings = { 'pagetitle':'true'}  %}
            {% include 'clubadmin/page-title-bar.html.twig' with {'pageTitle': pageTitle , 'page_settings': page_settings  } %}    
           </div>
            <!-- Ends title And Language area -->
            <div class="fg-theme-green fg-theme-panel">
                <div class="alert alert-info">
                  <strong>{{'HINT'|trans}}</strong> {{'HINT_ADS'|trans}}
                </div>
                <!-- BEGIN FORM-->
                <form id="editcategory" class="form-horizontal" method="post" onsubmit="return false;" novalidate="novalidate">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        {%trans%}FORM_ERROR_DISPLAY{%endtrans%}
                    </div>
                    <div class="excludejs" id="role_category_sort">
                        {% if general_category %}
                        {% for category in general_category %}
                            <div class="row fg-border-line fairdragg fg-ad-area-general">
                                <div class="col-md-12 fg-col-hack">
                                    <div class="row">
                                        <div class="col-sm-10 col-lg-10 col-xs-12 fg-clear-left">
                                            <span class="fg-ad-area-general-span">  {{generalCatTrans[category.title]|default(category.title)}}  </span>
                                        </div>
                                    </div>
                                </div>
                            </div>      
                        {% endfor %}
                    {% endif %}
                        <!-- Category listing here -->
                    </div>
                    <div class="btn-group  fg-common-top-btm">
                        <a href="#basic" data-toggle="modal" class="add-membership" id="addcategory"><i class="fa fa-plus-circle fa-2x"></i><span class="fg-left-move"> {%trans%}SM_AD_AREA{%endtrans%}</span></a>
                    </div>
                    <div class="clearfix">  </div>
                    {% include 'clubadmin/savebutton.html.twig' with {'settings':settings} %}
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
    <!-- ADD ROW TEMPLATES STARTS -->
    <div id="divTemplates">
        {# template for adding new category #}
        {% include 'ClubadminSponsorBundle:AdsArea:addAdsArea.html.twig' %}
    </div>
    <!-- ADD ROW TEMPLATES ENDS -->
    <!-- END PAGE CONTENT-->


{% endblock %}
{% block javascripts %}
    <script  type="text/javascript">
        FgUtility.handleDelete();

        $(document).ready(function () {
            var result_data = {{result_data|json_encode|raw}};
                    console.log(result_data);
            var catCount = Object.keys(result_data).length;
            if (catCount > 0) {
                var resultData = FgUtility.groupByMulti(result_data, ['title']);
                //console.log(resultData);
                _.each(resultData, function (cat_data, catOrder) {
                    _.each(cat_data, function (catData, catVal) {
                        var jsonData = {catId: catData.id, isNew: false, attributes: catData};
                        renderNewRow('ads-category-add', 'role_category_sort', jsonData);
                    });
                });

            }
            initPageFunctions();
        });

        /* function to remove newly added row on clicking delete button */
        $('form').on('click', 'div.addednew input[data-inactiveblock=changecolor]', function () {
            $('#' + $(this).attr('data-parentid')).remove();
            FgUtility.resetSortOrder($('#role_category_sort'));
        });

        $('form').on('click', '#addcategory', function () {
            var rand = $.now();
            var attributes = {title: '', serviceCount: 0, isActive: 1};
            var jsonData = {catId: rand, isNew: true, attributes: attributes};
            renderNewRow('ads-category-add', 'role_category_sort', jsonData);
        });

        function initPageFunctions() {
            FgApp.init();
            FgDragAndDrop.sortWithOrderUpdation('#role_category_sort', false);

            // For resetting the changes done in the page on 'discard_changes'
            var initialOrderArray = FgUtility.getOrderOfChildElements('#role_category_sort');
            var resetSections = {
                '0': {
                    'parentElement': '#role_category_sort',
                    'initialOrder': initialOrderArray,
                    'addClass': true,
                    'className': 'blkareadiv'
                }
            };
            FgResetChanges.init(resetSections);
            FormValidation.init('editcategory', 'saveChanges');
            FgInputTextValidation.init();
        }

        /* save function */
        function saveChanges() {
            $('div.addednew input[data-key]').addClass('fairgatedirty');
            var objectGraph = {};
            //parse the all form field value as json array and assign that value to the array
            objectGraph = FgParseFormField.fieldParse();
            var catArr = JSON.stringify(objectGraph);

            FgXmlHttp.post("{{ path('sponsor_ads_area_update') }}", {'catArr': catArr}, false, initPageFunctions);
        }

        function renderNewRow(templateScriptId, parentDivId, jsonData) {
            var htmlFinal = FGTemplate.bind(templateScriptId, jsonData);
            $('#' + parentDivId).append(htmlFinal);
            $('#' + parentDivId).find('.addednew').slideDown('250', 'easeInQuart');
            FgUtility.resetSortOrder($('#role_category_sort'));
        }
/*-------------- Page title bar configuration --------*/ 
            FgPageTitlebar.init({
                     title: true
             }); 
    </script>
{% endblock %}

