<script type='template' id='doc-type-team'>
<div class="row filecontent" id="<%- id %>">
    <div class="col-md-12 col-sm-12 col-xs-12 fg-upload-area fg-upload-area-div">
        <ul>
            <li class="fg-border-line clearfix" id="<%- 'list-'+id %>">
                <div class="deletediv">
                    <a href="javascript:void(0)">
                        <i class="fa fa-times-circle pull-right"></i>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-2 col-xs-12 fg-left-zero">
                    <div class="fg-upload-div"></div>
                </div>
                <div class="col-md-8 col-lg-5 col-sm-8 col-xs-12 fg-left-zero">
                    <dl>
                        <dt class="fg-ck-caption-txt">{{'DM_FILE_NAME'|trans}}<span class="required"> * </span></dt>
                        <dd>
                            <div class="fg-dev-docname">
                                <input type="text" class="form-control " name="docname[]" required="" value="<%- name %>"/>
                            </div>
                        </dd>
                        <dt>{{'DM_DESCRIPTION'|trans}}</dt>
                        <dd>
                            <textarea class="form-control fg-upload-description " rows="3" name="docdesc[]"></textarea>
                        </dd>
                    </dl>
                    <dl>
                        <dt>{{'CONTACTDOCUMENT_CATEGORY'|trans}}</dt>
                        <dd>
                            <select class="form-control show-tick bs-select" name="doccategory[]" >
                                <% _.each(form.doccat,function(catArray){ %>
                                    <% if(_.size(catArray)) { %>
                                        <optgroup label="<%- catArray.title %>">
                                            <% _.each(catArray['values'],function(subcatTitle, subcatId){ %>
                                                <option value="<%- subcatId %>"><%- subcatTitle %></option>
                                            <% }); %>     
                                        </optgroup>
                                    <% } %>
                                <% }); %>
                            </select>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-8 col-sm-8 col-lg-5 col-md-offset-4 col-lg-offset-0 col-sm-offset-4  col-xs-12 fg-left-zero">
                    <dl>
                        <dt>{{'DM_AUTHOR'|trans}}</dt>
                        <dd>
                            <input type="text" class="form-control "  name="docauthor[]" value="<%- form.currentuser %>"/>
                        </dd>
                
                        <dt class=<%-((_.size(form.deposited) > 1 )?'fg-active-IB':'hide')%> >{{'DM_DEPOSITED_WITH'|trans}}<span class="required"> * </span></dt>
                        <dd class=<%-((_.size(form.deposited) > 1 )?'fg-active-IB':'hide')%>>
                            <div class="fg-dev-deposited">
                                <select class="form-control show-tick bs-select" name="deposited['<%- id %>'][]" multiple="" >
                                    <optgroup label="">
                                       <% _.each(form.deposited,function(entity, key){ %>
                                            <option value="<%- key %>" <%-((_.indexOf(form.selectedentities, key.toString() ) > -1 )? 'selected':'')%> ><%- entity %></option>
                                        <% }); %>    
                                    </optgroup>
                                </select>
                            </div>
                        </dd>
                
                        <dt>{{'DM_FILE_SIZE'|trans}}</dt>
                        <dd>
                            <span class="fg-upload-size-txt"><%- size %></span>
                            <input type="hidden" name='uploaded_documents[]' value="<%- value %>"/>
                            <input type="hidden" name='uploaded_documents_size[]' value="<%- size_raw %>"/>
                            <div class="fg-upload-progress" style="display: block;">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </dd>
                
                    </dl>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 fg-left-zero fg-upload-token {{docType}}">
                    <dl>
                        {% if docType == 'team' %}
                            <dt>{{'DC_DOCUMENT_VISIBLE_TO'|trans}}</dt>
                            <dd>
                                <div class="radio-list">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label class="radio-inline">
                                                <input type="radio" value="team" name="docvisibility['<%- id %>']" class="fg-visibility-radio" checked="checked"/>
                                                {{'DM_WHOLE_TEAMS'|trans({'%team%':fgtwig.getTerminolgyName('Team',singular,'UCF')}) }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label class="radio-inline">
                                                <input type="radio" value="team_functions" name="docvisibility['<%- id %>']" class="fg-visibility-radio"/>
                                                <span class="fg-upload-visible-label">{{'DM_TEAM_AND_FUNCTIONS'|trans({'%team%':fgtwig.getTerminolgyName('Team',singular,'UCF')}) }}: </span>
                                            </label>

                                            <div style="display: none;" class="docvisibility_2_for_container fg-dev-docvisibilityfor">
                                                <select class="bs-select show-tick selectpicker docvisibility_2_for" multiple="" name="docvisibility_2_for['<%- id %>'][]" style="">
                                                    <optgroup label="">
                                                        <% _.each(form.functions,function(functions, key){ %>
                                                            <option value="<%- key %>"><%- functions %></option>
                                                        <% }); %>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label class="radio-inline">
                                                <input type="radio" name="docvisibility['<%- id %>']"  value="team_admin" class="fg-visibility-radio"> {{'DM_TEAM_ADMINS'|trans({'%team%':fgtwig.getTerminolgyName('Team',singular,'UCF')}) }}
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </dd>
                        {% endif %}
                            
                        {% if docType == 'workgroup' %}
                            <dt>{{ 'DM_VISIBLE_TO_WORKGROUP'|trans }}</dt>
                            <dd>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" value="workgroup" name="docvisibility['<%- id %>']"  checked="checked" > 
                                            {{'DM_WORKGROUP_CONTACTS_AND_ADMIN'|trans }}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" value="workgroup_admin" name="docvisibility['<%- id %>']"  > 
                                            {{'DM_WORKGROUP_ADMIN'|trans }}
                                        </label>
                                    </div>
                                </div>
                            </dd>
                        {% endif %}
                             <dt>{{ 'DM_PUBLIC_VISIBILITY'|trans }}</dt>
                            <dd>
                            <div class="fg-width-150"> 
                                 <div class="switch-toggle switch-fg fg-switch-grey">
                                 <input type="radio" value="1"  class="make-switch" id="isPublic_<%- id %>_on" name="isPublic['<%- id %>']">
                                     <label for="isPublic_<%- id %>_on" onClick="">{{ 'ON'|trans }}</label> 
                                    <input type="radio" value="0"  class="make-switch" id="isPublic_<%- id %>_off"  name="isPublic['<%- id %>']"    checked="checked" >
                                    <label for="isPublic_<%- id %>_off" onClick="">{{ 'OFF'|trans }}</label>    
                                       
                                    <a class="btn btn-primary"></a>
                                </div>
                              </div>
                                
                            
                        </dd>
                            
                    </dl>
                </div>
            </li>
        </ul>
    </div>
</div>    
</script>
<script type="text/template" id="document-uploader-errorlist-template">   
    <% if(errors.length > 0) { %>
        <% _.each(errors, function(error) { %>
            <% if (error == 0) { %>
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{'DOCUMENT_UPLOAD_FILETYPE_ERROR'|trans|replace({'{#filetype#}': 'image, doc, pdf, excel, power, archive, audio, video, web, text'})}}
                </div>
            <% } %>
        <% }) %> 
    <% } %>   
</script>