{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::internal/layout.html.twig' %}
{% block customstylesheets %}
    <link href="{{ asset('fgassets/website/css/style-cms.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('fgassets/global/css/fbautocomplete.css')}}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block pagecontent %}
    <div class="clearfix"> </div>
    <!-- BEGIN CONTAINER -->
    <div class="row fg-theme-green">
        <div class="col-md-12">
            <!-- BEGIN BREADCRUMB-->
            {% include 'internal/breadcrumb.html.twig' with breadCrumb %}
            <!-- END BREADCRUMB-->
            <!-- BEGIN PAGE TITLE AND PANEL TABS -->
            
            {% if event == 'create' %}
                {% include 'global/page-title-bar.html.twig' with {'pageTitle': pageTitle, 'contactId': '', 'tabs': null, 'hrefLink':'1', 'roleCount' : '' , 'type':'', 'url' : '', 'clubLanguages':meta.clubLanguages, 'clubDefaultLang':meta.clubDefaultLang} %}
            {% else %}
                {% include 'global/page-title-bar.html.twig' with {'pageTitle': pageTitle, 'contactId': '', 'tabs': tabs, 'activeTab': 1, 'hrefLink':'1', 'roleCount' : '' , 'type':'', 'url' : '', 'clubLanguages':meta.clubLanguages, 'clubDefaultLang':meta.clubDefaultLang} %}
            {% endif %}

            <!-- END PAGE TITLE AND PANEL TABS -->
            <!-- BEGIN CONTENT -->
            <div class="clearfix"></div>
            <div class="fg-cms-form-element-create-container fg-marg-btm-20">
                <div class="portlet box fg-theme-head" id="form_wizard_1">
                    <div class="portlet-title">
                        <div class="caption"> <span class="step-title"> </span> </div>
                    </div>
                    <div class="portlet-body form fg-cms-form-element-create-wrapper">
                        <div class="form-wizard fg-wizard-tabs">
                            <div class="form-body">
                                <ul class="nav nav-pills nav-justified steps">
                                    <li class="active" data-target="form-stage1"> <a href="#formelement-stage1" data-toggle="tab" class="step"> <span class="number"> 1 </span> <span class="desc"> <i class="fa fa-check"></i> {{'FIELDS_AND_OPTIONS'|trans}}</span> </a> </li>
                                    <li class="{{(formStage == 'stage2' or formStage == 'stage3')?'done':(event == 'create')?'disabled':''}}" data-target="form-stage2"> <a href="#formelement-stage2" data-toggle="tab" class="step"> <span class="number"> 2 </span> <span class="desc"> <i class="fa fa-check"></i> {{'CONFIRMATION_AND_NOTIFICATION'|trans}}</span> </a> </li>
                                    <li class="{{(formStage == 'stage3')?'done':(formStage == 'stage2')?'':'disabled'}}" data-target="form-stage3"> <a href="#formelement-stage3" data-toggle="tab" class="step"> <span class="number"> 3 </span> <span class="desc"> <i class="fa fa-check"></i> {{'COMPLETION_PROMPT'|trans}}</span> </a> </li>
                               </ul> 
                                <div id="form-stage-progressbar" class="progress progress-striped" role="progressbar">
                                    <div class="progress-bar progress-bar-warning" style="width: 20%;"> </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="formelement-stage1">
                                        <form class="form-horizontal fg-marg-top-20" id="form-field-elements-form-stage1">
                                            <div class="form-group required">
                                                <div dataerror-group="">
                                                    <label class="col-md-3 col-sm-4 control-label">{{'CMS_FORM_NAME_LABEL'|trans}}</label>
                                                    <div class="col-md-4 col-sm-5">
                                                        <input type="text" required="true" name="formname" id="formname" class="form-control" value="" maxlength="160">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="fg-tab-list fg-nl-lang-drop">
                                                <h3 class="block">{{'CMS_FORM_FIELD_HEADING_LABEL'|trans}}</h3>
                                                <div class="fg-clear fg-marg-btm-20">
                                                    <ul class="list-group fg-sortable-list " id='formFields'>


                                                    </ul>                                                                
                                                    <a class="fg-add-text fg-marg-right-10" href="javascript:void(0)" id='addFormField'>
                                                        <i class="fa fa-2x fa-plus-circle "></i><span>{{'CMS_FORM_LINK_ADD_FIELD'|trans}}</span>
                                                    </a>
                                                    <a class="fg-add-text" href="javascript:void(0)" id='addSeperator'>
                                                        <i class="fa fa-2x fa-plus-circle "></i><span>{{'CMS_FORM_LINK_ADD_HEADER'|trans}}</span>
                                                    </a>
                                                </div>
                                                <div class="clearfix"></div>
                                                <h3 class="block">{{'CMS_FORM_CAPTCHA_AND_BUTTON_HEADING_LABEL'|trans}}</h3>
                                                <div class="fg-clear">

                                                    <div class="form-group">
                                                        <label class="col-md-3 col-sm-4 control-label fg-pad-top-0" for="checkboxes">{{'CMS_FORM_CAPTCHA_LABEL'|trans}}</label>
                                                        <div class="col-sm-4">
                                                            <label for="formFields-captcha" class="fg-checkbox">
                                                                <input type="checkbox" name="checkboxes" id="formFields-captcha" value="1" >
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required">
                                                        <label class="col-md-3 col-sm-4 control-label ">{{'CMS_FORM_BUTTON'|trans}}</label>
                                                        <div class="col-sm-4" id="formFields-button">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="formelement-stage2">

                                    </div>

                                    <div class="tab-pane" id="formelement-stage3">

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-actions fg-big-buttons right">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="hidden" value="{{event}}" id="formwizard_event" name="formwizard_event" /> 
                                        {% if event == 'create' %}
                                            <input type="hidden" value="{{meta.existing}}" id="existing" name="existing"/> 
                                            <input type="hidden" value="{{pageId}}" id="pageId" name="pageId"/> 
                                            <input type="hidden" value="{{boxId}}" id="boxId" name="boxId"/> 
                                            <input type="hidden" value="{{sortOrder}}" id="sortOrder" name="sortOrder"/> 
                                        {% endif %}
                                        
                                        {% if formStage != 'stage3' %}
                                            <a href="javascript:;" data-href="{{breadCrumb.back}}" class="btn green pull-right hide" id="form_element_finish">{{'CMS_FORM_ELEMENT_FINISH'|trans}} </a>
                                        {% endif %}
                                        
                                        <a href="javascript:;" class="btn green  pull-right hide" {{(event == 'edit')?'disabled="disabled"':''}} id="form_element_save_and_next"> {{'SAVE_AND_NEXT'|trans}} <i class="fa fa-chevron-right"></i> </a>  
                                        <a href="javascript:;" class="btn green  pull-right hide" {{(event == 'edit')?'disabled="disabled"':''}} id="form_element_save"> {{'SAVE'|trans}} </a>   
                                        <a href="{{breadCrumb.back}}" class="btn default pull-right hide" id="form_element_cancel"><i class="fa fa-chevron-left"></i> {{'CANCEL'|trans}} </a> 
                                        <a href="javascript:;" class="btn default pull-right hide" disabled="disabled" id="form_element_discard">{{'DISCARD_CHANGES'|trans}} </a>
                                        <a href="javascript:;" class="btn default pull-right hide" id="form_element_back"><i class="fa fa-chevron-left"></i> {{'BACK'|trans}} </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block underscoretemplate %}
    {% include 'WebsiteCMSBundle:PageFormElement:newFormElement.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/singleline.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/multiline.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/email.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/number.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/url.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/date.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/time.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/checkbox.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/select.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/radio.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/fileupload.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formFieldTemplates/button.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formElementStage2.html.twig' %} 
    {% include 'WebsiteCMSBundle:PageFormElement:formElementStage3.html.twig' %} 
{% endblock %}
{% block javascripts %}
    <script src="/fgassets/website/js/FgCmsFormFields.js" type="text/javascript"></script>
    <script src="/fgassets/global/js/ckEditor-config.js" type="text/javascript"></script>
    <script src="/fgassets/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="/fgassets/website/js/fg_number_field.js" type="text/javascript"></script>
    <script>
        var savePath = "{{path('website_cms_form_element_save')}}";
        var stage2SavePath = "{{path('website_cms_form_stage2_save')}}";
        var stage3SavePath = "{{path('website_cms_form_stage3_save')}}";
        var formDataPath = "{{path('website_cms_form_getdata')}}";
        var formEventSource = "{{event}}";
        var stepTranslation = "{{'CMS_FORM_STEP_LABEL'|trans}}";
        var formSaveSuccess = "{{'CMS_FORM_SAVE_SUCCESS_MESSAGE'|trans}}";
        
        var filemanagerImageBrowse = "{{path('filemanager_view', {'type' : 'image', 'module' : 'formelement' } )}}";
        var filemanagerDocumentBrowse = "{{path('filemanager_view', {'type' : 'document', 'module' : 'formelement' } )}}";   
        
        var metaData = {{ meta|json_encode|raw }};
        var formArray = {{ form|json_encode|raw }};
        var FgCmsFormFieldsObj = new FgCmsFormFields(metaData);
        $(function () {
            $(".fg-action-menu-wrapper").FgPageTitlebar({
                title: true,
                tab: ('{{event}}' == 'edit')?true:false,
                tabType: 'server',
                row2: true,
                languageSwitch: true
            });
        
            FgGlobalSettings.handleLangSwitch();
            FgCmsFormFieldsObj.loadWizardStage1(formArray);
        });
    </script>
{% endblock %}