<script type="text/template" id="template-multiple-asgmnt-error">
    <p><strong>{{'ERROR'|trans}}:</strong> {{ 'CLUB_MULTI_ASSIGN_ERROR'|trans ({'%club%': fgtwig.getTerminolgyName('Club', singular), '%clubs%': fgtwig.getTerminolgyName('Club', plural)}) }}
    </p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ fgtwig.getTerminolgyName('Club',plural,'UCF')}}</th>
                <th>{{'CONFLICTING_CLASSIFICATION_ASSIGNMENT'|trans}}</th>
                <th><input type="checkbox" id="nomulti_check_all">{{'REMOVE'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(selClubNames, function(selClub) { %>
                <% if ($.inArray(selClub.id, assignedClubs) != -1) { %>
                    <tr><td><div class="fg-popup-td-text"><%- selClub.name %></div></td>
                        <td><%- classNames[assignments[selClub.id]['classid']] %></td>
                        <td><input type="checkbox" value="<%- selClub.id %>" data-type="select_club" data-classid="<%- assignments[selClub.id]['classid'] %>" /></td>
                    
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>
</script>