{% block form_errors %}
{% for error in errors %}
<span class="help-block">{{ error.messageTemplate|trans(error.messageParameters, 'validators')|trans }}</span>
{% endfor %}
{% endblock form_errors %}

{% block form_label %}
{% spaceless %}
     {% set type = type|default('text') %}
     {% set requiredType = label_attr['data-required']|default('not_required') %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
{% if label != ' ' %}<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><div class="fg-label-wrap">{{ label|trans({}, translation_domain) }}{% if required and requiredType !='exclude' %} <span class="required" aria-required="true"> *</span>{% elseif(requiredType=='all_fed_members' or requiredType=='all_club_members' or requiredType=='selected_members') %}<span style="display:none" class="required" aria-required="true"> *</span>{% endif %}</div></label>{% endif %}
    
{% endspaceless %}
{% endblock form_label %}
{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}    
        <label {{ child.vars.label}} class="radio-inline {{ child.vars.disabled|default(0) ? 'fg-label-inactive' : ''}}">
            {{ form_widget(child, {'attr': form.vars.attr}) }}
            <span>{{ child.vars.label|trans({}, translation_domain) }}</span>
        </label>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

 
{% block choice_widget_options %}
{% spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option data-content="{{ choice.label|trans({}, translation_domain) }}" value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected" {% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_options %}
    
{% block form_widget_compound %}
{% spaceless %}
    <div class="form-body">
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
{% spaceless %}
<div class="row" {{ block('widget_container_attributes') }} >
      <div class="col-md-12">
        <div class="panel panel-primary fg-bordernon">
          <div class="panel-heading">
            {% if(form.vars.attr["data-catId"]=='2') %}
            <h3 class="panel-form-title  pull-left">{{ form_label(form,null, { 'label_attr': {'data-required': 'exclude'}}) }}</h3>      
            <div class="form-group">
                <div class="checkbox-list pull-left panel-contact-right">
                      <label class="checkbox-inline" for="same_invoice_address">
                          <span class=""><input type="checkbox" name="same_invoice_address" value="1" {{(form.vars.attr["data-same"]|default(1)==1) ? 'checked':''}} id="same_invoice_address"></span>
                        {%trans%}SAME_INVOICE_ADDRESS{%endtrans%}</label>
                </div>
                  
            </div>
            {% elseif (form.vars.attr["data-catId"]=='1' and form.vars.label=='CM_MAIN_CONTACT') %}<h3 class="panel-form-title pull-left">{{ form_label(form,null, { 'label_attr': {'data-required': 'exclude'}}) }}</h3>
                <div class="form-group">
                    <div class="checkbox-list pull-left panel-contact-right">
                      <label class="checkbox-inline" for="has_main_contact_address">
                        <span class=""><input type="checkbox" name="has_main_contact_address" value="1" {{(form.vars.attr["data-hasMC"]|default(0)==1) ? 'checked':''}} id="has_main_contact_address"></span>
                        {%trans%}HAS_MAIN_CONTACT_ADDRESS{%endtrans%}</label>
                    </div>
                </div>
            {% else %}
                {% set fedIcon = fgclub.get('federation_icon')|raw %}
                <h3 class="panel-form-title">{{ form_label(form,null, { 'label_attr': {'data-required': 'exclude'}}) }}  {% if(form.vars.attr["data-hasFedImage"]|default('') != '') %}&nbsp;<img src= "{{fedIcon[form.vars.attr["data-hasFedImage"]]}}" />{% endif %}</h3>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-md-12 fg-common-top">
               {{ form_widget(form) }} 
            </div>
          </div>
        </div>
      </div>
</div>
{% endspaceless %}
{% endblock form_row %}

{% block form_rows %}
{% spaceless %}
    {% for child in form %}
        {% if(loop.index % 2==1) %} <div class="row" {{(child.vars.attr["data-attrId"]=='mainContactName') ? 'style="display:none"':''}}>{% endif %}
        <div class="col-md-6">
            <div data-attrId="{{child.vars.attr["data-attrId"]}}" data-members=":{{child.vars.attr["data-members"]|default('')}}:" data-reqType="{{child.vars.attr["data-reqType"]|default('')}}" data-required="{{child.vars.attr["data-required"]|default('not_required')}}" class="form-group {% if not child.vars.valid %}has-error{% endif %}">
                {% if( child.vars.label is not empty) %}
                    {% if( child.vars.attr["data-attrId"] == 'contactType') %}
                        {{ form_label(child, null, { 'label_attr': {'class': 'control-label col-md-4 fg-edit-teamwg-label-height','data-required':child.vars.attr["data-required"]|default('not_required')} }) }}
                    {% else %}
                        {{ form_label(child, null, { 'label_attr': {'class': 'control-label col-md-4','data-required':child.vars.attr["data-required"]|default('not_required')} }) }}
                    {% endif %}
                {% endif %}                
                 <div class="col-md-{{(child.vars.attr["data-attrId"]=='mainContact') ? '11 pull-right' :'8'}}">
                    {% if(child.vars.attr["data-attrId"]=='mainContactName') %}
                       <div class="input-icon fg-contact-with-auto"> <i class="fa fa-search"></i><input class="form-control" type="text" id="mainContactAuto" name="mainContactAuto" /></div>
                    {% endif %}
                    {{ form_widget(child) }}
                    {% if ((child.vars.attr["data-originalVal"] is defined) or (child.vars.attr["data-attrId"] == 'teamfunctions')) %}
                        {% set attrVal = child.vars.attr["data-attrVal"] %}
                        {% if (child.vars.attr["data-changedVal"] is defined) %}
                            {% set attrVal = child.vars.attr["data-changedVal"] %}
                        {% endif %}
                        {% if (attrVal != child.vars.attr["data-originalVal"]) %}
                            {% set clockTitle = 'WAITING_FOR_CONFIRMATION'|trans %}
                            {% set confirmValue = (child.vars.attr["data-originalValue"] is defined) ? child.vars.attr["data-originalValue"] : child.vars.attr["data-originalVal"] %}
                            {% if ((confirmValue == 'CM_MALE') or (confirmValue == 'CM_FEMALE') or (confirmValue == 'CM_FORMAL') or (confirmValue == 'CM_INFORMAL')) %}
                                {% set confirmValue = confirmValue|trans %}
                            {% endif %}
                            {% if (confirmValue != '') %}
                                {% set clockTitle = clockTitle ~ ' ' ~ 'CURRENT_ACTIVE_VALUE'|trans({'%a%' : confirmValue}) %}
                            {% endif %}
                            <div class="fg-clock-blk"><a rel="popover" class="preview" title="" href="" data-original-title="{{clockTitle}}"><i class="fa fa-clock-o"></i></a></div>
                        {% endif %}
                    {% endif %}
                    {% if (child.vars.attr["data-confirm"]|default('') == 'pending') %}
                    <i class='fg-dev-Popovers fa fa-clock-o' data-trigger='hover' data-placement='bottom' data-content='{{'CONTACT_FED_MEMBER_TOOLTIP'|trans}}' > </i>
                    {% endif %}
                    {{ form_errors(child) }}
                </div>
            </div> 
       </div>
      {% if(loop.index % 2==0 or loop.last) %} </div>{% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows %}
    
{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set isDate = attr.isDate|default('0') %}
    {% set attrId = attr["data-attrId"]|default('') %}    
    {%if isDate=='1' %}
    <div class='input-group date'>
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
    </div>
    {% elseif(type=='file') %}{% set dataValue = attr['data-value']|default('0') %}
        {% if (attr['data-key'] is defined) %}
            {% set dataValue = attr['data-changedVal']|default('') %}
            <input type="hidden" id="file_{{ attrId }}" name="file_{{ attrId }}" data-key="{{attr['data-key']}}" value="{{dataValue}}" />
            {% set attr = attr|merge({'data-key': ''}) %}
        {% endif %}
        <div class="fileinput fileinput-{{ (dataValue) ? 'exists' :'new'}}" data-provides="fileinput">
            <span class="btn default btn-file">
            <span class="fileinput-new">
            {%trans%}CONTACT_FIELDS_SELECT_FILE{%endtrans%} </span>
            <span class="fileinput-exists">
            {%trans%}CONTACT_FIELDS_FILE_CHANGE{%endtrans%} </span>
            <input {{ block('widget_attributes') }} title="" type="file">
            </span>
            <span class="fileinput-filename">{{ (dataValue) ? dataValue :''}}
            </span>
            &nbsp; <a href="#" class="close fileinput-exists" data-dismiss="fileinput" data-fileId="{{ attrId }}" data-addressAttrId="{{attr["data-addressId"]|default('')}}">
            </a>
    </div>
    {% else %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}