<div class="modal-header fg-modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">{{ title }}</h4>
</div>

<div class="modal-body fg-modal-text row">
    <div class="col-md-12">
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="{{ path("do_confirm_or_discard") }}" class="form-horizontal form-row-sepe" id="confirmdiscard">
                    <div class="clearfix">
                        <p style='padding-bottom: 2%'>{{ content }}</p>
                    </div>
                <input type="hidden" name="selectedId" id="selectedId" value="" />
                <!--input type="hidden" name="action" id="action" value="{{ action }}" /-->
            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
{% include 'clubadmin/savebuttonpopup.html.twig' with {'save_button_val': ((action == 'confirm') ? 'BUTTON_CONFIRM'|trans : 'BUTTON_DISCARD'|trans)}  %}

<script type="text/javascript">
     var selConfirmIds = [];
     var count;
    $(document).off('click', 'button[data-function=save], button[data-function=cancel]');
    $(document).on('click', 'button[data-function=save], button[data-function=cancel]', function () {
        var buttonId = this.id;
        if (buttonId == 'save') {
            $('#save').attr('disabled','disabled');
            confirmOrDiscardChanges();
        }
    });
    function confirmOrDiscardChanges() {
        
        var selectionClass = ('{{ selActionType }}' == 'selected') ? 'dataClass:checked' : 'dataClass';
        $("input." + selectionClass).each(function () {
            var confirmId = $(this).attr('id');
            if ($.inArray(confirmId, selConfirmIds) == -1) {
                selConfirmIds.push(confirmId);
            }
        });
        data = {}
        data.selectedId = JSON.stringify(selConfirmIds);       
        data.action = '{{ action }}'; 
        if ($('#contact_assign_membership_list').length > 0) {
            data.membership = $('#contact_assign_membership_list').val();
        }
        $('#popup').modal('hide');
        FgXmlHttp.post('{{ path("update_confirm_club_assignment_applications") }}', data, '', function(data){
            FgFormTools.handleUniform(); 
            count = data.count;
            confirmOrDiscardCallback()
        });
    }
    
    function confirmOrDiscardCallback(){
        FgPageTitlebar.setMoreTab();
        var actionMenuText = {'active' : {'none': actionMenuNoneSelectedText, 'single': actionMenuSingleSelectedText, 'multiple': actionMenuMultipleSelectedText}};
        FgSidebar.dynamicMenus.push({actionmenu: actionMenuText});
        Breadcrumb.load([]);
        var tabCount =  $('#fg-dev-topnav-confirmclubassignment-count').html();
        tabCount = ((tabCount - count) < 0) ? 0 : (tabCount - count);
        $('#fg_tab_0 a span.badge').html(tabCount);
        var navigationBadgeId = '#fg-dev-topnav-confirmclubassignment-count';
        var navBadgeCount = $(navigationBadgeId).html();
        navBadgeCount = ((navBadgeCount - count) < 0) ? 0 : (navBadgeCount - count);
        $(navigationBadgeId).html(navBadgeCount); 
        var fedmembershipTopNavCount = $('#fg-dev-topnav-confirmfedmemberships-count').html();
        var totalConfirmCount = (parseInt(navBadgeCount) + parseInt(fedmembershipTopNavCount));
        if(totalConfirmCount == 0){
            $('.fg-dev-application-warning').hide();
        }
    }

</script>