<div class="row">
    <div class="portlet-body new-table-height" id="tableWrapper">
        <table data-ajax-path="{{ activeTab == 'log' ? path( 'get_application_club_assignments_data', {'type' : activeTab} ) : path( 'get_application_club_assignments_data', {'type' : activeTab} ) }}"
               class="table confirmationsListDatatable 
               table-bordered
               table-hover
               table-condensed
               dataTable-scroll-y
               dataTable-ajax1
               dataTable-rows
               dataTable-scroll-x
               dataTables_scrollBody
               dataTable-initialSort data-count" xWidth="100" yHeight="300" data-table-name="dataTables" data_row_change="fgrowchange" id="confirmations-{{ activeTab }}-table" data-table-group="confirmations-list-table" dataTable-popover="true" dataTable-hover="true" data-sort="1#desc" >
            <thead>
                <tr>
                    {% if (activeTab == 'list') %}
                        {% if(clubType=='federation') %}
                        <th><input type="checkbox" class="dataTable_checkall fg-dev-avoidicon-behaviour" id="check_all" name="check_all" /><i class="chk_cnt"></i></th>
                        {% endif %}
                        <th>{{ 'CONFIRM_APPLICATION_MODIFIEDDATE'|trans}}</th>
                        <th>{{ 'CONFIRM_CONTACT'|trans }}</th>
                        <th>{{fgtwig.getTerminolgyName('Fed membership',singular,'UCF')}}</th>
                        {% if(clubType=='federation_club' or clubType=='sub_federation_club') %}
                            <th>{{'CLUBS_EXISTING' |trans}}</th>
                        {% else %}
                            <th>{{'EXISTING_CLUBS' |trans}}</th>
                        {% endif %}
                        <th>{{ 'NEW_CLUB'|trans}}</th>
                        <th>{{ 'APPLICATION_MODIFIEDBY'|trans }}</th>
                    {% else %}
                        <th></th>
                        <th>{{ 'CONFIRMLOG_DECISIONDATE'|trans }}</th>
                        <th>{{ 'CONFIRMLOG_DECIDEDBY'|trans }}</th>
                        <th>{{ 'CONFIRM_APPLICATION_MODIFIEDDATE'|trans }}</th>
                        <th>{{ 'CONFIRM_CONTACT'|trans }}</th>
                        <th>{{fgtwig.getTerminolgyName('Fed membership',singular,'UCF')}}</th>
                        <th>{{ 'EXISTING_CLUBS'|trans}}</th>
                        <th>{{ 'NEW_CLUB'|trans}}</th>
                        <th>{{ 'APPLICATION_MODIFIEDBY'|trans }}</th>
                    {% endif %}
                </tr>
            </thead>
        </table>
    </div>
</div>