{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::internal/layout.html.twig' %}
{% set pageTitle = (type == 'team') ? 'TEAM_OVERVIEW_PAGE_TITLE'|trans : 'WORKGROUP_OVERVIEW_PAGE_TITLE'|trans %}
{% block pagecontent %}
    <div class="clearfix"> </div>
    <!-- BEGIN CONTAINER -->
    <div class="fg-page-container">
        <div>
            <div class="fg-theme-green">
                <!-- BEGIN BREADCRUMB-->
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'internal/breadcrumb.html.twig' %}
                    </div>
                </div>
                <!-- END BREADCRUMB-->
                <!-- BEGIN PAGE TITLE AND PANEL TABS -->
                
                {% include 'global/page-title-bar.html.twig' with {'pageTitle': 'TEAM_OVERVIEW'|trans, 'contactId': contactId, 'tabs': tabs, 'roleCount' : teamCount, 'type': type, 'url' : url } %}
                <!-- BEGIN CONTENT -->
                <div class="row">
                    <div class="col-md-12 fg-right-zero fg-left-zero">
                        {% if (fgtwig.inArray(fgclub.get('id'), staticBoxEnabledClubs)) %}
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div>
                                {% include 'InternalProfileBundle:Overview:staticbox.html.twig' with {'overviewType' : type}  %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-lg-6 col-sm-12 col-xs-12 fg-top-box-style-01">
                            <div id ="membersBoxDiv"></div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12 fg-top-box-style-01">
                            <div id ="nextBirthdaysBoxDiv"></div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12 fg-dis-none">
                            <div id ="forumsBoxDiv"></div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12 fg-dis-none">
                            <div id ="documentsBoxDiv"></div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12 fg-dis-none">
                        <div id ="calendarBoxDiv"></div>
                    </div>
                     <div class="col-lg-6 col-sm-12 col-xs-12 fg-dis-none">
                        <div id ="articlesBoxDiv"></div>
                    </div>
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
        </div>
    </div>
{% endblock %}

{% block underscoretemplate %}
        {% include 'InternalProfileBundle:Overview:templateOverview.html.twig' with {'page' : 'roleOverview'} %} 
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('fgassets/internal/js/fg_tab_selection_process.js') }}" type="text/javascript"></script>
    <script src="{{ asset('fgcustom/js/charts/jquery.flot.min.js')}}" type="text/javascript"></script> 
    <script src="{{ asset('fgcustom/js/charts/jquery.flot.pie.min.js')}}" type="text/javascript"></script> 
    <script src="{{ asset('fgcustom/js/fg_custom_charts.js')}}" type="text/javascript"></script>
    <script src="{{ asset('fgassets/internal/js/page/fgOverview.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            /* action menu bar ---- */
            var tabCondition = {{ (tabs|length > 1) ? 'true' : 'false' }};
            $( ".fg-action-menu-wrapper" ).FgPageTitlebar({
                title       : true,
                tab         : tabCondition,
                tabType     : 'client'
            });
            //initial setting of tabs 
            var contactId = '{{ contactId }}';
            var clubId = '{{ clubId }}';
            var option = { 
                pageType : 'roleoverview',
                grouptype : '{{ type }}',
                contactId : contactId,
                currentClubId : clubId,
                localStorageName : '{{ type }}'+'_'+clubId+'_'+contactId,
                tabheadingArray : {{ tabs|json_encode()|raw }},
                teamoverviewOptions : {
                    contactId : {{ contactId }},
                    nextbirthdays : {
                        title : '{{ 'INTERNAL_OVERVIEW_NEXT_BIRTHDAYS'|trans }}',
                        dataUrl : '{{ path('next_birthdays_overview') }}',
                        params : ''
                    },
                    members : {
                        title : '{{ (type == 'team') ? fgtwig.getTerminolgyName('Team member', plural, 'UCF') : 'WORKGROUP_OVERVIEW_MEMBERS_BOX_HEADING'|trans }}',
                        emptyMsg : "{{ 'DB_NODATA'|trans }}",
                        dataUrl : "{{ path('get_member_details') }}",
                        params : '',
                        functions : {
                            templateId : '#fg-dev-piechart-team-functions',
                            innerRadiusEnable : true
                        },
                        residences : {
                            templateId : '#fg-dev-piechart-residences',
                            innerRadiusEnable : false
                        }
                    },
                    forums: {
                        title: '{{ 'DASHBOARD_LAST_FORUM'|trans }}', // title for new forum box
                        dataUrl: '{{ path('forum_listing_teamoverview') }}'
                    },          
                    documents:{
                        title : '{{ 'DASHBOARD_LAST_DOCUMENTS'|trans }}',
                        dataUrl : '{{ path('role_overview_documents') }}',
                        showBadge : '0'
                    },
                    calendar: {
                    title: '{{ 'DASHBOARD_CALENDAR'|trans }}', // title for new calendar box
                    dataUrl: '{{ path('role_overview_calendar') }}',
                    params : ''        
                   
                }, 
                articles: {
                    title: '{{ 'DASHBOARD_ARTICLE'|trans }}', // title for new article box
                    dataUrl: '{{ path('article_listing_teamoverview') }}',
                },        
                }
            };
            Fgtabselectionprocess.initialize(option);
        });
    </script>
{% endblock %}