{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::internal/layout.html.twig' %}
{% set pageTitle = 'INTERNAL_TAB_PRIVACY'|trans %}
{% block pagecontent %}
    <div id="privacy-settings">
        <!-- BEGIN BREADCRUMB-->
        <div class="row">
            <div class="col-lg-12">
                {% include 'internal/breadcrumb.html.twig' %}
                <!-- PAGE TITLE -->
                {% include 'global/page-title-bar.html.twig' with {'pageTitle':  'DASHBOARD_WELCOME'|trans~", "~contactName~"!"  , 'contactId': 0, 'tabs': tabs, 'type':'data', 'hrefLink' : true, 'url':"#"} %}        
                <!-- END PAGE TITLE -->
              {% include 'InternalProfileBundle:Privacy:privacyTabsmenu.html.twig' with {'privacytabs':privacytabs}%}
                <div class="fg-clear"></div>
                {% include 'InternalProfileBundle:Privacy:privacySettings.html.twig' %}
            </div>
        </div>        
    </div>
    <!-- END CONTENT -->
    <!-- END PAGE LEVEL STYLES -->
{% block underscoretemplate %}    
    {% include 'InternalProfileBundle:Privacy:templateSettings.html.twig' %}         
{% endblock %}
{% endblock %}
{% block javascripts %}
<script>
    FgMoreMenu.initClientSide('data-tabs','fg-internal-data-tab');
    var fieldDetails = {{fieldDetails | raw}}; // Getting all field values
    var is_subscriber = {{ is_subscriber }};
    var defaultLanguages = {{ defaultLanguages| raw }};
    var contactSystemLang = '{{ contactSystemLang }}';
    var pathSavePrivacySettings = '{{path('save_internal_privacy_settings')}}'; // Path to save privacy settings    
</script>
<script src="{{ asset('fgassets/internal/js/page/privacysettings.js')}}" type="text/javascript"></script>
{% endblock %}
