<script type="text/template" id="recipientsList">
    <% index=1 %>    
    <% _.each(data, function(item,key){ %>
        <% recipientListIds.push(item.id) %>
        <%
        includedContsArray = ((item.includedContacts == '') || (item.includedContacts == null)) ? [] : item.includedContacts.split(',');
        excludedContsArray = ((item.excludedContacts == '') || (item.excludedContacts == null)) ? [] : item.excludedContacts.split(',');
        rlId = item.isNew ? 'new_' + item.id : item.id;
        exceptionsData[rlId] = {'included_contacts': includedContsArray, 'excluded_contacts': excludedContsArray};
        if ((item.includedContacts != '') && (item.includedContacts != null) && (item.includedContacts != undefined)) {
            exceptionContactIds += (exceptionContactIds == '') ? item.includedContacts : ',' + item.includedContacts;
        }
        if ((item.excludedContacts != '') && (item.excludedContacts != null) && (item.excludedContacts != undefined)) {
            exceptionContactIds += (exceptionContactIds == '') ? item.excludedContacts : ',' + item.excludedContacts;
        }
        
        if (listType == 'newsletter') {
            listcontactpath = '{{path('reciever_list_newsletter', {'filterId': 'itemId'})}}'.replace('itemId', item.id);
            listmandatorypath = '{{path('communication_mandatory_recepients', {'filterId': 'itemId'})}}'.replace('itemId', item.id);
            listnonmandatorypath = '{{path('nonmandatory_reciever_list', {'filterId': 'itemId'})}}'.replace('itemId', item.id);
        } else {
            listcontactpath = '{{path('reciever_list_simplemail', {'filterId': 'itemId'})}}'.replace('itemId', item.id);
            listmandatorypath = '{{path('communication_simplemail_mandatory_recepients', {'filterId': 'itemId'})}}'.replace('itemId', item.id);
            listnonmandatorypath = '{{path('nonmandatory_simplemail_reciever_list', {'filterId': 'itemId'})}}'.replace('itemId', item.id);
        }
        
        
        listContactsPath = item.isNew ? '#' : listcontactpath;
        mandatoryPath = item.isNew ? '#' : listmandatorypath;
        nonMandatoryPath = item.isNew ? '#' : listnonmandatorypath;
        %>
        <% exceptionsCount = includedContsArray.length + excludedContsArray.length %>
    <div class="row fg-border-line <% if (!item.isAllActive) { %> sortables fg-sort-drag-hover <% } %> recipient-list-rows" id="<%- item.id %>">
        <div class="fg-col-first-icon fg-sort-drag"><i class="fa fa fg-sort ui-draggable <% if (item.isAllActive) { %> inactive<% } else { %> handle<% } %>"></i></div>
        <div class="col-md-12 fg-col-hack">
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-xs-12 fg-clear-left">
                    <% if (item.isAllActive) { %>
                        <label class="input-sm fg-input-area">{{'ACTIVE_CONTACT_BOOKMARK'|trans}}</label>
                    <% } else { %>
                        <div class="fg-form-group">
                            <input type="text" id="<% if(item.isNew) { %>new_<% } %><%- item.id %>_name" name="<% if(item.isNew) { %>new_<% } %><%- item.id %>_name" data-key="<% if(item.isNew) { %>new.<% } %><%- item.id %>.name" class="form-control input-sm <% if(item.isNew) { %>fg-dev-newfield<% } %>" placeholder="{{'RECEIVER_LIST'|trans}}" value="<%- item.name %>" required />
                        </div>
                    <% } %>
                </div>
                <% if (!item.isNew) { %>
                    <div class="col-lg-4 col-sm-9 col-xs-12">
                        <a href="<%- listContactsPath %>" id="contactCount<%- item.id %>" data-replaceid="<%- item.id %>"><%- item.contactCount %> <% if (item.contactCount == 1) { %>{{'contact'|trans}}<% } else { %>{{'contacts'|trans}}<% } %></a><span class="fg-pipe">|</span>
                        <a href="<%- mandatoryPath %>" id="mandatoryCount<%- item.id %>" data-replaceid="<%- item.id %>"><%- item.mandatoryCount %> {{'MANDATORY'|trans}}</a><span class="fg-pipe">|</span>
                        <a href="<%- nonMandatoryPath %>" id="nonMandatoryCount<%- item.id %>" data-replaceid="<%- item.id %>"><%- item.subscriberCount %> {{'NON-MANDATORY'|trans}}</a>
                    </div>
                <%  } %>
                <div class="col-lg-5 col-sm-12 col-xs-12 fg-dev-rowactions fg-left-zero">
                    <% if (!item.isNew) { %>
                        <div class="col-lg-3 col-sm-3 col-xs-12 fg-pos-stat"> <a href="#" id="update<%- item.id %>" data-id="<%- item.id %>" data-fn="updateNow" class="fg-popover-content-nowrap"><span class="fg-dev-Popovers" data-content="{{'Last_updated'|trans}}<%- item.updatedAt %>"><i class="fa fa-refresh"></i> {{'update_now'|trans}}</span></a></div>
                    <%  } %>
                    <div class="col-lg-2 col-sm-2 col-xs-12"> <a href="#" class="<% if (item.isAllActive) { %>fg-recipients-inactive<% } else { %>fg-recipients-active<% } %>" <% if (!item.isAllActive) { %> data-fn="filter" data-toggle="collapse"<% } %> data-target="#data-<%- item.id %>" data-id="<%- item.id %>" data-val="<%- item.filterData %>"><i class="fa fa-plus-square-o"></i> {{'LISTING_FILTER'|trans}}</a><i class="fa fa-warning fg-warning fg-broken-filter hide"></i></div>
                    <div class="col-lg-4 col-sm-4 col-xs-12"> <a href="#" class="<% if (item.isAllActive) { %>fg-recipients-inactive<% } else { %>fg-recipients-active<% } %>" <% if (!item.isAllActive) { %> data-fn="openExceptions" data-toggle="collapse" <% } %>  data-target="#data-exception-<%- item.id %>" data-id="<%- item.id %>"><i class="fa fa-plus-square-o"></i> {{'LISTING_EXCEPTIONS'|trans}} <span class="badge<%- (item.isAllActive) ? ' inactive' : '' %>"><%- exceptionsCount %></span></a></div>
                    <div class="col-lg-3 col-sm-3 col-xs-12"> <a href="#" class="fg-recipients-active fg-fa-plus-anchor" data-toggle="collapse" data-fn="emailerField" data-target="#data-email-<%- item.id %>" data-id="<%- item.id %>"><i class="fa fa-plus-square-o"></i> {{'EMAIL_FIELDS'|trans}}</a><i class="fa fa-warning fg-warning fg-broken-filter hide"></i></div>
                </div>
            </div>
        </div>
        <input type="text" data-key="<% if(item.isNew) { %>new.<% } %><%- item.id %>.sort_order" name="<% if(item.isNew) { %>new_<% } %><%- item.id %>_sort_order" class="hide sort-val <% if(item.isNew) { %>fg-dev-newfield<% } %>" id="<% if(item.isNew) { %>new_<% } %><%- item.id %>_sort_order" value="<%- index %>" data-element="sortorder" data-sort-parent="recipients_list" />
        <input type="text" data-key="<% if(item.isNew) { %>new.<% } %><%- item.id %>.included_contacts" name="<% if(item.isNew) { %>new_<% } %><%- item.id %>_included_contacts" id="<% if(item.isNew) { %>new_<% } %><%- item.id %>_included_contacts" value="<%- item.includedContacts %>" class="hide <% if(item.isNew) { %>fg-dev-newfield<% } %>" />
        <input type="text" data-key="<% if(item.isNew) { %>new.<% } %><%- item.id %>.excluded_contacts" name="<% if(item.isNew) { %>new_<% } %><%- item.id %>_excluded_contacts" id="<% if(item.isNew) { %>new_<% } %><%- item.id %>_excluded_contacts" value="<%- item.excludedContacts %>" class="hide <% if(item.isNew) { %>fg-dev-newfield<% } %>" />
        <div class="fg-col-last-icon">
            <div class="closeico">
                <% if (item.isAllActive) { %>
                    <i class="fa fa-lock fa-2x ash"></i>
                <% } else { %>
                    <input type="checkbox" data-key="<% if(item.isNew) { %>new.<% } %><%- item.id %>.is_deleted" name="<% if(item.isNew) { %>new_<% } %><%- item.id %>_is_deleted" id="<% if(item.isNew) { %>new_<% } %><%- item.id %>_is_deleted" class="make-switch" value="0" data-inactiveblock="changecolor" data-parentid="<%- item.id %>" <% if(item.isAllActive) { %>data-removerow="true"<% } %>>
                    <label for="<%- item.id %>_is_deleted"></label>
                <% } %>
            </div>
        </div>
        <div class="collapse" id="data-<%- item.id %>">
            <div class="fg-filter-blk">
            <div id="filter-<%- item.id %>" class="fg-filter-blk-open fg-filter-blk-wrapper"></div>
            <div class="row">
                <div class="col-md-5 fg-add-criteria fg-common-btm pull-left">
                    <a class="add-<%- item.id %>" href="#">
                        <i class="fa fg-plus-circle fa-2x pull-left"></i> <span class="fg-add-text">{{'SAVED_FILTER_ADD_CRITERION'|trans}}</span>
                    </a>
                </div>
            </div>
            </div>
            <input type="text" data-key="<% if(item.isNew) { %>new.<% } %><%- item.id %>.filter_data" name="<%- item.id %>_filter_data" id="filter_data_<%- item.id %>" value="<%- item.filterData %>" class="<% if(item.isNew) { %>fg-dev-newfield<% } %> hide recipient-list-filters" />
        </div>
        <div class="collapse" id="data-exception-<%- item.id %>">
        <div class="col-md-12 fg-control-aranew fg-filter-role" id="open-exceptions-<%- item.id%>">
            <div class="include-filter">
                <dl>
                    <dt>{{'INCLUDED_CONTACTS'|trans}}</dt><dd><div class="fg-autocomplete-div"><input type="text" id="<%- item.id %>_contacts_included" value="" data-autocomplete-id="<%- item.id %>" data-type="included_contacts" data-hidden-field-id="<%- item.id %>_included_contacts" placeholder="{{'AUTOCOMPLETE_ADD_CONTACT'|trans}}" class="dirtyExclude"/></div></dd>
                    <dt>{{'EXCLUDED_CONTACTS'|trans}}</dt><dd><div class="fg-autocomplete-div"><input type="text" id="<%- item.id %>_contacts_excluded" value="" data-autocomplete-id="<%- item.id %>" data-type="excluded_contacts" data-hidden-field-id="<%- item.id %>_excluded_contacts" placeholder="{{'AUTOCOMPLETE_ADD_CONTACT'|trans}}" class="dirtyExclude"/></div></dd>
                </dl>
            </div>
        </div>
        </div>
        <div class="collapse" id="data-email-<%- item.id %>">
            <div class="col-md-12 fg-control-aranew">
                <div class="alert alert-info alert-dismissable fg-common-top-btm"><button data-close="alert" class="close"></button>
                    <span>{{'RECIPIENTS_EMAIL_SETTINGS_INFO_MESSAGE'|trans}}.</span>
                </div>

                <dl>
                    <dt>{{'EMAIL_ADDRESSES'|trans}}</dt>
                    <dd>
                            <% selectedEmails = item.isNew ? ['3'] : item.mainEmailIds.split(',') %>
                            <div class="fg-form-group">
                                <select class="bs-select form-control fg-select-font selectpicker select-<%- item.id %> <% if(item.isNew) { %>fg-dev-newfield<% } %> recipient-list-email-fields" multiple="multiple" data-key="<% if(item.isNew) { %>new.<% } %><%- item.id %>.email.main" id="<% if(item.isNew) { %>new_<% } %><%- item.id %>_email_main" name="<% if(item.isNew) { %>new_<% } %><%- item.id %>_email_main" required>
                                    {#<option value="selectall" class="selectall fg-arrow-all">{{'SELECT_ALL'|trans}}</option>
                                    <optgroup label="">#}
                                        <% _.each(emailFields, function(emailField, emKey) { %>
                                            <% selectedAtr = ($.inArray(emailField.id, selectedEmails) != -1) ? ' selected="selected" ' : '' %>
                                            <option value="<%- emailField.id %>" <%- selectedAtr %> class="multiple opt"><%- emailField.title %></option>
                                        <% }); %>
                                    {#</optgroup>#}
                                </select>
                            </div>
                    </dd>
                    <dt>{{'RECEIVER_LIST_EMAIL_SUBSTITUTE'|trans}}</dt>
                    <dd>
                        <select class="bs-select form-control select-two-<%- item.id %> <% if(item.isNew) { %>fg-dev-newfield<% } %>" data-key="<% if(item.isNew) { %>new.<% } %><%- item.id %>.email.substitute" id="<% if(item.isNew) { %>new_<% } %><%- item.id %>_email_substitute" name="<% if(item.isNew) { %>new_<% } %><%- item.id %>_email_substitute">
                            <option value="">{{'SELECT_DROPDOWN'|trans}}</option>
                            <% _.each(emailFields, function(emailField, emKey) { %>
                                <% selectedAtr = (emailField.id == item.substituteEmailId) ? " selected=selected " : "" %>
                                <option value="<%- emailField.id %>" <%- selectedAtr %>><%- emailField.title %></option>
                            <% }); %>
                        </select>
                    </dd>
                </dl>
                </div>
            </div>

        </div>
    </div>
    <% if ((index == _.size(data)) && !item.isNew) { %>
        <% initPageFunctions(); %>
    <% } %>
    <% index++%>
    <%  }); %>
</script>