<script type="text/template" id="template-role-add">

    <% isFedCategory = (typeof pageVars.isFedCat !== 'undefined') ? pageVars.isFedCat : 0 %>
    <% newClass = isNew ? 'addednew fg-dev-newfield' : '' %>
    <% newKey = isNew ? '.new' : '' %>
    <% newVar = isNew ? '_new' : '' %>
    <% roleKey = '.role' + newKey + '.' + roleId %>
    <% roleName = '_role' + newVar + '_' + roleId %>
    <% roleType = (typeof roleType !== 'undefined') ? roleType : 'role' %>
    <% dataKeyVar = catId + roleKey %>
    <% dataNameVar = catId + roleName %>
    <% disableRow = (typeof disable_row !== 'undefined') ? disable_row : false %>
    <% changeActivation = (typeof change_activation !== 'undefined') ? change_activation : false %>
    <% roleTitleMain = (roleType == 'workgroup') ? '{{'WORKGROUP'|trans}}' : '{{'ROLE'|trans}}' %>
    <% linkCatType = isFedCategory ? 'frole' : roleType %>
    <% forumCount = 0 %>
    <div <% if (isNew) { %>style="display:none;"  <% } %> class="row fg-dev-lockhandler <% if (!disableRow) { %> sortables fg-sort-drag-hover <% } %> <%- newClass %> fg-border-line" id="<%- dataNameVar %>">
    <div class="fg-col-first-icon fg-sort-drag" name="fg-dev-sorting"><i class="fa fg-sort ui-draggable <% if (!disableRow) { %> handle <% } else { %> inactive fg-tooltip-inactive-drag <% } %>"  data-toggle="tooltip" <% if (!disableRow) { %> title="{{'TOOLTIP_DRAG_DROP'|trans({}, 'tooltip')}}" <% } else { %>title="{{'TOOLTIP_BOOKMARK_DRAG_INACTIVE'|trans({}, 'tooltip')}}" <% } %>></i></div>
    <div class="col-md-12 fg-col-hack ">
        <div class="row">
         <div class="col-md-3 col-sm-4 fg-clear-left">

                <% if (!disableRow) { %><div class="fg-txt-area"><% } %>

                    <% _.each(clubLanguages, function(clubLang) { %>
                        <% roleTitleLang = ''; %>
                        <% roleCount = '';%>
                        <% docCount = ''; %>
                        <% bookMarkId = 0; %>
                        <% isExecutiveBoard = false %>
                        <% isRoleActive = true %>
                        <% visibleForAll = false %>
                        <% if (typeof rolecontent_data !== 'undefined') { %>
                            <% if (clubLang in rolecontent_data) { %>
                                <% roleTitleLang = rolecontent_data[clubLang][0]['rl_titleLang'] %>
                                <% roleTitleMain = rolecontent_data[clubLang][0]['rl_title'] %>
                                <% bookMarkId = rolecontent_data[clubLang][0]['rl_bookMarkId'] %>
                                <% roleCount = rolecontent_data[clubLang][0]['roleCount'];%>
                                <% forumCount = rolecontent_data[clubLang][0]['forumCount'];%>
                                <% docCount = rolecontent_data[clubLang][0]['docCount'] %>
                                <% isExecutiveBoard = rolecontent_data[clubLang][0]['rl_isExecutiveBoard'] %>
                                <% isRoleActive = rolecontent_data[clubLang][0]['rl_isActive'] %>
                                 <% visibleForAll = rolecontent_data[clubLang][0]['rl_visibleForAll'] %>
                            <% } else { %>
                                <% firstLang = FgUtility.getFirstKeyOfArray(rolecontent_data) %>
                                <% roleTitleLang = '' %>
                                <% roleTitleMain = rolecontent_data[firstLang][0]['rl_title'] %>
                                <% bookMarkId = rolecontent_data[firstLang][0]['rl_bookMarkId'] %>
                                <% roleCount = rolecontent_data[firstLang][0]['roleCount'] ;%>
                                <% forumCount = rolecontent_data[firstLang][0]['forumCount'] ;%>
                                <% docCount = rolecontent_data[firstLang][0]['docCount'] %>
                                <% isExecutiveBoard = rolecontent_data[firstLang][0]['rl_isExecutiveBoard'] %>
                                <% isRoleActive = rolecontent_data[firstLang][0]['rl_isActive'] %>
                                <% visibleForAll = rolecontent_data[firstLang][0]['rl_visibleForAll'] %>
                            <% } %>
                        <% } %>
                        <% if (isExecutiveBoard) { %>
                            {#<% workgroupName = '{{fgtwig.getTerminolgyName('Club', plural, 'UCF')}} {{fgtwig.getTerminolgyName('Executive Board',singular,'UCF')}}' %>#}
                            <% workgroupName = ((pageVars.clubType == 'federation') || (pageVars.clubType == 'standard_club')) ? '{{fgtwig.getTerminolgyName('Executive Board',singular,'UCF')}}' : '{{fgtwig.getTerminolgyName('Club', plural, 'UCF')}} {{fgtwig.getTerminolgyName('Executive Board',singular,'UCF')}}' %>
                            <div class="fg-txt-area worktxt fg-clear-left" data-lang="<%- clubLang %>"> <%- workgroupName %> </div>
                        <% } else { %>
                            <div dataerror-group="" data-lang="<%- clubLang %>">
                            <input type="text" placeholder="<%- roleTitleMain %>" data-key="<%- dataKeyVar %>.i18n.<%- clubLang %>.title" name="<%- dataNameVar %>_i18n_<%- clubLang %>_title" id="<%- dataNameVar %>_i18n_<%- clubLang %>_title" data-lang="<%- clubLang %>" data-roleid="<%- roleId %>" class="form-control input-sm" value="<%- roleTitleLang %>" data-property="change_title" <%- (clubLang == defaultLang) ? 'required=true' : 'data-notrequired=true' %> >
                            </div>
                        <% } %>
                    <% }); %>

                <% if (!disableRow) { %></div><% } %>

                <div class="bookmark fg-bkmrk-icon fg-bkmrk-ico-new" name="fg-dev-bookmark">
                    <input type="checkbox" <% if (bookMarkId) { %> checked="" <% } %> class="make-switch" data-key="<%- dataKeyVar %>.book_marked" name="<%- dataNameVar %>_book_marked" id="<%- dataNameVar %>_book_marked" value="<%- bookMarkId %>">
                    <label for="<%- dataNameVar %>_book_marked"><i class="fa fa-bookmark"></i></label>
                </div>
            </div>


            <div class="col-md-9 col-md-9 col-xs-12">
                
                <div class="col-lg-2 col-sm-2 col-xs-12" name="fg-dev-cont-cnt"><% if (!isNew) { %><a href="javascript:handleCountOrSidebarClick.updateFilter('<%- linkCatType %>', 'filterdisplayflag_contact{{fgclub.clubId}}-<%- {{contactId}} %>', '', '{{fgclub.clubId}}', '<%- {{contactId}} %>', '', '', '{{fgclub.clubUrlIdentifier}}', 'count', '', '', '', '', 'contact', '', '<%- catId %>', '<%- roleId %>', '{{fgclub.clubId}}')">  <%if(roleCount == 1){ %> <%- roleCount %> {%trans%}contact{%endtrans%}<% }else if(roleCount > 1){ %> <%- roleCount %> {%trans%}contacts{%endtrans%}  <% } else { %> 0  {%trans%}contacts{%endtrans%}<% } %>  </a><% } %></div>
                <% if (roleType == 'workgroup') { %>
                <div name="fg-dev-option" id="<%- dataNameVar %>" class="col-sm-12 col-md-2 col-xs-12 fg-dev-options">
                    <i data-loaded="false" data-placeholder="option_<%- roleId %>" data-showstats="true" data-id="<%- roleId %>" data-parent-div="<%- dataNameVar %>" class="fa fg-plus-icon-mov fa-plus-square-o"><span class="fg-icon-span">Options </span> </i>
                    <div class="fg-workgroup-visibility-status">
                        <% if (!isNew) { %>
                        <% if(( isRoleActive == 0 )) { %>
                        <i class="fa fa-eye-slash fg-dev-team-popover popover" data-content="{{'WORKGROUP_SETTINGS_POPOVER_INVISIBILE'|trans}}"></i>
                        <% } } %>
                     </div>
                </div>
                <% } %>
                <div class="col-lg-2 col-sm-2" name="fg-dev-function">
                    <% if (roleType == 'workgroup') { %>
                        <i class="fa fa-plus-square-o fg-plus-icon-log" data-showfunction="true" data-parent-div="<%- dataNameVar %>" data-placeholder="functions_<%- roleId %>"><span class="fg-icon-span"> {%trans%}FUNCTIONS{%endtrans%}</span></i>
                    <% } %>
                </div>
                 <% if (roleType == 'workgroup') { %>
                     {% if fgtwig.inArray('frontend1', bookedModules) %}
                <div class="col-sm-12 col-lg-2 col-md-3 col-xs-12 side-right-zro " id = "<%- dataNameVar %>">
                    <% if (!isNew) { %>   <i class="fa fa-plus-square-o fg-plus-icon-mov fg-admin" data-parent-div="<%- dataNameVar %>" data-id="<%- roleId %>" data-showadmin="true" data-placeholder="admin_<%- roleId %>"  ><span class="fg-icon-span">{{'TEAMCATEGORY_SETTINGS_ADMINISTRATORS'|trans}} </span></i>  <span class="badge badge-danger circle-no " id = "count_<%- dataNameVar %>"> 0 </span> <%  } %>
                </div>
            {% endif %}
                   {% if fgtwig.inArray('document', bookedModules)  %}
            <div class="col-sm-2 col-lg-2 col-md-3 col-xs-12 side-right-zro" id = "<%- dataNameVar %>">
                    <% if (!isNew) { %>   {% if(fgtwig.inArray('document',fgclub.get('allowedRights')))%}<a href="javascript:handleCountOrSidebarClick.updateFilter('allActive','documentfilterdisplayflag_WORKGROUP-{{fgclub.clubId}}-{{contactId}}','WORKGROUP','{{fgclub.clubId}}','{{contactId}}','','','{{fgclub.clubUrlIdentifier}}','count','<%- roleId %>','','','_blank')">{%endif%} <% if (docCount== 1) { %>

                          <span class="fg-icon-span fg-team-doc-link">{%trans%}DOCUMENT{%endtrans%} </span><span class="badge badge-danger circle-no"> 1 </span>
                        <% } else if (docCount > 0) { %>

                           <span class="fg-icon-span fg-team-doc-link">{%trans%}DOCUMENTS{%endtrans%}</span><span class="badge badge-danger circle-no">  <%- docCount %>   </span>
                        <% } else { %>

                            <span class="fg-icon-span fg-team-doc-link">{%trans%}DOCUMENTS{%endtrans%} </span><span class="badge badge-danger circle-no"> 0 </span>
                        <% } %>   <%  } %> {% if(fgtwig.inArray('document',fgclub.get('allowedRights')))%}</a>{%endif%}
                </div>
             {% endif %}
                   <% } %>
                <div class="col-lg-2 col-sm-2 log_role" id = "<%- dataNameVar %>_role" name="fg-dev-log">
                    <% if (!isNew) { %>
                        <i class="fa fa-plus-square-o fg-plus-icon-log" data-id="<%- roleId %>" data-showlog="true" data-parent-div="<%- dataNameVar %>" data-placeholder="log_<%- roleId %>" data-loaded="false"><span class="fg-icon-span"> {%trans%}LOG{%endtrans%}</span></i>
                    <% } %>
                </div>
                
            </div>
          </div>
                    </div>
            <input type="text" data-key="<%- dataKeyVar %>.sort_order" name="<%- dataNameVar %>_sort_order" id="<%- dataNameVar %>_sort_order" value="0" data-element="sortorder" class="hide sort-val <%- newClass %>" data-sort-parent="sortrole" />
             <div class="fg-col-last-icon closeico fg-role-lock" name="fg-dev-close-icon">
                    <% if (roleCount > 0 || disableRow ) { %>
                        <i class="fa fa-lock fg-lock-wokgroup-del fa-2x ash"></i>
                    <% } else { %>
                        <div class="closeico">
                            <input type="checkbox" data-key="<%- dataKeyVar %>.is_deleted" name="<%- dataNameVar %>_is_deleted" id="<%- dataNameVar %>_is_deleted" class="make-switch fgroledeletebutton" value="0" data-inactiveblock="changecolor" data-parentid="<%- dataNameVar %>" data-deletable="checknew" />
                            <label for="<%- dataNameVar %>_is_deleted"></label>
                        </div>
                    <% } %>
                </div>

        <div id="displaydetails_<%- dataNameVar %>" class=" hide fg-control-aranew "> {# To display functions or log #}
            <% if (roleType == 'workgroup') { %>
                <div id="option_<%- roleId %>" class=" hide col-md-12 " showdetail="true">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-body">
                                {% if fgtwig.inArray('frontend1', bookedModules) %}
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-sm-4 col-xs-12">
                                        <div class="fg-label-wrap">{%trans%}TEAM_SETTINGS_IS_ACTIVE{%endtrans%}</div>
                                    </label>
                                    <div class="col-md-2 col-sm-3 col-xs-5">
                                        <label class="switch-light switch-light-med" onClick="">
                                            <input type="checkbox" <% if (( isRoleActive == 1)) { %> checked="checked" <% } %> class="make-switch fg-dev-isactive" name="<%- dataKeyVar %>.is_active" id="<%- dataKeyVar %>.is_active" data-key="<%- dataKeyVar %>.is_active" />
                                            <span name="fg-dev-active"> <span>{{'ON'|trans}}</span><span>{{'OFF'|trans}}</span>	</span>
                                            <a class="btn btn-primary"></a>
                                        </label>
                                    </div>
                                </div>
                                {% endif %}
                               <% /*FAIR-2450 New visibility option missing for executive board*/ %>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-sm-4 col-xs-12">
                                        <div class="fg-label-wrap">{%trans%}VISIBILITY_FOREIGN_CONTACTS{%endtrans%}</div>
                                    </label>
                                    <div class="col-md-2 col-sm-3 col-xs-5">
                                        <label class="switch-light switch-light-med" onClick="">
                                            <input type="checkbox" <% if(isNew || !visibleForAll ) {  %> value="0"  <% } else { %> checked="checked" value="1" <% } %> class="make-switch fg-dev-isactive" name="<%- dataKeyVar %>.visible_for_all" id="visible_for_all_<%- dataKeyVar %>" data-key="<%- dataKeyVar %>.visible_for_all" />
                                            <span name="fg-dev-foreign-visibility"> <span>{{'ON'|trans}}</span><span>{{'OFF'|trans}}</span>	</span>
                                            <a class="btn btn-primary"></a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="functions_<%- roleId %>" class="fg-settings-block hide dragndrop" showdetail="true"></div>
            <% } %>
            <div id="log_<%- roleId %>" class="hide" showdetail="true" style="display:none"><div class="fg-pad-20"></div></div>
            <div id="admin_<%- roleId %>" class="hide"  showdetail="true">
            <div id="fg-dev-user-rights-div-<%- roleId %>" class = "fg-dropdown-wrapper" style="display:none;"></div>
        </div>
        </div>
        <input type="hidden" id="forumCount_<%- dataNameVar %>" value="<%- forumCount %>" />

</div>
</script>