{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::clubadmin/layout.html.twig' %}
{% set pageTitle = '%a%_EXECUTIVE_BOARD_FUNCTIONS'|trans({'%a%': fgtwig.getTerminolgyName('Club', plural, 'UCF'),'%b%': fgtwig.getTerminolgyName('Executive Board', singular, 'UCF')})  %}

{% block pagecontent %}

    <!-- BEGIN PAGE CONTENT-->
    <div class="row">

        <div class="col-md-12">

            <!-- BREADCRUMB STARTS -->
            {% include 'clubadmin/breadcrumb.html.twig' with breadCrumb %}
            <!-- BREADCRUMB ENDS -->
 <div class="fg-theme-panel">
            <!-- BEGIN FORM-->
            <form id="execboardfunctionsettings" class="form-horizontal" method="post" onsubmit="return false;" novalidate="novalidate">
               {# <div class="row">
                    <div class="col-md-12">
                        {% include 'clubadmin/language_swtich.html.twig' with {'clubLanguages': clubLanguages, 'title': '%a%_EXECUTIVE_BOARD_FUNCTIONS'|trans(arguments = {'%a%': fgtwig.getTerminolgyName('Club', plural, 'UCF'),'%b%': fgtwig.getTerminolgyName('Executive Board', singular, 'UCF')}) } %}
                    </div>
                </div>#}
                     <!-- PAGE TITLE BAR STARTS -->
                     <div class="row">
                 {% set page_Title =  '%a%_EXECUTIVE_BOARD_FUNCTIONS'|trans(arguments = {'%a%': fgtwig.getTerminolgyName('Club', plural, 'UCF'),'%b%': fgtwig.getTerminolgyName('Executive Board', singular, 'UCF')}) %}
                 {% set page_settings = { 'pagetitle':'true','languageswitch':'true' }  %}
                 {% include 'clubadmin/page-title-bar.html.twig' with {'pageTitle': page_Title, 'page_settings': page_settings,'clubLanguages': clubLanguages  } %}    
                   </div>
                 <!-- PAGE TITLE BAR END -->
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    {%trans%}FORM_ERROR_DISPLAY{%endtrans%}
                </div>
                <div class="fg-settings-block" id="execboardfunctions_sort">
                    {% if (result_data|length == 0) %}
                        {%trans%}NO_ENTRIES{%endtrans%}
                    {% else %}
                        {# FUNCTION LISTING #}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-2 fg-common-top-btm" name="fg-dev-add-function"><a id="addrow" href="#basic" data-toggle="modal" data-parentdiv-id="execboardfunctions_sort" data-add-type="function"><i class="fa fg-plus-circle fg-add-link fa-2x pull-left"></i> <span class= "fg-add-text">{%trans%}ADD_FUNCTION{%endtrans%} </span></a></div>
                </div>

                <!-- ADD ROW TEMPLATES STARTS -->
                <div id="divTemplates">
                    {# template for adding new function #}
                    {% include 'ClubadminContactBundle:Role:addfunction.html.twig' %}

                    {# template for listing the log for role and function #}
                    {% include 'ClubadminContactBundle:Role:logdisplay.html.twig' %}
                </div>
                <!-- ADD ROW TEMPLATES ENDS -->

                <!--  Partial twig for savebutton-->
                {% include 'clubadmin/savebutton.html.twig' %}
            </form>
            <!-- END FORM-->
 </div>
        </div>

    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}
{% block javascripts %}
    {% if not (app.request.xmlHttpRequest) %}
        <script src="{{ asset('fgcustom/js/fg_more_menu.js') }}" type="text/javascript"></script>
        <script src="{{ asset('fgcustom/js/dirtyfields/jquery.dirtyFields.js') }}" type="text/javascript"></script>
        <script src="{{ asset('fgcustom/js/fg_dirtyfields.js') }}" type="text/javascript"></script>
        <script src="{{ asset('fgcustom/js/sidebarfilter.js') }}" type="text/javascript"></script>
    {% endif %}
    <script type="text/javascript">
        var defaultLang = '{{clubDefaultLang}}';
        FgUtility.changeColorOnDelete();
        var pageVars = {
            funtionData: {{result_data|json_encode|raw}},
            selectedLang: '{{clubDefaultLang}}',
            clubLanguages: {{clubLanguages|json_encode|raw}},
            catId: {{catId}},
            roleId: {{roleId}},
            initialHtml: '',
            savePath: "{{path('update_role_function')}}"
        };
        var rowFunctionVariables = {
            logDataPath: '{{path('log_data',{})}}'
        };
        /*-------------- Page title bar configuration --------*/ 
            FgPageTitlebar.init({
                    
                     title: true,
                     languageSettings: true
                    

             });
    </script>
    <script src="{{ asset('fgassets/backend/js/page/row-functions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('fgassets/backend/js/page/execboardfunctionsettings.js') }}" type="text/javascript"></script>
{% endblock %}