{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::clubadmin/layout.html.twig' %}
{% block pagecontent %}
    {% include 'clubadmin/breadcrumb.html.twig' with {'breadCrumb':{'back': path('contact_index') }} %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet-body fg-theme-green">
                        <form id="service_assignment" method="post" onsubmit="return false;" autocomplete="off" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-12 fg-modal-header">
                                <h3 class="modal-title page-title fg-inner-title">
                                    {% if(contacts|length > 1)%}
                                        <span class="fg-dev-contact-names"><a href="#" class="fg-plus-icon"></a><a href="#" class="fg-minus-icon"></a></span>
                                    {% endif %}
                                    {{serviceTitle}}
                                    {% if(contacts|length > 1)%}
                                    <div class="fg-arrow-sh">
                                        <ul>
                                            {% for contact in contacts %}
                                            <li><a href="{{ path('render_contact_overview',{'offset':0,'contact':contact.id})}}" target="_blank" data-cont-id="{{contact.id}}">{{contact.contactname}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fg-spon-assignment">
                                    <dl>
                                        <dt>{% trans %}SM_SERVICE_CATEGORY{% endtrans %} <span class="fg-mandatory">*</span></dt>
                                        <dd dataerror-group>
                                            <div class="fg-spon-width">
                                                <select required data-category name="category" id="category" data-key="category" class="form-control bs-select" >
                                                    <option value="">{% trans %}SELECT_DEFAULT{% endtrans %}</option>
                                                    {% for categorie in categories %}
                                                       <option {{ serviceAssigns.categoryId == categorie.categoryId ? 'selected':'' }} value="{{categorie.categoryId}}">{{categorie.catTitle}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </dd>
                                        <dt>{% trans %}SM_SERVICE{% endtrans %} <span class="fg-mandatory">*</span></dt>
                                        <dd dataerror-group><div data-service-area="" class="fg-spon-width" >
                                                <select required class="form-control bs-select" name="serviceId" id="service" data-key="service">
                                                    <option>{% trans %}SELECT_DEFAULT{% endtrans %}</option>
                                                </select>
                                            </div>
                                        </dd>
                                        <dt>{% trans %}SM_START_DATE{% endtrans %} <span class="fg-mandatory">*</span></dt>
                                        <dd dataerror-group> <div class="fg-spon-width"> <div class="input-group date datepicker form_datetime">
                                                    <input required type="text" size="16" name="startDate" id="startDate" data-key="startDate"  class="form-control">
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div></div></dd>
                                        <dt>{% trans %}SM_END_DATE{% endtrans %} </dt>
                                        <dd data-row="end-date"> <div class="fg-spon-width"> <div class="input-group date datepicker form_datetime">
                                                    <input type="text" size="16" name="endDate" id="endDate" data-key="endDate" class="form-control">
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div></div>
                                        </dd>
                                        <dt>{% trans %}SM_PAYMENT_PLAN{% endtrans %}<span class="fg-mandatory">*</span></dt>
                                        <dd dataerror-group> <div class="fg-spon-width"> 
                                                <div class="switch-toggle switch-3 col-lg-9">
                                                    <input name="privacyContact" data-key="privacyContact" id="privacyContact_community"  type="radio" class="make-switch" value="none" data-key="privacyContact">
                                                        <label for="privacyContact_community" onClick=""> {% trans %}NONE{% endtrans %}</label>
                                                    <input name="privacyContact" data-key="privacyContact" id="privacyContact_team" type="radio" class="make-switch" value="regular" data-key="privacyContact">
                                                        <label for="privacyContact_team" onClick="">{% trans %}SM_REGULAR{% endtrans %}</label>
                                                    <input name="privacyContact" data-key="privacyContact" id="privacyContact_private" type="radio" class="make-switch" value="custom" data-key="privacyContact">
                                                        <label for="privacyContact_private" onClick="">{% trans %}SM_CUSTOM{% endtrans %}</label>
                                                    <a class="btn btn-primary"></a>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl id="custom-payment" data-payment="custom" style="display:none">                
                                        <dt>{% trans %}SM_PAYMENTS{% endtrans %} <span class="fg-mandatory">*</span></dt>
                                        <dd>
                                            <div data-custom="payment">
                                            </div>
                                            <div class="fg-common-top">
                                                <a data-toggle="modal" href="#basic" id="pencil" data-add="fg-dev-field">
                                                    <i class="fa fa-plus-circle fa-2x pull-left "></i>
                                                    <span class="fg-add-text">Add payment</span>
                                                </a>
                                                <div class="pull-right">
                                                    <span>ggghghghgh</span>
                                                </div>
                                            </div>
                                                                
                                        </dd>
                                        
                                            
                                        
                                    </dl>
                                    <dl ld="regular-payment" data-payment="regular" style="display:none">
                                        <dt>{% trans %}SM_FIRST_PAYMENT_ON{% endtrans %} <span class="fg-mandatory">*</span></dt>
                                        <dd dataerror-group> <div class="fg-spon-width"> 
                                                <div class="input-group date datepicker form_datetime">
                                                    <input type="text" size="16" required name="firstPayment" id="firstPayment" data-key="firstPayment" class="form-control">
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </dd>
                                        <dt>{% trans %}SM_LAST_PAYMENT_BEFORE{% endtrans %}</dt>
                                        <dd dataerror-group> <div class="fg-spon-width"> 
                                                <div class="input-group date datepicker form_datetime">
                                                    <input type="text" name="lastpayment" id="lastpayment" data-key="lastpayment" size="16"  class="form-control">
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </dd>
                                        <dt>{% trans %}SM_REPETITION{% endtrans %} <span class="fg-mandatory">*</span></dt>
                                        <dd dataerror-group> 
                                            <div class="fg-spon-width"> 
                                                <input type="text" size="16" required name="repetition" id="repetition" data-key="repetition" class="form-control numbermask">
                                            </div>
                                        </dd>
                                        <dt>{% trans %}SM_AMOUNT{% endtrans %} {{fgclub.get('clubCurrency')}} <span class="fg-mandatory">*</span></dt>
                                        <dd dataerror-group>
                                            <div class="fg-spon-width"> 
                                                <input type="text" size="16" required name="amount" id="ramount" data-key="amount" class="form-control numbermask">
                                            </div>
                                        </dd>
                                        <dt>{% trans %}SM_DISCOUNT{% endtrans %} </dt>
                                        <dd dataerror-group>
                                            <div class="fg-spon-width fg-currency-inputs"> 
                                                <input type="text" name="discount" id="discount" data-key="discount" class="form-control numbermask fg-spon-input-area">
                                                <select name="discountType" data-key="discountType" id="discountType" class="bs-select form-control fg-spon-input-area" aria-invalid="false">
                                                    <option value="P">%</option>
                                                    <option value="A">{{fgclub.get('clubCurrency')}}</option>
                                                </select>   
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                                    
                                {% include 'clubadmin/savebutton.html.twig' %}  
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END CONTENT -->   
  {% include 'ClubadminSponsorBundle:Service:serviceAssignmentTemplate.html.twig' %}  
  <script type="text/template" id="newsletterContentlistWrap">
     
  </script>
 {% endblock %}
{% block javascripts %}
    <script src="{{ asset('fgcustom/js/listRow.js')}}" type="text/javascript"></script>
    <script src="{{ asset('fgcustom/js/page/fg_sponsor_assignment.js')}}" type="text/javascript"></script>
    <script>
        pathGetContent = "{{path('get_newsletter_content',{'newsletterId':newsletterId|default(0)})}}";
        var contactUrl = "{{path('sponsor_collect_contactname')}}";
        var removestring = "{{'NL_AUTOCOMPLETE_REMOVE'|trans}} %s";
        $(document).ready(function() {
            FgSponsorAssignment.Init();
            $(document).off('click', '.fg-dev-contact-names');
    $(document).on('click', '.fg-dev-contact-names', function(e) {
        $(this).parent().toggleClass('fg-arrowicon');
    });
        });
    </script>
{% endblock %}
