<!DOCTYPE html>
<!--Template Name: Metronic 4.0.2-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="fairgate">
<!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        {{ include('::internal/meta.html.twig', {'title': pageTitle}) }}
        <!-- BEGIN CSS -->
        {% block stylesheets %}                                   
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            {{ include('::internal/corelevel-styles.html.twig') }}
            <!-- END GLOBAL MANDATORY STYLES -->
            
            <!-- BEGIN PAGELEVEL -->
            {{ include('::internal/applevel-styles.html.twig') }}
            <!-- END DYMANICLY LOADED CSS FILES -->
            
            <!-- BEGIN THEME STYLES -->
            {{ include('::internal/theme-styles.html.twig') }}
            <!-- END THEME STYLES -->
            
            <!-- BEGIN FAIRGATE CUSTOM STYLES -->
            {{ include('::internal/fairgate-styles.html.twig') }}
            <!-- END FAIRGATE CUSTOM STYLES -->
            
            <!-- BEGIN PAGE STYLES -->
            {% block customstylesheets %}
                
            {% endblock %}
            <!-- END PAGE STYLES -->                        
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('fgassets/global/img/favicon.ico') }}" />
        {{ include('::global/google-analytic.html.twig') }}
        <!-- END CSS -->
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="page-header-fixed page-sidebar-fixed page-footer-fixed" id="BaseController" data-ng-controller="BaseController">
        <!-- BEGIN HEADER -->
        <div id="intranet-header">
        <!-- HEADER UNDERSCORE TEMPLATE -->
        </div>
        <!-- END HEADER -->
        <div class="clearfix"> </div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
        {{ include('::global/sidebar.html.twig') }}            
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT -->
                <div id="fg-wrapper" class="page-content">                     
                    {% block pagecontent %}
                    <!-- PAGE LEVEL CONTENT WILL BE DISPLAYED HERE -->
                    {% endblock %}                                      
                    <div id="fg-popup" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-full">
                            <div class="modal-content" id="fg-dev-popup-model">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        {{ include('::clubadmin/footer.html.twig') }}
        <!-- END FOOTER -->

        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN PAGE LEVEL UNDERSCORE TEMPLATE -->
        <div id="divTemplates">
        {{ include('::internal/templateTopNavMenu.html.twig') }}
        {{ include('::internal/sidebartemplates.html.twig') }}
        {% block underscoretemplate %}    
            
        {% endblock %}
        </div>
        <!-- END PAGE LEVEL UNDERSCORE TEMPLATE -->
        {% block scripts %}
            <!-- BEGIN CORE JQUERY AND ANGULARJS PLUGINS -->           
            {{ include('::internal/corelevel-scripts.html.twig') }}
            <!-- END CORE JQUERY AND ANGULARJS PLUGINS -->                        
            
            <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
            {{ include('::internal/applevel-scripts.html.twig') }}
            <!-- END APP LEVEL JQUERY SCRIPTS -->
            
            <!-- BEGIN FAIRGATE SCRIPTS -->
            {{ include('::internal/fairgate-scripts.html.twig') }}
            <!-- END FAIRGATE SCRIPTS -->           
                                    
            <script type="text/javascript">
		/* Init Metronic's core jquery plugins and layout scripts */
                var index_url = "{{ path('internal_dashboard') }}";
		$(document).ready(function() {
                        FgInternal.topNavigation("{{ path('internal_header') }}", 'intranet-header', '{{ {"module":(app.request.attributes.get('module') ? app.request.attributes.get('module') : 'null'), 'level1':(app.request.attributes.get('level1') ? app.request.attributes.get('level1') : 'null'), 'level2':(app.request.attributes.get('level2') ? app.request.attributes.get('level2') : 'null')}|json_encode|raw }}');
			Metronic.init(); // Run metronic theme
                        Layout.init(); // init current layout     
		});
            </script>            
            <!-- BEGIN PAGE LEVEL SCRIPTS -->            
            {% block javascripts %}
                
            {% endblock %}
            <!-- END PAGE LEVEL SCRIPTS -->
                        
        {% endblock %}
        
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>
