<!DOCTYPE html>
<!--Template Name: Metronic 4.0.2-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        {{ include('::internal/meta.html.twig', {'title':pageTitle}) }}
        <!-- BEGIN CSS -->
        {% block stylesheets %}                                   
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            {{ include('::internal/corelevel-styles.html.twig') }}
            <!-- END GLOBAL MANDATORY STYLES -->
            
            <!-- BEGIN PAGELEVEL -->
            {{ include('::internal/applevel-styles.html.twig') }}
            <!-- END DYMANICLY LOADED CSS FILES -->
            
            <!-- BEGIN THEME STYLES -->
            {{ include('::internal/theme-styles.html.twig') }}
            <!-- END THEME STYLES -->
            
            <!-- BEGIN FAIRGATE CUSTOM STYLES -->
            {{ include('::internal/fairgate-styles.html.twig') }}
            <!-- END FAIRGATE CUSTOM STYLES -->
            
            <!-- BEGIN PAGE STYLES -->
            {% block customstylesheets %}
                
            {% endblock %}
            <!-- END PAGE STYLES -->                        
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('fgassets/global/img/favicon.ico') }}" />
        {{ include('::global/google-analytic.html.twig') }}
        <!-- END CSS -->  
        
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="login">
        <!-- BEGIN LOGO -->       
        <div class="fg-intern-logo-wrapper">            
            <div class="fg-logo">
                {% set clubLogoImg = fgclub.getClubLogoPath() %}
                <img alt="" src="{{ clubLogoImg }}">   
            </div>            
            <div class="fg-logo-text">
                {{ 'INTERNAL_AREA'|trans|upper }}
            </div>            
            <div class="clearfix"></div>            
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        {% block logincontent %}
            <!-- PAGE LEVEL CONTENT WILL BE DISPLAYED HERE -->
        {% endblock %}

        <!-- END LOGIN -->
        
        <!-- END CONTAINER -->

        <!-- BEGIN FOOTER -->
        
        <!-- END FOOTER -->

        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        {% block scripts %}
            <!-- BEGIN CORE JQUERY AND ANGULARJS PLUGINS -->           
            {{ include('::internal/corelevel-scripts.html.twig') }}
            <!-- END CORE JQUERY AND ANGULARJS PLUGINS -->                        
            
            <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
            {{ include('::internal/applevel-scripts.html.twig') }}
            <!-- END APP LEVEL JQUERY SCRIPTS -->
            
            <!-- BEGIN FAIRGATE SCRIPTS -->
            {{ include('::internal/fairgate-scripts.html.twig') }}
            <!-- END FAIRGATE SCRIPTS -->           
            
            <script type="text/javascript">
		/* Init Metronic's core jquery plugins and layout scripts */
		$(document).ready(function() {   
			Metronic.init(); // Run metronic theme
			Metronic.setAssetsPath('../../../assets/'); // Set the assets folder path			
                        FgInternal.enterkeypress();// init enter press for login
		});
            </script>            
            <!-- BEGIN PAGE LEVEL SCRIPTS -->            
            {% block javascripts %}
                
            {% endblock %}
            <!-- END PAGE LEVEL SCRIPTS -->            
        {% endblock %}
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>
