{% block pagecontent %}
    <!-- SIDEBAR TEMPLATE -->
    <div id="divTemplates">
            {{ include('::internal/sidebar/sidebar-top.html.twig') }}
            {{ include('::internal/sidebar/sidebar-menu.html.twig') }}
            {{ include('::internal/sidebar/sidebar-menu2level.html.twig') }}
            {{ include('::internal/sidebar/sidebar-settings.html.twig') }}
            {{ include('::internal/sidebar/sidebar-options.html.twig') }}
            {{ include('::internal/sidebar/sidebar-menu2level-level2-script.html.twig') }}
    </div>
    <!-- SIDEBAR TEMPLATE -->
{% endblock %}
{% block javascripts %}
{% endblock %}