<script type="template" id="fg-dropzone-underscore-theme2">
 <%
 var i =0;
 _.each(data, function(datas,id) {
   
  i++;
 %>   
     
    <div class="form-group col-md-12 fg-clear" >
     <% if((id == 0)||(id==1)) { 
         var selTheme = [{'value':'{{ 'TM_HEADER_POSITION' |trans}}'},{'value':'{{ 'TM_LOGO_POSITION' |trans}}'}];
 
          %>  
          <label class=" col-md-3 col-sm-4 control-label fg-pad-top-0" for="attachments" >
            <span class="fg-dotted-br" data-toggle="tooltip" data-original-title= <% if(id == 0) { %>"{{ 'TM_HEADER_LOGO_TOOLTIP' |trans}}" <% }else if(id == 1){ %>"{{ 'TM_DEFAULT_LOGO_TOOLTIP' |trans}}" <% } %>><%- selTheme[id].value %></span>
        </label>
        <% } %>  
        <% if(id == 0) { 
            var headerlogoOptions=[{value:'full_width',id:1,trans:'{{ 'TM_FULL_WIDTH' |trans}}' },{value:'content_area_width',id:2,trans:'{{ 'TM_CONTENT_WIDTH' |trans}}' },{value:'banner_right_aligned',id:3,trans:'{{ 'TM_BANNER_RIGHT' |trans}}' },{value:'banner_left_aligned',id:4,trans:'{{ 'TM_BANNER_LEFT' |trans}}' }]
         %>  
         
	<div class="col-md-9 col-sm-8 fg-header-logos">
            <div class="fg-clear theme2LogoOptions" >
                <% var checkedheader = '';
                    var p =0;
                _.each(headerlogoOptions,function(headeropt,index){
                    checkedheader = '';
                    if(headeropt.value==headerPosition){
                        checkedheader='checked';
                    }
                    p++;
                 %> 
                    <label class="radio-inline fg-pad-left-0" for="radios-<%- i %><%- p %>"  >
                      <input type="radio" name="fg-theme-conf-style" id="radios-<%- i %><%- p %>" value="<%- headeropt.value %>" <%- checkedheader %>  >
                       <span data-toggle="tooltip" data-original-title="" class="fg-dotted-br"> <%- headeropt.trans %> </span>
                    </label> 
                   <%});%>
            </div>
	</div>
         <% }  %>
     
         <% if(id == 1) { 
            var checkedlogo = '';
            var logoOptions=[{value:'left',id:1,trans:'{{ 'TM_LOGO_LEFT' |trans}}' },{value:'center',id:2,trans:'{{ 'TM_LOGO_CENTER' |trans}}' },{value:'right',id:3,trans:'{{ 'TM_LOGO_RIGHT' |trans}}' }]
        %>  
	<div class=" col-md-9 col-sm-8 fg-header-logos">
            <div class="fg-clear theme2LogoOptions" >
                <%  var p =0;
                _.each(logoOptions,function(logoopt,index){ 
                     checkedlogo = '';
                     p++;
                      if(logoopt.value==logoPosition){
                            checkedlogo='checked';
                        }%> 
                         <label class="radio-inline fg-pad-left-0 fg-pad-top-0" for="radios-logo-<%- i %><%- p %>"  >
                           <input type="radio" name="fg-theme-logo-style" id="radios-logo-<%- i %><%- p %>" value="<%- logoopt.value %>" <%- checkedlogo %>  >
                            <span data-toggle="tooltip" data-original-title="" class="fg-dotted-br"> <%- logoopt.trans %>   </span>
                         </label> 
                        <%});%>
            </div>
        </div>
         <% }  %>
                
   <%     
var selThemeLabels = ['{{ 'TM_HEADER_LOGO' |trans}}', '{{ 'TM_DEFAULT_IMAGE' |trans}}', '{{ 'TM_MOBILE_IMAGE' |trans}}']; 
  %>  
        <div class="clearfix"></div>
        </div>
        <div class="form-group col-md-12 fg-clear fg-header-logos">
             <label class=" col-md-3 col-sm-4 control-label" for="attachments" > <span class="fg-dotted-br" data-toggle="tooltip" data-original-title= <% if(id == 0) { %>"{{ 'TM_HEADER_LOGO_TOOLTIP' |trans}}" <% }else if(id == 1){ %>"{{ 'TM_DEFAULT_LOGO_TOOLTIP' |trans}}" <% }else{ %>"{{ 'TM_MOBILE_SCREEN_LOGO_TOOLTIP' |trans}}" <%  } %>><%- selThemeLabels[id] %></span> </label>
                <div  class="col-md-7 col-sm-8 ">
                        <div class="fg-custom-dropzone-wrapper">
                                <div data-auto="design_template_dropzone"  id="fg-files-uploaded-lists-wrapper<%- id %>" class="fg-dropzone-area mydropzonedata " data-fileId="">
                                        <div class="fg-messages">
                                                <h3> {%trans%}DROPZONE_IMAGE{%endtrans%}</h3>
                                                <p> ({%trans%}DROPZONE_CLICK{%endtrans%})</p>
                                        </div>
                                        <button type="button" class="fg-invisible-button"  id="triggerFileUpload<%- id %>"></button>
                                        <input type="file" id="image-uploader<%- id %>" name="image-uploader" style="height:0px;width:0px;visibility: hidden" />

                                </div>
                                <div class="fg-dropzone-error " id="image-upload-error-container">
                                </div>
                        </div>
                        <div class="hide" id="image-error-noimg-container">
                                <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{'FILE_UPLOAD_ERROR'|trans}}
                                </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
              
            <input type="hidden" id="header-type<%- id %>" value="<%- datas %>" name="header-type" />
            <input type="hidden" class=" hide imagefile-req"  id="cms_header_file<%- id %>" name="cms_header_file<%- id %>" value=""  >
            <input type="text" class=" hide imagefile-changed"   id="cms_header_changed<%- id %>" value="0" name="header-changed" />
            <input type="hidden" class=" imagefile-id"  id="cms_header_id<%- id %>" name="cms_header_id<%- id %>" value=""  >
            <input type="text" class="hide imagefile-delete"  id="cms_header_removed<%- id %>" name="cms_header_removed<%- id %>" value="0"  >
            <input type="text" class="hide imagefield-req" data-key="cms_header<%- id %>" id="cms_header<%- id %>" name="cms_header<%- id %>" value=""  >
            <input type="text" class="hide theme-req" data-key="cms_theme-header-id" id="cms_theme-header-id" name="cms_theme-header-id" value="2"  >
        </div>
    

 <% }) %>
</script>
<script type="text/template" id="fileUploadError">
   <p><span class="help-block">
       <% if (error == 0) { %> {{'FILEMANAGER_UPLOAD_FILETYPE_ERROR'|trans}}
       <% } else if (error == 1) { %> {{'FILEMANAGER_UPLOAD_VIRUS_ERROR'|trans}}
       <% } else if (error == 2) { %> {{'VIRUS_FILE_CONTACT'|trans}}
       <% } else { %> <%- error %> <% } %></span></p>
</script>