<script type="text/template" id="newMembershipElement">
    <li class="list-group-item" id="formElement_<%= data.formFieldId %>" data-source="<%=(!_.isUndefined(data.source)?data.source:'')%>">
        <input type="text" class="fg-dev-newfield fg-dev-sortOrder hide fieldSort" data-key="<%- data.formId %>.<%- data.formFieldId %>.formElementSortOrder" 
                id="formElementSortOrder_<%- data.formFieldId %>" name="formElementSortOrder_<%- data.formFieldId %>" value="<%=data.formElementSortOrder%>">
                        
        <input type="text" class="fg-dev-newfield fg-dev-fieldtype hide fieldType" data-key="<%- data.formId %>.<%- data.formFieldId %>.form_field_type" 
                id="formFieldType_<%- data.formFieldId %>" name="formFieldType_<%- data.formFieldId %>" value="club-membership">
        <i class="fa fa-2x fa-ellipsis-v fg-sort-row fg-dev-field-sort-handle"></i> 
        <div class="fg-delete-row" element_type='Membership'>
            <input type="checkbox" class="make-switch fg-dev-field-delete fg-dev-newfield fieldDelete" data-key="<%- data.formId %>.<%- data.formFieldId %>.isDeleted" id="isDeleted_<%- data.formFieldId %>" name="isDeleted_<%- data.formFieldId %>" >
            <label for="isDeleted_<%- data.formFieldId %>"></label>
        </div>
        <div class="fg-sortable-list-item-wrapper">
         
                <div class="fg-clear">                
                    <label class="col-sm-3 fg-pad-right-0 col-md-3 fg-member-default fg-pad-top-7">{{'FORM_MEMBERSHIP_LABEL'|trans}} <%= data.isRequired == 1 ? '<span class="fg-field-required-icon fa fa-asterisk"></span>':''%></label>                    
                    <label class="col-sm-3 fg-pad-right-0 col-md-3 fg-member-hiden-selection fg-pad-top-7" style="display:none"><i>{{'APPLICATION_FORM_HIDE_ELEMENT'|trans}}</i> :<i id='fg-selcted-membership'></i>  <%= data.isRequired == 1 ? '<span class="fg-field-required-icon fa fa-asterisk"></span>':''%></label>
                    <div class="col-sm-3 col-md-2 fg-hide-membeship-selection">
                        <select name="<%- data.formFieldId %>_fieldType"   id="club_membership_<%- data.formFieldId %>" class="selectpicker form-control fg-dev-newfield form_field_type fg_dev_membership_field" data-key="<%- data.formId %>.<%- data.formFieldId %>.clubMembershipSelection"  fieldId = "<%- data.formFieldId %>" multiple>
                   <% var allSelect = (data.clubMembershipSelection=='ALL') ? "selected='selected'" :'';   %>    
                 
                    <option value="all" class='single fg-dev-separator fg-all'  <%= allSelect %>>{{'FORM_FIELD_ALL'|trans}}</option>
                            <% _.each(data.membershipArray, function(fieldValues) { 
                                var selectedoptions =  (_.contains(data.clubMembershipId,String(fieldValues.id))) ? "selected='selected'" :'';  %>
                                <option value="<%- fieldValues.id %>" <%- selectedoptions %> class="multiple"><%- fieldValues.membershipName %></option>

                           <% }); %>

                        </select> 
                    </div> 
                    <div class="col-sm-2 fg-pad-top-7 membership-type-label" >
                        <i>{{'FORM_SELECT_FIELD'|trans}}</i> 
                    </div>
                   
                    <div class="col-sm-2 pull-right fg-pad-left-0 text-right <%=(data.clubMembershipSelection != '')?'':'hide'%>" id="isActive_<%- data.formFieldId %>_container">
                        <label class="switch-light switch-light-sm fg-onoff-switch" onClick="">
                            <input type="checkbox" name="<%- data.formFieldId %>_isActive" id="isActive_<%- data.formFieldId %>" class="make-switch fg-dev-newfield" data-key="<%- data.formId %>.<%- data.formFieldId %>.isActive" <%=(data.formElementIsActive == 0)?'':'checked="checked"'%>>
                            <span> 
                                <span>{{'ON'|trans}}</span>
                                <span>{{'OFF'|trans}}</span>                                                                    
                            </span>
                            <a class="btn btn-primary"></a>
                        </label>
                    </div>
             <div class="col-sm-2 pull-right <%=(data.clubMembershipSelection != '')?'':'hide'%>" id="typeOptions_<%- data.formFieldId %>_container" >
                        <a href="#typeOptions-<%= data.formFieldId %>" option_type='CF' class="fg-toggle-link collapsed" data-toggle="collapse"><i class="fa fa-minus-square-o"></i> {{'CMS_FORM_FIELD_OPTION_LINK'|trans}}</a>
                    </div>
         </div>
             
        </div>
        <div id="typeOptions-<%= data.formFieldId %>" class="collapse row fg-clear">
               


        </div>
    </li>
</script>
<script type="text/template" id="emptyMembershipTypeeError">
<div class="alert alert-danger alert-br" id="alert_noMembershipError">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
    <p>{{'MEMBERSHIP_FIELDTYPE_ERROR'|trans}}</p>            
</div>
</script>


