<div class="modal-header fg-modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 data-display="single" class="modal-title">{{(deleteFlag == 1) ? 'GN_LANGUAGE_DELETE_POPUP_TITLE'|trans : 'GN_LANGUAGE_POPUP_TITLE'|trans }}</h4>
    <h4 data-display="multi" class="modal-title hide">{{(deleteFlag == 1) ? 'GN_LANGUAGE_DELETE_POPUP_TITLE_MULTI'|trans : 'GN_LANGUAGE_POPUP_TITLE_MULTI'|trans }}</h4>
</div>
<div class="modal-body fg-modal-text">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body form">
                <p data-display="single" class="fg-marg-top-0">{{(deleteFlag == 1) ? 'GN_LANGUAGE_DELETE_POPUP_MSG'|trans : 'GN_LANGUAGE_POPUP_MSG'|trans }}</p>
                <p data-display="multi" class="hide fg-marg-top-0">{{(deleteFlag == 1) ? 'GN_LANGUAGE_DELETE_POPUP_MSG_MULT'|trans : 'GN_LANGUAGE_POPUP_MSG_MULT'|trans }}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer form-actions fg-modal-footer">
    <button type="button" class="btn default" id="cancel" data-dismiss="modal" data-function="cancel">{{'CANCEL'|trans}}</button> 
    <button type="button" class="btn green" id="save" data-function="save">{{'SAVE'|trans}}</button>  
</div> 

<script type="text/javascript">
  
</script>
