<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{ 'CHANGE_PASSWORD_TITLE'|trans }}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-row-sepe" name="changePassword" id="changePassword">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4" for="currentpassword">{{ 'CURRENT_PASSWORD'|trans }}</label>
                            <div class="col-lg-7 col-md-7">
                                <input type="password" class="form-control" id="currentpassword" name="currentpassword" required="true" minlength="4"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4" for="newpassword">{{ 'NEW_PASSWORD'|trans }}</label>
                            <div class="col-lg-7 col-md-7">
                                <input type="password" class="form-control" id="newpassword" name="newpassword" required="true" minlength="4"/>                     
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4" for="repeatpassword">{{ 'REPEAT_NEW_PASSWORD'|trans }}</label>
                            <div class="col-lg-7 col-md-7">
                                <input type="password" class="form-control" id="repeatpassword" name="repeatpassword" required="true" minlength="4"/>                
                            </div>
                        </div> 

                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
    {% include 'internal/savebuttonPopup.html.twig' %}
</div>
{% block javascripts %}
    <script>
        $('#savePopup').on('click', function () {
            if ($('#changePassword').valid() === false) {
                return false;
            }
            if ($('#newpassword').val() != $('#repeatpassword').val()) {
                var errors = {newpassword: "", repeatpassword: "{{ 'PASSWORDS_DONT_MATCH_MSG'|trans }}" };
                $("#changePassword").validate().showErrors(errors);
                return false;
            }

            FgXmlHttp.post("{{ path('user_update_password') }}", $('#changePassword').serialize(), false, updateSuccess, updateFailure, true);
            return false;
        });
                    
        function updateSuccess() {
            FgModelbox.hidePopup();
        }

        function updateFailure(result) {
            $("#changePassword").validate().showErrors(result['errorArray']);
            return false;
        }
    </script>
{% endblock %}