<div class="modal-footer form-actions fg-modal-footer">
    <button type="button" class="btn default"  {% if (reset_button_id is defined) %} id="{{reset_button_id}}" {% else %}  id="cancel" {% endif %} data-dismiss="modal" data-function="cancel">{{'CANCEL'|trans}}</button> 
    <button type="button" class="btn green" {% if (save_button_id is defined) %} id="{{save_button_id}}" {% else %} id="save" {% endif %} data-function="save">{% if (save_button_val is defined) %}{{save_button_val}}{% else %}{{'CONFIRM_DUPLICATE_BUTTON'|trans}}{% endif %} </button>        
</div> 