{% if(articleData|length > 0) %}
    {% for key, data in articleData %}
        {% set fgClubTag = '' %}
        {% set areaArray = [] %}
        {% set categoryArray = [] %}
        <section class="fg-article-wrapper fg-article-left-img fg-article-link" data-url="{{data.detailsUrl}}">

            <div class="col-md-12 fg-pad-0 fg-content">
                {% set teaser = (data.teaser == '')?(data.text|raw):(data.teaser|raw) %}
                
                {% if(data.isAllArea == 1 or data.sharedClub == 1 or data.areaCount != 1) %}
                    {% if (data.isClub == 1 and data.isCurrentClub) %}
                        {% set fgClubTag = fgtwig.getTerminolgyName('Club',singular,'UCF') %}
                    {% endif %}
                    {% if(data.AREAS != '' and data.AREAS != null)  %}
                        {% set areaArray = data.AREAS|split("*##*")  %}   
                    {% endif %}
                {% endif %}
                
                {% if(data.isAllCategory == 1 or data.categoryCount != 1 or data.sharedClub == 1) %}
                    {% if(data.CATEGORIES != '' and data.CATEGORIES != null) %}
                        {% set categoryArray = data.CATEGORIES|split("*##*")  %}
                   {% endif %}
                {% endif %}
                
                {% if(data.FIRST_IMAGE) %}
                    <figure class="col-sm-4" style="background-image:url('/uploads/{{data.club_id}}/gallery/{{displayWidth}}/{{data.FIRST_IMAGE}}'">
                        <img src="/uploads/{{data.club_id}}/gallery/{{displayWidth}}/{{data.FIRST_IMAGE}}" alt =""/>
                    </figure>   
                        
                    <div class="fg-right-col">
                        <div class="fg-article-inner-content">
                            <div class="fg-text-wrapper">
                                {% if(displayWidth == 'width_580') %}
                                <header>
                                    <h4>{{data.title}}</h4>
                                </header>
                                {% endif %}
                                <span class="fg-teaser">
                                    {{teaser|raw}}
                                </span>
                                <a href="{{data.detailsUrl}}" class="fg-read-more fg-readmore-text"><i class="fa fa-arrow-circle-right"></i>{{'CMS_ADD_ARTICLE_READ_MORE'|trans}}</a>
                                <footer>
                                   <div class="fg-post-date pull-left">{{fgclub.formatDate(data.PUBLICATION_DATE,'date')}}</div>
                                   <div class="pull-right fg-block fg-cat-tags">
                                       {% if(data.areaTooltip != '')  %}
                                        <span class="fg-club-tag">{{ data.areaTooltip }}</span>
                                    {% endif %}
                                    {% if fgClubTag is defined and fgClubTag != ''%}<span class="fg-club-tag">{{ fgClubTag }}</span>{% endif %}
                                    {% for index, area in areaArray  %}
                                        <span class="fg-club-tag">{{ area }}</span>
                                    {% endfor %}
                                    {% if(data.catTooltip != '')  %}
                                        <span class="fg-cat-tag">{{ data.catTooltip }}</span>
                                    {% endif %}
                                    {% for index,category in categoryArray %}
                                        <span class="fg-cat-tag">{{ category }}</span>
                                    {% endfor %}
                                </div>
                                </footer>
                            </div>
                            <a href="{{data.detailsUrl}}" class="fg-read-more"><i class="fg-icon-right-angle-right fg-icon"></i></a>
                        </div>
                    </div>
                {% else %}
                    <div class="fg-article-inner-content">
                        <header>
                            <h4>{{data.title}}</h4>
                        </header>
                        <div class="fg-text-wrapper">

                            
                            <span class="fg-teaser">
                                {{teaser|raw}}
                            </span>

                            <a href="{{data.detailsUrl}}" class="fg-read-more fg-readmore-text"><i class="fa fa-arrow-circle-right"></i>{{'CMS_ADD_ARTICLE_READ_MORE'|trans}}</a>
                            <footer>
                                <div class="fg-post-date  pull-left">{{fgclub.formatDate(data.PUBLICATION_DATE,'date')}}</div>
                                
                                <div class="pull-right fg-block fg-cat-tags">
                                    {% if(data.areaTooltip != '')  %}
                                    <span class="fg-club-tag">{{ data.areaTooltip }}</span>
                                {% endif %}
                                    {% if fgClubTag is defined and fgClubTag != ''%}<span class="fg-club-tag">{{ fgClubTag }}</span>{% endif %}
                                    {% for index, area in areaArray  %}
                                    <span class="fg-club-tag">{{ area }}</span>
                                {% endfor %}
                                {% if(data.catTooltip != '')  %}
                                    <span class="fg-cat-tag">{{ data.catTooltip }}</span>
                                {% endif %}
                                {% for index,category in categoryArray %}
                                    <span class="fg-cat-tag">{{ category }}</span>
                                {% endfor %}
                                </div>
                            </footer>
                        </div>
                        <a href="{{data.detailsUrl}}" class="fg-read-more"><i class="fg-icon-right-angle-right fg-icon"></i></a>
                        
                    </div>
                {% endif %}

            </div>
            <div class="clearfix"></div>
        </section>
    {% endfor %}
 {% else %}
     <div class="fg-cms-empty-box-wrapper">
        <p class="text-center">{{'CMS_NO_ARTICLE_MESSAGE'|trans}}</p>
    </div>        
{% endif %}