<div class="modal-header fg-modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">{{ contactName }}</h4>
</div>
<div class="modal-body fg-modal-text">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-group fg-overview-list">
                        <dl>
                            {% for key, title in contactFields %}
                                    <dt>{{title}}</dt>
                                    {% if (key == 'email') %}
                                        {% set fieldValue = '<a href='~"mailto:"~externalApplData[key]~'>'~externalApplData[key]~'</a>' %}
                                        <dd>{{fieldValue|raw}}</dd>
                                    {% elseif (key == 'gender')%}
                                        {% set fieldValue = (externalApplData[key]) ? externalApplData[key] : '-'%}
                                        <dd>{{(fieldValue == 'male')?'CN_MALE'|trans:'CN_FEMALE'|trans}}</dd>
                                    {% else %}
                                        {% set fieldValue = (externalApplData[key]) ? externalApplData[key] : '-'%}
                                        <dd>{{fieldValue|nl2br}}</dd>
                                    {% endif %}

                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" id="cancelPopup" data-dismiss="modal">{{ 'CLOSE_BUTTON_TEXT'|trans }}</button> 
</div> 
