<table class= "dataTable
                table
                table-bordered
                table-hover
                table-condensed
                dataTable-rows
                logDataTableClass
                dataTable-scroll-x
                dataTable-initialSort" xWidth="100" data-table-name="dataTables" id="log_display_{{ clubId }}_{{ typeId }}" data-sort="0#desc">
    <thead>
        <tr>
            <th>{% trans %}LOG_DATE{% endtrans %}</th>
            <th>{% trans %}LOG_DATA_FIELD{% endtrans %}</th>
            <th>{% trans %}LOG_BEFORE{% endtrans %}</th>
            <th>{% trans %}LOG_AFTER{% endtrans %}</th>
            <th>{% trans %}LOG_EDITED_BY{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for logEntry in logEntries %}
            <tr>
                <td data-sort="{{ logEntry.dateOriginal }}">{{ logEntry.date }}</td>
                {% set colorFlag = (logEntry.status != "none") ? logEntry.status : '' %}
                {% if (colorFlag != '') %}   
                    <td>{{ logEntry.field }} <span class="label label-sm fg-color-{{ colorFlag }}">{{ transKindFields[colorFlag]|trans|capitalize }}</span></td>
                {% else %}
                    <td>{{ logEntry.field }}</td>
                {% endif %}
                <td>{{ logEntry.value_before }}</td>
                <td>{{ logEntry.value_after }}</td>                    
                <td>{{ logEntry.changedByName }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>