{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::clubadmin/layout.html.twig' %}
{% set pageTitle = contactData['contactName'] %}
{% block pagecontent %}
    <!-- BEGIN CONTENT -->
    <!-- BEGIN PAGE HEADER-->
    {% set federationTerminology = fgtwig.getTerminolgyName('Federation',singular)%}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet-body fg-theme-yellow">
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        {% include 'clubadmin/breadcrumb.html.twig' with {'breadCrumb':{'back': path('contact_index') }} %}
                        {% if missingReqAssgment > 0 and isReadOnlyContact == 0 %}
                            <div id="MissingReqAssgmtError" class="alert alert-warning alert-dismissable ">
                                <button class="close" data-close="alert"></button>
                                <strong>{{'ATTENTION'|trans}}! </strong><span>{% trans with {'%fedmember%':  federationTerminology,'%a%':"<a href='"~path('contact_assignments',{'offset':offset,'contact':contactId})~"'>",'%b%':"</a>"} %}REQ_FED_SUBFED_ROLE_MISSING_ASSIGNMT_CONTACT{% endtrans %} </span>
                            </div>
                        {% endif %}
                      {#  {% include 'clubadmin/panel-tabs.html.twig' with {'contactName':contactData['contactname'],'contactId':contactData['id'],'active':'loglisting', 'contactType':type} %}
                      #}
                      <div class="row">
                        {% set page_settings = { 'pagetitle':'true','tabs':'true'}  %}
                        {% include 'clubadmin/page-title-bar.html.twig' with {'pageTitle': contactData['contactname'] ,'page_settings': page_settings, 'tabs': tabs, 'type':'overview', 'hrefLink' : true, 'url':"#", 'contactType':type} %}   
                      </div>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                        <div class="row fg-common-top fg-contact-data">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <div class="tabbable-custom ">
                                        <ul  class="nav nav-tabs data-more-tab" id="data-tabs">
                                            {% for key,logTab in logTabs %}
                                                {% set transEditText = 'LOG_EDITABLE'|trans%}
                                                {% set spanedit = ' <span class="label label-sm fg-color-changed">'~transEditText~'</span>'%}
                                                {% set active = (key == activeTab) ? 'active': '' %}
                                                    <li id="data_li_{{ key }}" class="{{ active }}" data-tab = "{{logTab}}">
                                                    <a class="commonLogClass" data-toggle="tab" data-datatableId="log_display_{{ contactData['id'] }}_{{ key }}" href="#log-table_{{ contactData['id'] }}_{{ key }}">{{ transKindFields[logTab]|trans|capitalize }} {{(isMembershipEditable and logTab== 'membership') ? spanedit|raw : ''}}{{ ( clubType!='federation' and logTab== 'fed_membership')?clubLogo|raw:''}}{{(fedmembershipEdit and logTab== 'fed_membership') ?spanedit|raw : ''}}</a>
                                                </li> 
                                            {% endfor %}  
                                            {#more tab#}
                                            <li class="datahideshow dropdown" ><a href="#"  id="fg-contact-more-tab" class="dropdown-toggle" data-toggle="dropdown">{{ 'MORE'|trans }}<i class="fa fa-angle-down"></i></a>
                                                <ul class="dropdown-menu">
                                                    {% set transEditText = 'LOG_EDITABLE'|trans%}
                                                    {% set spanedit = ' <span class="label label-sm fg-color-changed">'~transEditText~'</span>'%}
                                                    {% for key,logTab in logTabs %}
                                                        {% set active = (key == activeTab) ? 'active': '' %}
                                                        <li id="data_li_{{ key }}" class="{{ active }}" data-tab = "{{logTab}}">
                                                            <a class="commonLogClass" data-toggle="tab" data-datatableId="log_display_{{ contactData['id'] }}_{{ key }}" href="#log-table_{{ contactData['id'] }}_{{ key }}">{{ transKindFields[logTab]|trans|capitalize }}{{(isMembershipEditable and logTab== 'membership') ? spanedit|raw : ''}}{{ ( clubType!='federation' and logTab== 'fed_membership')?clubLogo|raw:''}}{{(fedmembershipEdit and logTab== 'fed_membership') ?spanedit|raw : ''}}</a>
                                                        </li> 
                                                    {% endfor %}                                                       
                                                </ul>
                                            </li>
                                            {# more tab ends #}
                                        </ul>
                                        <div class="col-xs-12 col-md-5 col-sm-6 fg-contact-log-filter-box fg-has-filter">
                                             <div class="fg-filter-check-icon fg-has-no-search" data-toggle="tooltip"><input type="checkbox" autocomplete="off" id="fg_contact_log_date_filter_flag" name="fg_contact_log_date_filter_flag"></div>
                                            <div class="btn-group pull-right logtableFilter" data-toggle="tooltip">
                                                <button class="btn tableactionright"  data-toggle="dropdown"> <i class="fa fa-table fa-2x"></i> </button>
                                                <ul class="dropdown-menu pull-right fg-drpmenu-new dropdown-menu-form padinten hold-on-click">
                                                    <li><div id="fg_contact_log_row_change" ></div></li>                                                        
                                                </ul>
                                            </div>
                                        </div>
{#                                        <div class="fg-log-filter"><button id="fgContactLog" data-toggle="dropdown" class="btn tableaction"><i class="fa fa-filter fa-2x"></i></button></div>#}
                                        <div class="fg-clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="data-tabs-content" class="tab-content fg-datatable-body-static">   
                            {% for key,logTab in logTabs %} 
                                {% set active = (key == activeTab) ? 'active': '' %}
                                <div class="portlet-body tab-pane new-table-height logTabs {{ active }}" id="log-table_{{ contactData['id'] }}_{{ key }}">
                                    {% include 'ClubadminContactBundle:Log:logListing.html.twig' with { 'transKindFields':  transKindFields, 'contactData': contactData, 'activeTab' : logTab, 'typeId' : key , 'languageList' : languageList, 'countryList' : countryList, 'countryAttrIds' : countryAttrIds, 'languageAttrIds' : languageAttrIds, 'transArr' : transArr} %}
                                </div>
                            {% endfor %}  
                        </div>
                        
                        {#to show notes popup#}
                        <div id="notes-popup" class="hide">
                            <div class="modal-header fg-modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title" id="note-modal-title"></h4>
                            </div>
                            <div class="modal-body fg-modal-text">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p id="notes_content"></p>
                                    </div>
                                </div>
                            </div>
                               
                        </div>
                        
                        {#to show delete popup#}
                        <div id="membership-delete-popup" class="hide">
                            <div class="modal-header fg-modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">{% if( clubType!='federation')%}{{'DELETE_MEMBERSHIP_LOG'|trans }}{% else %}{{'DELETE_FEDMEMBERSHIP_LOG'|trans }}{% endif %}</h4>
                            </div>
                            <div class="modal-body fg-modal-text">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>{{ 'DELETE_CONFIRMATION_MSG'|trans }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer form-actions fg-modal-footer">
                                <input type="hidden" name="membershipDeleteParams" value="" id="membershipDeleteId">
                                <button type="button" class="btn default" id="cancel" data-dismiss="modal" data-function="cancel">{{ 'CANCEL'|trans }}</button>
                                <button type="button" class="btn green" id="delete" data-function="delete">{{ 'PERMANENT_DELETE_BUTTON'|trans }}</button>
                            </div>        
                        </div>
                        {#Add membership log popup#}
                        <div class="modal fade" id="membership-add-popup" data-toggle="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">{% if( clubType!='federation')%}{{ 'ADD_MEMBERSHIP_LOG'|trans }}{% else %}{{ 'ADD_FEDMEMBERSHIP_LOG'|trans }}{% endif %}</h4>
                                    </div>

                                    <div class="modal-body">
                                        <!-- The form is placed inside the body of modal -->
                                        <form id="memForm" skipDirtyCheck method="post" class="form-horizontal fg-add-log-form">
                                            <div class="form-group">   
                                                <dl>
                                                    <dt>{{ 'CM_JOINING_DATE'|trans }}</dt>
                                                    <dd>
                                                        <div class='input-group date'>
                                                            <input type="date_range" name="joining_date" id="joining_date" value="" class="form-control filter-log-input" data-event="4" data-tab="membership"/>
                                                            <span class="input-group-addon cal filter-log-date"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>
                                                        <span class="error_joining has-error hide">{{ 'REQUIRED'|trans }}</span>
                                                    </dd>
                                                    <dt>{{ 'CM_LEAVING_DATE'|trans }}</dt>
                                                    <dd>      
                                                        <div class='input-group date'>
                                                            <input type="date_range" name="leaving_date" id="leaving_date" value="" class="form-control filter-log-input" data-event="4" data-tab="membership"/>
                                                            <span class="input-group-addon cal filter-log-date"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>
                                                        <span class="error_leaving has-error hide">{{ 'REQUIRED'|trans }}</span>
                                                    </dd>
                                                    <dt>{% if( clubType!='federation')%}{{ 'CM_MEMBERSHIP'|trans }}{% else %}{{'LOG_FEDMEMBERSHIP'|trans}}{% endif %}</dt>
                                                    <dd>
                                                        <select id="log-fedmembership" name="fedmembership" class="form-control bs-select {% if clubType != 'federation' %} hide{% endif %}" data-fieldname=" {%trans%}MEMBER_CATEGORY{%endtrans%}" data-attrid="fedmembership">
                                                            <option value="">{{'DATA_MEMBERSHIP_SELECT'|trans}}</option>
                                                            {% for key,membership in fedmembershipsArray %}
                                                                <option  data-content=' {{membership}}' value="{{key}}">  {{membership}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <select id="membership" name="membership" class="form-control bs-select {% if (clubType == 'federation')  %} hide{% endif %} " data-fieldname=" {%trans%}MEMBER_CATEGORY{%endtrans%}" data-attrid="membership">
                                                            <option value="">{{'DATA_MEMBERSHIP_SELECT'|trans}}</option>
                                                            {% for key,membership in membershipsArray %}
                                                                <option  data-content=' {{membership}}' value="{{key}}">  {{membership}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <span class="error_membership has-error hide">{{ 'REQUIRED'|trans }}</span>
                                                    </dd> 
                                                    <span class="error_invalid has-error hide">{{ 'MEMBERSHIP_LOG_INVALID_MSG'|trans }}</span>
                                                </dl>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer form-actions fg-modal-footer">
                                        <button type="button" class="btn default" id="cancel" data-dismiss="modal" data-function="cancel">{{ 'CANCEL'|trans }}</button>
                                        <button type="button" class="btn green"  data-function="membership_save">{{ 'SAVE'|trans }}</button>
                                    </div>     
                                </div>
                            </div>
                        </div>
                        {# ends#}
            </div>
                        <!--  Custom pop over html -->
                        <div class="modal fade" id="popup" tabindex="-1" role="basic" aria-hidden="true">
                            <div class="modal-dialog modal-wide">
                                <div class="modal-content fg-popup-wrap" id="popup_contents">
                                </div>
                            </div>
                        </div>
                        {% include 'ClubadminContactBundle:Archive:mergeContact.html.twig' %}
                        <!-- End area -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('fgcustom/js/fg_more_menu.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('fgcustom/js/inline-edit.js')}}" type="text/javascript"></script>
    <script>
        var  transKindFields = {{transKindFields|json_encode()|raw}};
        var languageAttrIds = {{languageAttrIds|json_encode()|raw}};
        var countryAttrIds = {{countryAttrIds|json_encode()|raw }};
        var sysAttrTransIds = {{sysAttrTransIds|json_encode()|raw }};
        var countryList = {{countryList|json_encode()|raw}};
        var languageList = {{languageList|json_encode()|raw}};
        var logTab = {{logTabs|json_encode()|raw}};
        var transArr = {{transArr|json_encode()|raw}};
        var activeTab = "{{activeTab1}}";
        var nlPreviewPath = '{{path('mailings_newsletter_preview', {'status':'sent', 'id': '#nl#'})}}';
        var smPreviewPath = '{{path('mailings_simplemail_preview',{'status':'sent', 'id':'#sm#'})}}';
        var isMembershipEditable = '{{isMembershipEditable}}';
        var membershipNotDelId = '{{membershipNotDelId}}';
        var contactId = '{{contactData['id']}}';
        var contactName = '{{contactData['contactname']}}';
         var deletepath = "{{path('membership_delete')}}";
        var noteModalTitle = "{{'NOTES_CONTENT'|trans }}";
        var assignmentDropdownTrans = "{{ 'ASSIGNMENT_SELECT_DROPDOWN'|trans }}";
        var contact = {{contactId}};
        var fedmembershipEditArr = '{{ fedmembershipEditArr|json_encode()| raw }}';
        var membershipEditArr = '{{ membershipEditArr|json_encode()| raw }}';
        var inlineEditMembershipPath = '{{ path('inlineedit_membership',{'contact':contactId}) }}';
        var membershipLogAddPath = '{{path('membership_log_add')}}';
        var fedmembershipEdit = '{{fedmembershipEdit}}';
        var notDeletableFedMembershipLogId = '{{notDeletableFedMembershipLogId}}';
        var clubType = '{{clubType}}';
        FgPageTitlebar.init({
            title       : true,
            tab       : true,
            search     :false,
            actionMenu  : false,
            tabType  :'server'

        });  

        //handle  reactivate click 
         reactivateOverviewPath = "{{path('get_all_contactids_reactivate')}}";
         reactivateOverviewPopup = "{{path('get_reactivate_popup')}}";
         reactivateSavePath = "{{ path('save_reactivate_contact')}}";
         reactivateOerviewContactId = '{{contactData['id']}}';      
        var contactType = '';
        var overViewPath = '{{ path('render_contact_overview', {'offset' : 0, 'contact' : '**dummy**' }) }}';
    </script>
    <script src="{{ asset('fgcustom/js/fg-contact-log.js') }}" type="text/javascript"></script>   
  
{% endblock %}    