<div class="fg-cms-elements-head-log-wrapper fg-dis-none" id="cmsAddElementHeadingLog">
    <div class="portlet-body new-table-height fg-datatable-wrapper row" id="tableWrapper">
        <table class="dataTable
               table
               table-bordered
               table-hover
               table-condensed
               dataTable-dragable"
               id="datatable-element-log-list" dataTable-popover="true" dataTable-hover="true">
            <thead>
                <tr>
                    <th> &nbsp;&nbsp;{{'CMS_LOG_DATE'|trans}} </th>
                    <th> {{'CMS_LOG_OPTION'|trans}} </th>
                    <th> {{'CMS_LOG_VALUE_BEFORE'|trans}} </th>
                    <th> {{'CMS_LOG_VALUE_AFTER'|trans}} </th>
                    <th> {{'CMS_EDITED_BY'|trans}} </th>
                </tr>
            </thead>
        </table>
    </div>
</div>