<script type='template' id='cms-imgvideo-upload'>
    <li class="fg-files-uploaded-list sortables fg-sort-drag-hover filecontent" id="<%- id %>">
        <div class="fg-col-first-icon fg-sort-drag" name="fg-dev-sorting">
            <i class="fa fa-ellipsis-v ui-draggable handle ui-sortable-handle"></i>
            <input type="text" data-key="element.images.new.<%- id %>.sort_order" id="<%- id %>_sort_order" name="<%- id %>_sort_order" class="hide sort-val fg-dev-sortable fg-dev-newfield" value="" data-element="sortorder" data-sort-parent="fg-files-uploaded-lists-wrapper">
        </div>
        <div class="fg-replacewith-errormsg">
            <div class="col-sm-2 fg-thumb-wrapper">
            </div>
            <div class="col-sm-5 form-group cms-imgvideo-desc">
                <label class="control-label" for="desc">{{ 'CMS_IMAGE_DESC'|trans}}</label>  
                <div class="">
                    {% if(clubLanguageArr|length > 0) %}
                        {% for key, val in clubLanguageArr %}
                            <textarea class="form-control no-resize {% if(defaultClubLang!=val) %} hide {% endif %} fg-dev-newfield" name="imageDesc-<%- id %>-{{ val }}" id="imageDesc-<%- id %>-{{ val }}" data-key="element.images.new.<%- id %>.description.{{ val }}" data-lang="{{ val }}" ></textarea>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-5 cms-imgvideo-link">
                <label class="control-label">{{ 'CMS_IMAGE_LINK'|trans}}</label> 
                <p class="cms-add-link"><a href="#" class="fg-add-link"><i class="fa fa-2x fa-plus-circle "></i><span> {{ 'CMS_IMAGE_ADD'|trans}}</span></a></p>
                <p class="cms-external-link hide"><a target="_blank" href="#" class="fg-link-external"></a> <i class="fa fa-times-circle fg-delete-icon cms-linkdelete"></i></p>
                <p class="cms-internal-link-badge hide"><a target="_blank" href="#" class="fg-link-page cms-internal-link-badge hide"></a> <i class="fa fa-times-circle fg-delete-icon cms-linkdelete"></i></p>
                <input name="cms-link-type" id="cms-link-type"  type="hidden" class="cms-link-type-<%- id %> fg-dev-newfield" data-key="element.images.new.<%- id %>.link_type" >
                <input name="cms-link-val" id="cms-link-val"  type="hidden" class="cms-link-value-<%- id %> fg-dev-newfield" data-key="element.images.new.<%- id %>.link_value" >
                <input name="new-img-name" id="new-img-name"  type="hidden" class="fg-dev-newfield" data-key="element.images.new.<%- id %>.name" value="<%- name %>">
                <input name="new-img-val" id="new-img-val"  type="hidden" class="fg-dev-newfield" data-key="element.images.new.<%- id %>.value" value="<%- value %>">
            </div>
            <div class="col-sm-2 fg-file-size"><%- size %><input type="hidden" class="cms-file-size fg-dev-newfield" data-key="element.images.new.<%- id %>.size" value="<%- size_raw %>"></div>
            <div class="col-sm-3">
                <div class="fg-upload-progress" style="display: block;">
                    <div class="progress ">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="<%- id %>_closeico closeico fg-del-close">
            <input type="checkbox" class="fg-delete">
            <label></label>
        </div>
        <div class="clearfix"></div>
    </li>
</script>
<script type='template' id='cms-imgvideo-upload-edit'>
{% if (editData is defined)%}
{% if (editData|length >0) %}
    {% for key, data in editData %}
        {% if (data.type == 'IMAGE')%}
            <% var ranNo = parseInt(Math.random()*10000000000) %>
            <li class="fg-files-uploaded-list sortables fg-sort-drag-hover filecontent" id="{{ data.item_id }}">
                <div class="fg-col-first-icon fg-sort-drag" name="fg-dev-sorting">
                    <i class="fa fa-ellipsis-v ui-draggable handle ui-sortable-handle"></i>
                    <input type="text" data-key="element.images.{{status}}.<%- ranNo %>.sort_order" id="{{ data.sort_order }}_sort_order" name="{{ data.sort_order }}_sort_order" class="hide sort-val fg-dev-sortable fg-dev-newfield" value="{{ data.sort_order }}" data-element="sortorder" data-sort-parent="fg-files-uploaded-lists-wrapper">
                </div>
                <div class="fg-replacewith-errormsg">
                    <div class="col-sm-2 fg-thumb-wrapper">
                    <img class='fg-thumb' src="/uploads/{{clubId}}/gallery/width_300/{{data.filepath}}" />
                    </div>
                    <div class="col-sm-5 form-group cms-imgvideo-desc">
                        <label class="control-label" for="desc">{{ 'CMS_IMAGE_DESC'|trans}}</label>  
                        <div class="">
                            {% if(clubLanguageArr|length > 0) %}
                                {% for key, val in clubLanguageArr %}
                                    <textarea class="form-control no-resize {% if(defaultClubLang!=val) %} hide {% endif %} fg-dev-newfield" name="imageDesc-{{ data.item_id }}-{{ val }}" id="imageDesc-{{ data.item_id }}-{{ val }}" data-key="element.images.{{status}}.<%- ranNo %>.description.{{ val }}" data-lang="{{ val }}" >{% if (data.descLang is defined)%}{% set descLangs=data.descLang|split('|&&&|')%}{% for descLang in descLangs%}{% set descLan=descLang|split('|@@@|')%}{% if(val==descLan[0]|default('')) %}{{descLan[1]|default('')}}{% endif %}{%endfor%}{% endif %}</textarea>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-5 cms-imgvideo-link">
                        <label class="control-label">{{ 'CMS_IMAGE_LINK'|trans}}</label> 
                        <p class="cms-add-link {% if((data.image_element_link_type=='external' and data.image_element_external_link!='') or (data.image_element_link_type=='internal' and data.navigation_id!=''))%}hide{%endif%}"><a href="#" class="fg-add-link"><i class="fa fa-2x fa-plus-circle "></i><span> {{ 'CMS_IMAGE_ADD'|trans}}</span></a></p>
                        <p class="cms-external-link {% if(data.image_element_link_type!='external' or data.image_element_external_link=='')%}hide{%endif%}"><a target="_blank" href="{%if(data.image_element_link_type=='external')%}{{data.image_element_external_link}}{%endif%}" class="fg-link-external">{%if(data.image_element_link_type=='external')%}{{data.image_element_external_link}}{%endif%}</a> <i class="fa fa-times-circle fg-delete-icon cms-linkdelete"></i></p>
                        <p class="cms-internal-link-badge-{{ data.item_id }} {% if(data.image_element_link_type!='internal' or data.navigation_id=='')%}hide{%endif%}">{%if(isSuper or myPages[data.navigation_id] is defined)%}<a target="_blank" href="{%if(data.image_element_link_type=='internal' and data.navigation_id!='')%}{{path('website_cms_page_edit',{'pageId': internalLinkArr[data.navigation_id].pageId})}}{%endif%}" class="fg-link-page cms-internal-link-badge {% if(data.navigation_id=='')%}hide{%endif%}">{%if(data.image_element_link_type=='internal' and data.navigation_id!='')%}{{internalLinkArr[data.navigation_id].title}}{%endif%}</a>{%elseif(data.navigation_id!='')%}<span class="fg-link-page cms-internal-link-badge">{{internalLinkArr[data.navigation_id].title}}</span>{%endif%} <i class="fa fa-times-circle fg-delete-icon cms-linkdelete"></i></p>
                        <p class="cms-internal-link-badge hide"><a target="_blank" href="#" class="fg-link-page cms-internal-link-badge hide"></a> <i class="fa fa-times-circle fg-delete-icon cms-linkdelete"></i></p>
                        <input name="cms-link-type" id="cms-link-type" type="text" class="cms-link-type-{{ data.item_id }} fg-dev-newfield hide" data-key="element.images.{{status}}.<%- ranNo %>.link_type" value="{{data.image_element_link_type}}">
                        <input name="cms-link-val" id="cms-link-val" type="text" class="cms-link-value-{{ data.item_id }} fg-dev-newfield hide" data-key="element.images.{{status}}.<%- ranNo %>.link_value" value="{% if(data.image_element_link_type=='external')%}{{data.image_element_external_link}}{%elseif(data.image_element_link_type=='internal')%}{{data.navigation_id}}{%endif%}">
                        <input name="new-img-name" id="new-img-name" type="hidden" class="" data-key="element.images.{{status}}.<%- ranNo %>.name" value="{{data.filepath}}">
                        <input type="hidden" class="fg-dev-newfield" data-key="element.images.{{status}}.<%- ranNo %>.itemId" value="{{ data.item_id }}">
                        <input type="hidden" class="fg-dev-newfield" data-key="element.images.{{status}}.<%- ranNo %>.type" value="old">
                    </div>
                    <div class="col-sm-2 fg-file-size"><%= FgFileUpload.formatFileSize(parseInt({{data.file_size}})) %><input type="hidden" class="cms-file-size" data-key="element.images.{{status}}.<%- ranNo %>.size" value="{{ data.file_size }}"></div>
                </div><div class="clearfix"></div>
                <div class="fg-last-icon">
                    <div class="closeico">
                        <input type="checkbox" class="make-switch fg-delicon" id="{{ data.item_id }}_is_deleted" data-key="element.images.{{status}}.<%- ranNo %>.is_deleted" name="is_deleted" data-inactiveblock="changecolor" data-parentid="{{ data.item_id }}">
                        <label for="{{ data.item_id }}_is_deleted"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
{% endif %}
</script>
<script type="text/template" id="image-uploader-errorlist-template">   
    <% if(errors.length > 0) { %>
        <% _.each(errors, function(error) { %>
            <% if (error == 0) { %>
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{'GALLERY_UPLOAD_FILETYPE_ERROR'|trans}}
                </div>
            <% } %>
        <% }) %> 
    <% } %>   
</script>
<script type="text/template" id="templateImagesFromGallery">
    <% _.each(data, function(d, i) { %>
    <% var order = imageCount+i+1;  %> 
        <% var ranNo = parseInt(Math.random()*10000000000) %>
        <li class="fg-files-uploaded-list sortables fg-sort-drag-hover filecontent" id="<%- d.itemId %>">
            <div class="fg-col-first-icon fg-sort-drag" name="fg-dev-sorting">
                <i class="fa fa-ellipsis-v ui-draggable handle ui-sortable-handle"></i>
                <input type="text" data-key="element.images.item.<%- ranNo %>.sort_order" id="<%- ranNo %>_sort_order" class="hide sort-val fg-dev-sortable fg-dev-newfield" value="" data-element="sortorder" data-sort-parent="fg-files-uploaded-lists-wrapper">
            </div>
            <div class="col-sm-2 fg-thumb-wrapper">
                <img src="<%- d.imgPath %>" class="fg-thumb" id="article-img-preview-<%- d.itemId %>" >
            </div>
            <div class="col-sm-5 form-group cms-imgvideo-desc">
                <label class="control-label" for="teaser">{{ 'CMS_IMAGE_DESC'|trans}}</label>  
                <div class="">
                    {% if(clubLanguageArr|length > 0) %}
                        {% for key, val in clubLanguageArr %}
                            <textarea class="form-control no-resize {% if(defaultClubLang!=val) %} hide {% endif %} fg-dev-newfield" name="imageDesc-<%- d.itemId %>-{{ val }}" id="imageDesc-<%- d.itemId %>-{{ val }}" data-key="element.images.item.<%- ranNo %>.description.{{ val }}" data-lang="{{ val }}" ><%- d.itemDescription %></textarea>            
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-5 cms-imgvideo-link">
                <label class="control-label">{{ 'CMS_IMAGE_LINK'|trans}}</label> 
                <p class="cms-add-link"><a href="#" class="fg-add-link"><i class="fa fa-2x fa-plus-circle "></i><span> {{ 'CMS_IMAGE_ADD'|trans}}</span></a></p>
                <p class="cms-external-link hide"><a target="_blank" href="#" class="fg-link-external"></a> <i class="fa fa-times-circle fg-delete-icon cms-linkdelete"></i></p>
                <p class="cms-internal-link-badge hide"><a target="_blank" href="#" class="fg-link-page cms-internal-link-badge hide"></a> <i class="fa fa-times-circle fg-delete-icon cms-linkdelete"></i></p>
                <input type="hidden" class="cms-link-type-<%- d.itemId %> fg-dev-newfield" data-key="element.images.item.<%- ranNo %>.link_type" >
                <input type="hidden" class="cms-link-value-<%- d.itemId %> fg-dev-newfield" data-key="element.images.item.<%- ranNo %>.link_value" >
                <input type="hidden" class="fg-dev-newfield" data-key="element.images.item.<%- ranNo %>.itemId" value="<%- d.itemId %>">
                <input type="hidden" class="fg-dev-newfield" data-key="element.images.item.<%- ranNo %>.type" value="item">
            </div>
            <div class="col-sm-5 fg-file-size"><%- FgFileUpload.formatFileSize(parseInt(d.fileSize)) %>
            <input type="hidden" class="cms-file-size fg-dev-newfield" data-key="element.images.item.<%- ranNo %>.size" value="<%- parseInt(d.fileSize) %>"></div>
            <div class="clearfix"></div>
            <input class="hide" name="imageItemId" type="text" value="<%- d.itemId %>" data-key="element.images.item.<%- ranNo %>.itemid">
            <div class="<%- d.itemId %>_closeico closeico fg-del-close">
                <input type="checkbox" class="fg-delete">
                <label></label>
            </div>
            <div class="clearfix"></div>
        </li>
    <% }); %>    
</script>
<script type='template' id='article-video-upload'>
<li class="fg-files-uploaded-list sortables fg-sort-drag-hover fileimgcontent cms-video-content" id="<%- id %>">
    <div class="fg-col-first-icon fg-sort-drag" name="fg-dev-sorting">
        <i class="fa fa-ellipsis-v ui-draggable handle ui-sortable-handle"></i>
        <input type="text" data-key="element.video.new.<%- id %>.sort_order" id="<%- id %>_sort_order" class="hide sort-val fg-dev-sortable fg-dev-newfield" value="" data-element="sortorder" data-sort-parent="fg-files-uploaded-lists-wrapper">
    </div>
    <div class="col-sm-2 fg-thumb-wrapper">
        <img src="/fgassets/internal/img/youtube-default-thumb.png" class="fg-thumb" id="article-img-preview-<%- id %>" >
    </div>
    <div class="col-sm-5 form-group">
        <label class="control-label" for="teaser">{{ 'CMS_VIDEO_URL'|trans}}</label>  
        <div class="fg-video-error-<%- id %> ">
            <input type="text" name="videoThumb<%- id %>" id="videoThumb-<%- id %>" data-key="element.video.new.<%- id %>.videoThumb" class="form-control video-url fg-dev-newfield" value=""> 
            <p>{{ 'CMS_VIDEO_URL_DESC'|trans}}</p>
            <input class="invalid-video-url-flag" id="invalid-video-url-flag-<%- id %>"  type="hidden" value="">
        </div>
    </div> 
    <div class="col-sm-5">
        <label class="control-label" for="teaser">{{ 'CMS_VIDEO_DESC'|trans}}</label>
        <div class="">
            <div class="">
                {% if(clubLanguageArr|length > 0) %}
                    {% for key, val in clubLanguageArr %}
                        <textarea class="form-control no-resize {% if(defaultClubLang!=val) %} hide {% endif %} fg-dev-newfield" name="imageDesc-<%- id %>-{{ val }}" id="imageDesc-<%- id %>-{{ val }}" data-key="element.video.new.<%- id %>.description.{{ val }}" data-lang="{{ val }}" ></textarea>            
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>
    <input class="hide video-thumb fg-dev-newfield" name="videoThumbImg" id="videoThumbImg-<%- id %>" type="text" data-key="element.video.new.<%- id %>.videoThumbImg">
    <div class="<%- id %>_closeico closeico fg-del-close">
        <input type="checkbox" class="fg-delete">
        <label></label>
    </div>
    <div class="clearfix"></div>
</li>
</script>
<script type='template' id='article-video-upload-edit'>
{% if (editData is defined)%}
{% if (editData|length >0) %}
    {% for key, data in editData %}
        {% if (data.type == 'VIDEO')%}
            <li class="fg-files-uploaded-list sortables fg-sort-drag-hover fileimgcontent cms-video-content" id="{{ data.item_id }}">
                <div class="fg-col-first-icon fg-sort-drag" name="fg-dev-sorting">
                    <i class="fa fa-ellipsis-v ui-draggable handle ui-sortable-handle"></i>
                    <input type="text" data-key="element.video.{{status}}.{{ data.item_id }}.sort_order" id="{{ data.sort_order }}_sort_order" class="hide sort-val fg-dev-sortable fg-dev-newfield" value="{{ data.sort_order }}" data-element="sortorder" data-sort-parent="fg-files-uploaded-lists-wrapper">
                </div>
                <div class="col-sm-2 fg-thumb-wrapper">
                    <img class='fg-thumb' src="/uploads/{{clubId}}/gallery/width_300/{{data.video_thumb_url}}" />
                </div>
                <div class="col-sm-5 form-group">
                    <label class="control-label" for="teaser">{{ 'CMS_VIDEO_URL'|trans}}</label>  
                    <div class="fg-video-error-{{ data.item_id }} ">
                        <input type="text" name="videoThumb{{ data.item_id }}" id="videoThumb-{{ data.item_id }}" data-key="element.video.{{status}}.{{ data.item_id }}.videoThumb" class="form-control video-url " value="{{data.filepath}}"> 
                        <p>{{ 'CMS_VIDEO_URL_DESC'|trans}}</p>
                    </div>
                </div> 
                <div class="col-sm-5">
                    <label class="control-label" for="teaser">{{ 'CMS_VIDEO_DESC'|trans}}</label>
                    <div class="">
                        <div class="">
                            {% if(clubLanguageArr|length > 0) %}
                                {% for key, val in clubLanguageArr %}
                                    <textarea class="form-control no-resize {% if(defaultClubLang!=val) %} hide {% endif %} fg-dev-newfield" name="imageDesc-{{ data.item_id }}-{{ val }}" id="imageDesc-{{ data.item_id }}-{{ val }}" data-key="element.video.{{status}}.{{ data.item_id }}.description.{{ val }}" data-lang="{{ val }}" >{% if (data.descLang is defined)%}{% set descLangs=data.descLang|split('|&&&|')%}{% for descLang in descLangs%}{% set descLan=descLang|split('|@@@|')%}{% if(val==descLan[0]|default('')) %}{{descLan[1]|default('')}}{% endif %}{%endfor%}{% endif %}</textarea>            
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <input class="hide video-thumb " value="{{data.video_thumb_url}}" name="videoThumbImg" id="videoThumbImg-{{ data.item_id }}" type="text" data-key="element.video.{{status}}.{{ data.item_id }}.videoThumbImg">
                <div class="fg-last-icon">
                    <div class="closeico">
                        <input type="checkbox" class="make-switch fg-delicon" id="{{ data.item_id }}_is_deleted" data-key="element.video.{{status}}.{{ data.item_id }}.is_deleted" name="is_deleted" data-inactiveblock="changecolor" data-parentid="{{ data.item_id }}">
                        <label for="{{ data.item_id }}_is_deleted"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
{% endif %}
</script>
<script type="text/template" id="fileUploadError">
    <div class="fg-clear">
        <div class="col-sm-7"> <%- name %>  </div>
        <div class="col-sm-5">
            <p><span class="help-block">
           <% if (error == 0) { %> {{'FILEMANAGER_UPLOAD_FILETYPE_ERROR'|trans}} 
           <% } else if (error == 1) { %> {{'FILEMANAGER_UPLOAD_VIRUS_ERROR'|trans}} 
           <% } else if (error == 2) { %> {{'VIRUS_FILE_CONTACT'|trans}} 
           <% } else { %> <%- error %> <% } %></span></p>
        </div>
</script> 