{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::internal/layout.html.twig' %}
{% if (elementId == 'new')%}
    {% set pageTitle = 'CMS_ADD_TWITTER_ELEMENT'|trans %}
    
{% else %}
    {% set pageTitle = 'CMS_EDIT_TWITTER_ELEMENT'|trans %}
{% endif %}

{% block pagecontent %}

    <div class="row">
        <div class="col-lg-12">
            {% include 'internal/breadcrumb.html.twig' with breadCrumb %}
            
            <!-- PAGE TITLE -->
            {% include 'global/page-title-bar.html.twig' with {'pageTitle': pageTitle , 'contactId': '', 'tabs': tabs, 'roleCount' : '' , 'type':'', 'url' : '', 'clubLanguages':clubLanguageArr, 'clubDefaultLang':defLang } %}
            <div id="failcallbackClientSide" class="alert alert-danger" style="display:none;">
               <button class="close" data-close="alert"></button>
               <span>{{'FORM_ERROR_DISPLAY'|trans}}</span>
           </div>
            <!-- BEGIN CONTENT -->
            <div class="row fg-cms-elements-head-edit-wrapper" id="elementTwitterWrapper">
                <div class="col-md-12">
                    <div class="form-body">
                        <form id="cms_twitter_element" name="cms_twitter_element_data" class="form-horizontal" method="post" onsubmit="return false;" novalidate="novalidate">
                            <div id="twitter_element_list" class="fg-cms-twitter-wrapper">
                                <div class="form-group fg-clear required" >
                                    <label class="col-md-2 control-label fg-marg-top-5 text-right" for="twitterName">{% trans %}TWITTER_ACCOUNT_NAME{% endtrans %}</label>  
                                    <div class="col-md-6  col-lg-5 ">
                                 {% for lang in clubLanguageArr %}
                                        <input id="accountName-{{lang}}" name="accountName-{{lang}}" type="text" data-key="accountName.{{lang}}.title" data-lang="{{lang}}" class="accountName form-control {%if(lang != defLang)%}hide{% endif %}" required="" {% if accountDetails.accountName[lang] is defined %}value="{{ accountDetails.accountName[lang]}}" {%endif%}  {% if accountDetails.mainAccountName is defined %}placeholder="{{accountDetails.mainAccountName}} {%endif%}" >
                                {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group fg-clear" >
                                    <label class="col-md-2 control-label fg-marg-top-5 text-right" for="contentHeightLimit">{% trans %}TWITTER_CONTENT_HEIGHT{% endtrans %}</label>
                                    <div class="col-md-6  col-lg-5 ">                                 
                                    <input id="contentHeightLimit" name="contentHeightLimit" type="text"  data-key="contentHeightLimit" class="form-control" value="{% if accountDetails.twitterContentHeight is defined %}{{ accountDetails.twitterContentHeight }}{% else %}450{% endif %}" >                                
                                    </div>
                                </div>
                           </div>
                            <div class="clearfix">  </div>
                            {% if (elementId == 'new')%}
                                  {% include 'internal/savebutton.html.twig' with {'save_button_id':'save_bac', 'save_button_val':'ADD'|trans, 'second_btn_val':'CANCEL'|trans, noDiscardChange:'1','backLink': backLink} %}
                            {% else %}
                               {% include 'internal/savebutton.html.twig' with {'save_button_val':'CMS_ELEMENT_SAVE_BUTTON'|trans,'second_btn_val':'CMS_ELEMENT_SAVE_AND_BACK_BUTTON'|trans, 'second_button_id':'save_bac', 'discard_button_val':'CMS_ELEMENT_DISCARD_BUTTON'|trans,'backLink': backLink } %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            {% include 'WebsiteCMSBundle:PageContentElements:cmsElementLogHeaderTemplate.html.twig' %}      
        </div>
    </div>
    <!-- END CONTENT -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('fgassets/internal/js/fg_tab_selection_process.js') }}" type="text/javascript"></script>
    <script src="{{ asset('fgassets/website/js/FgCmsTwitter.js') }}" type="text/javascript"></script>
    <script type="text/javascript">

            var defaultlanguage = '{{defLang|raw}}';
            var pageId = '{{pageId}}';
            var boxId = '{{boxId}}';
            var elementId = '{{elementId}}';
            var contactId = '{{contactId}}';
            var clubId = '{{clubId}}'
            var sortOrder = '{{sortOrder}}';
            var type = 'twitterElement';
            var tabheadingArray = {{ tabs|json_encode()|raw }};
            var elementLogDetailsPath = "{{path('website_cms_element_log_data')}}";
            var saveTwitterElementPath = "{{ path('website_cms_save_twitter_element') }}";
            var contentEditPagePath = '{{path('website_cms_page_edit',{'pageId': pageId})}}';
            var profilePath = "{{ path('internal_community_profile', {'contactId': "**placeholder**" }) }}";
            statusTranslations = {
                'added': "{{ 'LOG_FLAG_ADDED'|trans }}",
                'changed': "{{ 'LOG_FLAG_CHANGED'|trans }}",
                'removed': "{{ 'LOG_FLAG_REMOVED'|trans }}",
                'select': "{{ 'DROPDOWN_SELECT_OPTION'|trans }}",
                'page_assignment' :"{{ 'CMS_PAGE_ASSIGNMENT'|trans }}",
                'element' : "{{ 'CMS_ELEMENT'|trans }}",
                'warningMessage' : "{{ 'CMS_SPECIAL_CHAR_WARNING'|trans }}",
                'warningMessageDigits' : "{{ 'INVALID_NUMBER'|trans }}",
                'requiredFieldMessage' : "{{ 'INVALID_MESSAGE'|trans }}"
            };
           var CmsTwitterElement = new FgCmsTwitterElement();
                        
           $(document).ready(function () {
                scope = angular.element($("#BaseController")).scope();
                $(".fg-action-menu-wrapper").FgPageTitlebar({
                    title: true,
                    row2: true,
                    tab: true,
                    languageSwitch: true,
                    tabType: 'client'
                });
                initPageFunctions();
            });
                    
            function initPageFunctions() 
            {
                var option = {
                    pageType: 'cmsAddElement',
                    contactId: contactId,
                    currentClubId: clubId,
                    localStorageName: type + '_' + clubId + '_' + contactId,
                    tabheadingArray: tabheadingArray
                };
                Fgtabselectionprocess.initialize(option);
                FgGlobalSettings.handleLangSwitch();
                FgDirtyFields.init('cms_twitter_element', {saveChangeSelector: "#save_changes, #save_bac" ,discardChangesCallback:CmsTwitterElement.discardChangesCallback});
                var TwitterElementLog = new FgCmsTwitterElementLog();
                TwitterElementLog.init();
                CmsTwitterElement.renderContent();
                CmsTwitterElement.triggerEnterKey();
            }
            
            $('body').on('click', '#preview', function (e) {
             window.location.href = contentEditPagePath;
            });

            $('body').off('click', '#save_changes,#save_bac');
            $('body').on('click', '#save_changes,#save_bac', function (e) {
                
                $('form#cms_twitter_element .help-block').remove();
                $('form#cms_twitter_element .has-error').removeClass('has-error');
                var currentSelectedButton = $(this).attr('id');
                var acccountName = {};
                $.each($('input.accountName'), function (i, obj) {
                    acccountName[$(obj).attr('data-lang')] = $(obj).val();
                });
                var contentHeightLimit = $('#contentHeightLimit').val();
                var isValid = CmsTwitterElement.validateForm(acccountName, contentHeightLimit);
                if(isValid){
                $("#failcallbackClientSide").addClass('hide');                   
                var saveType =  (currentSelectedButton == 'save_changes') ? 'save' : 'saveBack';
                var param = {'acccountName':acccountName,'pageId': pageId, 'boxId': boxId, 'elementId': elementId,'sortOrder':sortOrder, 'saveType': saveType, 'contentHeightLimit': contentHeightLimit }   
                FgDirtyFields.removeAllDirtyInstances();
                FgXmlHttp.post(saveTwitterElementPath, {'param': param}, false, CmsTwitterElement.saveElementCallback);
                FgLanguageSwitch.checkMissingTranslation(defaultlanguage); 
                $('#save_changes,#save_bac').attr('disabled', 'disabled');
            }
            });
            if(elementId > 0){
                 FgLanguageSwitch.checkMissingTranslation(defaultlanguage); 
            }
    </script>

{% endblock %}
