<script type="text/template" id="imageUploadArticle">
    <li id="<%- id %>" class="fg-border-line working newFile clearfix"> 
        <div class="col-md-4 col-sm-4 col-lg-2 col-xs-12 fg-left-zero"> 
            <div data-image-area class="fg-upload-div"> </div></div>
        <div class="col-md-8 col-lg-5 col-sm-8 col-xs-12 fg-left-zero">
            <dl>
            <dt class="fg-ck-caption-txt">{% trans %}DM_FILE_NAME{% endtrans %}<span class="required"> * </span></dt>
                <dd><div dataerror-group><input type="text" value="<%- filenameReal %>" required data-key="<%- dataKey %>.i18n.{{clubDefaultLang}}.name" name="<%- dataKey %>_i18n_{{clubDefaultLang}}_name" class="form-control"></div></dd>
                <dt>{% trans %}DM_DESCRIPTION{% endtrans %}</dt>
                <dd><textarea data-key="<%- dataKey %>.i18n.{{clubDefaultLang}}.description" name="<%- dataKey %>_i18n_{{clubDefaultLang}}_description" rows="3" class="form-control fg-upload-description"></textarea></dd>
               </dl>
               <dl data-cat-area class="<% if(type !='allActive') { %>hide<% } %>">
                    <dt>{% trans %}CONTACTDOCUMENT_CATEGORY{% endtrans %}</dt>
                    <dd>
                        <select data-subcategoryId name="<%- dataKey %>_subCategoryId" data-key="<%- dataKey %>.subCategoryId" class="selectpicker form-control show-tick">
                            <% _.each(docCategory,function(catArray){ %>
                                <% if(_.size(catArray['input'])) { %>
                                    <optgroup data-id="<%- catArray.id %>" label="<%- catArray.title %>">
                                        <% _.each(catArray['input'],function(subcat){ %>
                                            <option value="<%- subcat.id %>" <% if(_.last(type)==subcat.id) { %>selected<% } %>><%- subcat.title %></option>
                                        <% }); %>     
                                    </optgroup>
                                <% } %>
                            <% }); %>   
                        </select>
                    </dd>
                </dl>
            
        </div>
        <input type="hidden" value="" data-fileName="<%- filename %>" data-key="<%- dataKey %>.filename" class="ignore" />
        <input type="hidden" value="" data-categoryId data-key="<%- dataKey %>.categoryId" class="ignore" />
        <div class="col-md-8 col-sm-8 col-lg-5 col-md-offset-4 col-lg-offset-0 col-sm-offset-4  col-xs-12 fg-left-zero"><dl>
                <dt>{% trans %}DM_AUTHOR{% endtrans %}</dt>
                <dd><input type="text" value="{{contactName}}" name="<%- dataKey %>_i18n_{{clubDefaultLang}}_author" data-key="<%- dataKey %>.i18n.{{clubDefaultLang}}.author" class="form-control"></dd>
                {% if(fgtwig.inArray('frontend1', fgclub.get('bookedModulesDet')))%}
                    <dt>{% trans %}DM_VISIBLE_TO_CONTACTS{% endtrans %}</dt>
                    <dd> 
                        <div class="fg-upload-switch">
                            <label onclick="" class="switch-light switch-light-sm">
                                <input type="checkbox" id="<%- dataKey %>_isVisible" name="<%- dataKey %>_isVisible" data-key="<%- dataKey %>.isVisible" class="make-switch">
                                <span>                            
                                    <span>{% trans %}ON{% endtrans %}</span>
                                    <span>{% trans %}OFF{% endtrans %}</span>
                                </span>
                                <a class="btn btn-primary "></a>
                            </label>
                        </div>
                    </dd>
                {% endif %}
                 <dt>{% trans %}DM_PUBLIC_VISIBILITY{% endtrans %}</dt>
                    <dd> 
                        <div class="fg-upload-switch">
                            <label onclick="" class="switch-light switch-light-sm">
                                <input type="checkbox" id="<%- dataKey %>_isPublic" name="<%- dataKey %>_isPublic" data-key="<%- dataKey %>.isPublic" class="make-switch" >
                                <span>                            
                                    <span>{% trans %}ON{% endtrans %}</span>
                                    <span>{% trans %}OFF{% endtrans %}</span>
                                </span>
                                <a class="btn btn-primary "></a>
                            </label>
                        </div>
                    </dd>        
                <dt>{% trans %}DM_FILE_SIZE{% endtrans %}</dt>
                <dd><span data-filesize class="fg-upload-size-txt"></span>
                    <div data-progress class="fg-upload-profgress">
                        <div class="progress progress-striped active">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl></div>
            <div class="col-md-12 col-sm-12 col-xs-12 fg-left-zero fg-upload-token">
                    <dl> <dt>{% trans %}DM_DEPOSITED_TO_CONTACTS_INCLUDE{% endtrans %}{% trans %}DM_DEPOSITED_TO_CONTACTS_MANUAL{% endtrans %}</dt>
                    <dd>
                        <div>
                            <input type="text" id="<%- dataKey %>_depositedWithAuto" placeholder="{{ 'DM_ADD_CONTACT'|trans }}" data-contactlist name="<%- dataKey %>_depositedWithAuto" value="" class="form-control" />
                        </div>
                        <input type="hidden" id="<%- dataKey %>_depositedWithAutoSelection" data-club="contact" name="<%- dataKey %>_depositedWithSelection" value="" data-key="<%- dataKey %>.depositedWithSelection" />
                    </dd>
                </dl>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 fg-left-zero fg-upload-token">
                    <dl> <dt>{% trans %}DM_DEPOSITED_TO_CONTACTS_EXCLUDE_DOC{% endtrans %}{% trans %}DM_DEPOSITED_TO_CONTACTS_EXCLUDE{% endtrans %}</dt>
                        <dd>
                            <div>
                                <input type="text" id="<%- dataKey %>_excludedAuto" placeholder="{{ 'DM_ADD_CONTACT'|trans }}" data-contactlist name="<%- dataKey %>_excludedAuto" value="" class="form-control" />
                            </div>
                            <input type="hidden" id="<%- dataKey %>_excludedAutoSelection" data-club="contact" name="<%- dataKey %>_excludedSelection" value="" data-key="<%- dataKey %>.excludedSelection" />
                        </dd>
                    </dl>
                </div>
        <div class="col-md-2 pull-right deletediv " > <div data-deletable="checknew" class="closeico"> <input id="select<%- id %>" type="checkbox" class="make-switch" name="<%- id %>_is_deleted" data-inactiveblock="changecolor" data-parentid="<%- id %>">  <label for="select<%- id %>"></label></div></div>
    
    </li>
    </script>                
