<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title> </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>

        <link rel="shortcut icon" href="img/favicon.ico" />
    </head>
    <!-- BEGIN BODY -->
    <body style="">
        <table  style="background-color: #eee;font-family: Calibri,Arial,sans-serif;padding: 20px;width: 100%;">
            <tr>
                <td>
            <center style="width: 100%; margin: auto; max-width: 560px;">
                <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                    <tr>
                        <td style="font-family: Calibri,Arial,sans-serif;">                                
                            <table class="row" cellpadding="0" cellspacing="0" border="0" style="width:100%; table-layout: fixed;">
                                <tr>
                                    <td style="font-family: 'Helvetica', 'Arial', sans-serif; vertical-align: middle;">
                                        <h1 style="margin: 0; font-size: 30px; font-weight: 500; margin-top: -4px;">{{ clubTitle }}</h1>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table style="background-color:#fff; border:1px solid #e1e1e1; width: 100%; border-bottom: 0;padding-bottom:10px;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="padding:20px; font-family: Calibri,Arial,sans-serif;">
                            <p>{{ salutation }},</p>
                            <p>{{ 'CONFIRM_MESSAGE'|trans }}</p>
                            <p style="margin:0"><a href="{{ clubUrlPath }}"><button id="_submit" name="_submit" class="btn green pull-right" type="button" href="{{ clubUrlPath }}" >
                                        {{ 'CONFIRM_BTN'|trans }}
                                    </button> </a> </p>
                            <p style="margin:0">{{ 'CONFIRM_MESSAGE2'|trans }}</p> 
                            <p style="margin:0">{{ clubUrlPath }}</p>
                            <p style="margin:0">{{ 'CONFIRM_MESSAGE3'|trans({'%phoneNumber%': '+41 52 223 01 45', '%supportEmail%': 'support@fairgate.ch'})|raw  }}</p>
                            <p style="margin:0">{{ 'CONFIRM_MESSAGE4'|trans }}</p>                                 
                        </td>  
                    </tr>    
                    <tr>
                        <td style="padding:20px; font-family: Calibri,Arial,sans-serif;">                                
                            <p style="margin:0">{{ 'CONFIRM_REGARDS'|trans }}</p>       
                            <p style="margin:0">Fairgate AG</p>       
                            <p style="margin:0"><a href="www.fairgate.ch">www.fairgate.ch</a></p> 
                        </td>  
                    </tr>    
                </table>

                <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                    <tr>
                        <td style="text-align: right; float:right;padding-top:10px; font-size:12px; display:inline-block; padding-left: 1px; font-family: Calibri,Arial,sans-serif;"> <span>{{ 'MESSAGE_SYS_POWERED_BY'|trans }} <a href="http://www.fairgate.ch/" style="text-decoration: none;">Fairgate</a></span></td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
</body>
<!-- END BODY -->
</html>