{% extends '::internal/layout_login.html.twig' %}
{% set pageTitle = 'INTERNAL_LOGIN_ACTIVATE_ACCOUNT'|trans %}
{% block logincontent %}
    <div class="content">
        {% if error is defined %}
            <div class="alert alert-danger display-show">
                <button class="close" data-close="alert"></button>
                {{ error|trans}}
            </div>
        {% endif %}
        <!-- BEGIN LOGIN FORM -->
        <form action="{{ path('internal_user_sendmail') }}" method="POST" skipDirtyCheck class="login-form" novalidate="novalidate" >
            <input type="hidden" name="_csrf_token" value="" />
            <h3 class="form-title">{% trans %}INTERNAL_LOGIN_ACTIVATE_ACCOUNT{% endtrans %}</h3>
            <p>{{ "INTERNAL_LOGIN_ACTIVATE_ACCOUNT_MSG"|trans({'%club%': clubName}) }}</p>            
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input type="text" id="username" name="username" required="required" placeholder="{% trans %}FORGOT_EMAIL{% endtrans %}" autocomplete="off" class="form-control placeholder-no-fix">
                    <input type="hidden" id="activateaccount" name="activateaccount" value="1" />
                </div>
            </div>
            {#  google recaptcha #}
            <div class="form-group">
                <div class="g-recaptcha" id="fg-captcha"></div>
            </div>
            <div class="form-actions">
                <button type="button" onclick="window.location.href = '{{ path('internal_user_login') }}'" id="back-btn" class="btn">
                    <i class="m-icon-swapleft"></i> {% trans %}FORGOT_BACK_TO_LOG{% endtrans %}</button>
                <button id="_submit" name="_submit" class="btn green pull-right" type="submit" disabled >
                    {% trans %}FORGOT_SUBMIT_BTN{% endtrans %} <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>

        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <!-- END REGISTRATION FORM -->
    </div>
{% endblock %}

{% block javascripts %}
    {# for google captcha in login internal #}
    <script type="text/javascript">
    var sitekey = '{{ googleCaptchaSitekey }}';
    var verifyCallback = function (response) {
        $('#_submit').removeAttr('disabled');
    };
    var onloadCallback = function () {
        grecaptcha.render('fg-captcha', {
            'sitekey': sitekey,
            'callback': verifyCallback,
        });
    };
    </script>
    <script src='https://www.google.com/recaptcha/api.js?hl={{ fgclub.get('default_system_lang') }}&onload=onloadCallback&render=explicit'></script>
{% endblock %}