
<link href="{{ asset('bundles/commonHelp/css/fg-help-styles.css') }}" type="text/css" rel="stylesheet"/>
<script src="{{ asset('bundles/commonHelp/js/fg-helper-main.js') }}" type="text/javascript"></script>

<div id="helpModal" class="modal fg-help-content-modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false"></button>
                <h4 class="modal-title fg-clear">Sed vel aliquam leo. Maecenas et metus eu quam rutrum maximus</h4>

            </div>
            <div class="modal-body">

                <div class="fg-action-menu-wrapper">
                    <div class="fg-page-title-block-1 fg-active-IB">
                        <div class="fg-internal-data-tab">
                            <ul class="nav nav-tabs data-more-tab" id="data-tabs">
                                <li id="data_li_1" data-type="1" class="show active">
                                    <a data-toggle="tab" href="#fg_field_category_1">Contact</a>
                                </li>
                                <li id="data_li_2" data-type="2" class="show">
                                    <a data-toggle="tab" href="#fg_field_category_2">Communication</a>
                                </li>
                                <li id="data_li_6" data-type="6" class="show">
                                    <a data-toggle="tab" href="#fg_field_category_6">Documents</a>
                                </li>
                                <li id="data_li_290" data-type="290" class="show">
                                    <a data-toggle="tab" href="#fg_field_category_290">Internal area </a>
                                </li>
                                <li id="data_li_279" data-type="279" class="show">
                                    <a data-toggle="tab" href="#fg_field_category_279">Welcome </a>
                                </li>
                                <li class="datahideshow dropdown show">
                                    <a href="#" id="fg-contact-more-tab" class="dropdown-toggle" data-toggle="dropdown">More
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li id="data_li_1" data-type="1" class="active hidden">
                                            <a data-toggle="tab" href="#fg_field_category_1">Contact</a>
                                        </li>
                                        <li id="data_li_2" data-type="2" class="hidden">
                                            <a data-toggle="tab" href="#fg_field_category_2">Communication</a>
                                        </li>
                                        <li id="data_li_6" data-type="6" class="hidden">
                                            <a data-toggle="tab" href="#fg_field_category_6">Documents</a>
                                        </li>
                                        <li id="data_li_290" data-type="290" class="hidden">
                                            <a data-toggle="tab" href="#fg_field_category_290">Internal area
                                                <img class="fa-envelope-o" src="/uploads/8514/club.png">
                                            </a>
                                        </li>
                                        <li id="data_li_279" data-type="279" class="hidden">
                                            <a data-toggle="tab" href="#fg_field_category_279">Welcome
                                                <img class="fa-envelope-o" src="/uploads/8514/club.png">
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>

                <div class="fg-help-content-wrapper-small hide">
                    <div class="panel-group fg-help-content-accordian-wrapper" id="accordion" role="tablist" aria-multiselectable="true">
                    </div>
                </div>
                <div class="fg-help-content-wrapper  fg-clear">
                    <div class="fg-help-topic-list-wrapper">
                        <ul class="fg-help-topic-lists">
                            <li class="fg-help-topic-list active"  data-target="act-01">
                                <div class="fg-help-topic-header">Lorem Ipsum is simply dummy </div>
                                <div class="fg-help-topic-excerpt">Text of the printing and typesetting industry  when an unknown printer took a galley of type and scrambled</div>
                            </li>
                            <li class="fg-help-topic-list"  data-target="act-02">
                                <div class="fg-help-topic-header">Lorem Ipsum is simply dummy </div>
                                <div class="fg-help-topic-excerpt">Text of the printing and typesetting industry  when an unknown printer took a galley of type and scrambled</div>
                            </li>
                            <li class="fg-help-topic-list"  data-target="act-03">
                                <div class="fg-help-topic-header">Lorem Ipsum is simply dummy </div>
                                <div class="fg-help-topic-excerpt">Text of the printing and typesetting industry  when an unknown printer took a galley of type and scrambled</div>
                            </li>
                            <li class="fg-help-topic-list"  data-target="act-04">
                                <div class="fg-help-topic-header">Lorem Ipsum is simply dummy </div>
                                <div class="fg-help-topic-excerpt">Text of the printing and typesetting industry  when an unknown printer took a galley of type and scrambled</div>
                            </li>
                            <li class="fg-help-topic-list"  data-target="act-05">
                                <div class="fg-help-topic-header">Lorem Ipsum is simply dummy </div>
                                <div class="fg-help-topic-excerpt">Text of the printing and typesetting industry  when an unknown printer took a galley of type and scrambled</div>
                            </li>
                            <li class="fg-help-topic-list"   data-target="act-06">
                                <div class="fg-help-topic-header">Lorem Ipsum is simply dummy </div>
                                <div class="fg-help-topic-excerpt">Text of the printing and typesetting industry  when an unknown printer took a galley of type and scrambled</div>
                            </li>
                            <li class="fg-help-topic-list"   data-target="act-07">
                                <div class="fg-help-topic-header">Lorem Ipsum is simply dummy </div>
                                <div class="fg-help-topic-excerpt">Text of the printing and typesetting industry  when an unknown printer took a galley of type and scrambled</div>
                            </li>
                        </ul>
                    </div>
                    <div class="fg-help-topic-details-wrapper">
                        <div class="fg-help-topic-details-content-scroll-wrapper">
                            <div class="fg-help-topic-details-content hide" id="act-01" >
                                <p style="color:red">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae urna euismod, porta erat id, rutrum erat. Sed id libero justo. Etiam sed luctus nibh. Etiam dolor velit, convallis eu odio varius, egestas convallis nisl. Nulla bibendum, nisl quis dictum ultricies, diam nulla commodo risus, ac tempus sem ipsum nec tellus. Proin tempus tincidunt elit. Mauris eget velit nisl.</p>
                                <p> Phasellus sit amet tortor luctus, ultrices justo id, congue ex. Quisque sed aliquet leo. Fusce ac mauris non odio vestibulum suscipit at sed libero. Pellentesque lacinia sem at lorem gravida, sed varius nisl feugiat. Nullam eleifend, nibh eget ultrices volutpat, ex eros mattis leo, eget condimentum mi massa nec odio. Aenean sit amet cursus dolor, at molestie mi. </p>
                                <img src="/fgassets/global/js/unitegallery-master/package/images/big/image2.jpg" alt=""/>
                                <p style="color:#f53">Nulla lorem eros, lacinia in massa vitae, luctus fermentum nisl. Duis aliquam, neque sed sollicitudin elementum, nibh dui pellentesque eros, sed egestas ipsum metus eget risus. Curabitur accumsan dui lectus, ut cursus tellus vestibulum viverra. Duis aliquet, felis in aliquet semper, erat mauris varius enim, in molestie dui lectus at dui. </p>
                                <p>Aliquam rhoncus consequat velit ac ultrices. Etiam pharetra purus ut ligula bibendum, ac porta diam faucibus. Maecenas fermentum nunc quis quam dictum, a gravida justo rhoncus.</p>
                            </div>
                            <div class="fg-help-topic-details-content hide" id="act-02">
                                <p style="color:#006dcc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae urna euismod, porta erat id, rutrum erat. Sed id libero justo. Etiam sed luctus nibh. Etiam dolor velit, convallis eu odio varius, egestas convallis nisl. Nulla bibendum, nisl quis dictum ultricies, diam nulla commodo risus, ac tempus sem ipsum nec tellus. Proin tempus tincidunt elit. Mauris eget velit nisl.</p>
                                <p> Phasellus sit amet tortor luctus, ultrices justo id, congue ex. Quisque sed aliquet leo. Fusce ac mauris non odio vestibulum suscipit at sed libero. Pellentesque lacinia sem at lorem gravida, sed varius nisl feugiat. Nullam eleifend, nibh eget ultrices volutpat, ex eros mattis leo, eget condimentum mi massa nec odio. Aenean sit amet cursus dolor, at molestie mi. 
                                    <img src="/fgassets/global/js/unitegallery-master/package/images/big/image3.jpg" alt=""/></p>
                                <p>Nulla lorem eros, lacinia in massa vitae, luctus fermentum nisl. Duis aliquam, neque sed sollicitudin elementum, nibh dui pellentesque eros, sed egestas ipsum metus eget risus. Curabitur accumsan dui lectus, ut cursus tellus vestibulum viverra. Duis aliquet, felis in aliquet semper, erat mauris varius enim, in molestie dui lectus at dui. </p>
                                <p>Aliquam rhoncus consequat velit ac ultrices. Etiam pharetra purus ut ligula bibendum, ac porta diam faucibus. Maecenas fermentum nunc quis quam dictum, a gravida justo rhoncus.</p>
                            </div>
                            <div class="fg-help-topic-details-content hide" id="act-03">
                                <p style="color:green">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae urna euismod, porta erat id, rutrum erat. Sed id libero justo. Etiam sed luctus nibh. Etiam dolor velit, convallis eu odio varius, egestas convallis nisl. Nulla bibendum, nisl quis dictum ultricies, diam nulla commodo risus, ac tempus sem ipsum nec tellus. Proin tempus tincidunt elit. Mauris eget velit nisl.</p>
                                <p> Phasellus sit amet tortor luctus, ultrices justo id, congue ex. Quisque sed aliquet leo. Fusce ac mauris non odio vestibulum suscipit at sed libero. Pellentesque lacinia sem at lorem gravida,
                                    <img src="/fgassets/global/js/unitegallery-master/package/images/big/image4.jpg" alt=""/> sed varius nisl feugiat. Nullam eleifend, nibh eget ultrices volutpat, ex eros mattis leo, eget condimentum mi massa nec odio. Aenean sit amet cursus dolor, at molestie mi. </p>
                                <p>Nulla lorem eros, lacinia in massa vitae, luctus fermentum nisl. Duis aliquam, neque sed sollicitudin elementum, nibh dui pellentesque eros, sed egestas ipsum metus eget risus. Curabitur accumsan dui lectus, ut cursus tellus vestibulum viverra. Duis aliquet, felis in aliquet semper, erat mauris varius enim, in molestie dui lectus at dui. </p>
                                <p>Aliquam rhoncus consequat velit ac ultrices. Etiam pharetra purus ut ligula bibendum, ac porta diam faucibus. Maecenas fermentum nunc quis quam dictum, a gravida justo rhoncus.</p>
                                <img src="/fgassets/global/js/unitegallery-master/package/images/big/sound_cloud.jpg" alt=""/>
                            </div>
                            <div class="fg-help-topic-details-content hide" id="act-04">
                                <p style="color:yellow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae urna euismod, porta erat id, rutrum erat. Sed id libero justo. Etiam sed luctus nibh. Etiam dolor velit, convallis eu odio varius, egestas convallis nisl. Nulla bibendum, nisl quis dictum ultricies, diam nulla commodo risus, ac tempus sem ipsum nec tellus. Proin tempus tincidunt elit. Mauris eget velit nisl.</p>
                                <p> Phasellus sit amet tortor luctus, ultrices justo id, congue ex. Quisque sed aliquet leo. Fusce ac mauris non odio vestibulum suscipit at sed libero. Pellentesque lacinia sem at lorem gravida, sed varius nisl feugiat. Nullam eleifend, nibh eget ultrices volutpat, ex eros mattis leo, eget condimentum mi massa nec odio. Aenean sit amet cursus dolor, at molestie mi. </p>
                                <img src="/fgassets/global/js/unitegallery-master/package/images/big/tile1.jpg" alt=""/>
                                <p>Nulla lorem eros, lacinia in massa vitae, luctus fermentum nisl. Duis aliquam, neque sed sollicitudin elementum, nibh dui pellentesque eros, sed egestas ipsum metus eget risus. Curabitur accumsan dui lectus, ut cursus tellus vestibulum viverra. Duis aliquet, felis in aliquet semper, erat mauris varius enim, in molestie dui lectus at dui. </p>
                                <p>Aliquam rhoncus consequat velit ac ultrices. Etiam pharetra purus ut ligula bibendum, ac porta diam faucibus. Maecenas fermentum nunc quis quam dictum, a gravida justo rhoncus.</p>
                            </div>
                            <div class="fg-help-topic-details-content hide" id="act-05">
                                <p style="color:brown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae urna euismod, porta erat id, rutrum erat. Sed id libero justo. Etiam sed luctus nibh. Etiam dolor velit, convallis eu odio varius, egestas convallis nisl. Nulla bibendum, nisl quis dictum ultricies, diam nulla commodo risus, ac tempus sem ipsum nec tellus. Proin tempus tincidunt elit. Mauris eget velit nisl.</p>
                                <img src="/fgassets/global/js/unitegallery-master/package/images/big/tile10.jpg" alt=""/>
                                <p> Phasellus sit amet tortor luctus, ultrices justo id, congue ex. Quisque sed aliquet leo. Fusce ac mauris non odio vestibulum suscipit at sed libero. Pellentesque lacinia sem at lorem gravida, sed varius nisl feugiat. Nullam eleifend, nibh eget ultrices volutpat, ex eros mattis leo, eget condimentum mi massa nec odio. Aenean sit amet cursus dolor, at molestie mi. </p>
                                <p>Nulla lorem eros, lacinia in massa vitae, luctus fermentum nisl. Duis aliquam, neque sed sollicitudin elementum, nibh dui pellentesque eros, sed egestas ipsum metus eget risus. Curabitur accumsan dui lectus, ut cursus tellus vestibulum viverra. Duis aliquet, felis in aliquet semper, erat mauris varius enim, in molestie dui lectus at dui. </p>
                                <img src="/fgassets/global/js/unitegallery-master/package/images/big/tile5.jpg" alt=""/>
                                <p>Aliquam rhoncus consequat velit ac ultrices. Etiam pharetra purus ut ligula bibendum, ac porta diam faucibus. Maecenas fermentum nunc quis quam dictum, a gravida justo rhoncus.</p>
                            </div>
                            <div class="fg-help-topic-details-content hide" id="act-06">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae urna euismod, porta erat id, rutrum erat. Sed id libero justo. Etiam sed luctus nibh. Etiam dolor velit, convallis eu odio varius, egestas convallis nisl. Nulla bibendum, nisl quis dictum ultricies, diam nulla commodo risus, ac tempus sem ipsum nec tellus. Proin tempus tincidunt elit. Mauris eget velit nisl.</p>
                                <img src="/fgassets/global/js/unitegallery-master/package/images/big/tile8.jpg" alt=""/>
                                <p> Phasellus sit amet tortor luctus, ultrices justo id, congue ex. Quisque sed aliquet leo. Fusce ac mauris non odio vestibulum suscipit at sed libero. Pellentesque lacinia sem at lorem gravida, sed varius nisl feugiat. Nullam eleifend, nibh eget ultrices volutpat, ex eros mattis leo, eget condimentum mi massa nec odio. Aenean sit amet cursus dolor, at molestie mi. </p>
                                <p>Nulla lorem eros, lacinia in massa vitae, luctus fermentum nisl. Duis aliquam, neque sed sollicitudin elementum, nibh dui pellentesque eros, sed egestas ipsum metus eget risus. Curabitur accumsan dui lectus, ut cursus tellus vestibulum viverra. Duis aliquet, felis in aliquet semper, erat mauris varius enim, in molestie dui lectus at dui. </p>
                                <img src="/fgassets/global/js/unitegallery-master/package/images/big/tile2.jpg" alt=""/>
                                <p>Aliquam rhoncus consequat velit ac ultrices. Etiam pharetra purus ut ligula bibendum, ac porta diam faucibus. Maecenas fermentum nunc quis quam dictum, a gravida justo rhoncus.</p>
                            </div>
                            <div class="fg-help-topic-details-content hide" id="act-07">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae urna euismod, porta erat id, rutrum erat. Sed id libero justo. Etiam sed luctus nibh. Etiam dolor velit, convallis eu odio varius, egestas convallis nisl. Nulla bibendum, nisl quis dictum ultricies, diam nulla commodo risus, ac tempus sem ipsum nec tellus. Proin tempus tincidunt elit. Mauris eget velit nisl.</p>
                                <p> Phasellus sit amet tortor luctus, ultrices justo id, congue ex. Quisque sed aliquet leo. Fusce ac mauris non odio vestibulum suscipit at sed libero. Pellentesque lacinia sem at lorem gravida, sed varius nisl feugiat. Nullam eleifend, nibh eget ultrices volutpat, ex eros mattis leo, eget condimentum mi massa nec odio. Aenean sit amet cursus dolor, at molestie mi. </p>
                                <img src="/fgassets/global/js/unitegallery-master/package/images/big/tile6.jpg" alt=""/>
                                <p>Nulla lorem eros, lacinia in massa vitae, luctus fermentum nisl. Duis aliquam, neque sed sollicitudin elementum, nibh dui pellentesque eros, sed egestas ipsum metus eget risus. Curabitur accumsan dui lectus, ut cursus tellus vestibulum viverra. Duis aliquet, felis in aliquet semper, erat mauris varius enim, in molestie dui lectus at dui. </p>
                                <p>Aliquam rhoncus consequat velit ac ultrices. Etiam pharetra purus ut ligula bibendum, ac porta diam faucibus. Maecenas fermentum nunc quis quam dictum, a gravida justo rhoncus.</p>
                                <img src="/fgassets/global/js/unitegallery-master/package/images/big/tile9.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <label for="checkboxes-0" class="fg-dont-show-again">
                    <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1" class ="fg-quickwindow-check" data-placement="left" data-toggle="tooltip">
                    {{'HELP_DONT_SHOW_TEXT'|trans}} 
                </label>
                <button type="button" data-dismiss="modal" class="btn default">{{'CLOSE_BUTTON_TEXT'|trans}} </button>
            </div>
        </div>
    </div>
</div>

</div>
{% block javascripts %}

<script type="text/javascript">
    var pathCheckModal = '{{path('help_dontshow_checkbox')}}';
    var windowVisibility = '{{windowVisibility}}';
        if(windowVisibility == 0){
        $('#helpModal').modal('show');
        FgHelpMain.setModalHeight();
        }
    $('body').on('click','.fg-fa-sign-in', function(){
        localStorage.removeItem('quickWindowShow');
    })

    FgHelp.checkModalConfirmation();
</script>
{% endblock %}