{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::website/layout.html.twig' %}
{% set pageTitle = 'RESET_PASSWORD_BROWSER_PAGE_TITLE'|trans %}

{% form_theme form _self %}
{% block form_errors %}
    {% for error in errors|slice(0,1) %}
        <div class="alert alert-danger display-show">
            <button class="close" data-close="alert"></button>
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
        </div>
    {% endfor %}
{% endblock form_errors %}
{% block pagecontent %}
    
    {% block websiteContentArea %} 
    {% endblock %}
    {% block websiteCustomContentArea %} 
        <div class="col-sm-12 fg-web-page-content-wrapper">
            <div class="row">
                <div class="col-sm-8">
                    <form action="{{ path('website_reset_password', {'token': token}) }}"  skipDirtyCheck novalidate="novalidate" method="POST" class="fg-web-set-password-wrapper">            
                        <input type="hidden" name="_csrf_token" value="" />
                        {{ form_errors(form.plainPassword.first) }} 
                        <div class="form-group">
                            <label class="control-label" for="fos_user_resetting_form_plainPassword_first">{{ 'NEW_PASSWORD'|trans }}</label>
                            <input type="password" required="required" class="form-control input-md" name="fos_user_resetting_form[plainPassword][first]" id="fos_user_resetting_form_plainPassword_first">
                        </div>
                        <div class="form-group">
                            <label class="required control-label" for="fos_user_resetting_form_plainPassword_second">{{ 'REPEAT_NEW_PASSWORD'|trans }}</label>
                            <input type="password" required="required" class="form-control input-md" name="fos_user_resetting_form[plainPassword][second]" id="fos_user_resetting_form_plainPassword_second">
                        </div>
                        <div class="form-group fg-button-block">
                            <div class="fg-button">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary fg-submit">{{ 'SEND'|trans|upper }}</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {{ form_row(form._token) }}
                    </form>
                </div>
            </div>
        </div>
    {% endblock  %}
{% endblock %}

     
{% block underscoretemplate %}
  {% include 'WebsiteCMSBundle:Website:displayContentUnderscore.html.twig' %}  
{% endblock %}
  
{% block javascripts %}
<script>
    var options = {
        titleBar: true,
        title: '{{ pagecontentData.page.page.title }}',
        searchBox: false,
        timeperiod: false
    };
    var FgWebsitePageTitleBarObj = new FgWebsitePageTitleBar('fg-dev-pagetitle-container', options);
</script>
{% endblock %}