{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::internal/layout.html.twig' %}
{% set pageTitle = pageTitle %}
{% block pagecontent %}
    <div class="clearfix"> </div>
    <!-- BEGIN BREADCRUMB-->
    <div class="row">
        <div class="col-lg-12">
            {% include 'internal/breadcrumb.html.twig' %}
        </div>
    </div>
    <!-- END BREADCRUMB-->
    <!-- BEGIN PAGE TITLE AND PANEL TABS -->
    {% include 'global/page-title-bar.html.twig' with {'pageTitle': pageTitle,'pageTitleConfig': true,'contactId': '','configId':configId, 'tabs': tabs,'url':'','type':'','clubLanguages':'', 'clubDefaultLang': '','hrefLink':true} %}

    <!-- BEGIN CONTAINER -->
    <div class="fg-theme-config-wrapper fg-marg-btm-20">
        <!--   ul.fg-list-row-wrapper.no-sorting>li.row.fg-border-line>(.col-md-7.fg-config-name>a[href="#"]>)+(.col-md-2>span.fg-theme-name>ABC)+(.col-md-2>span.fg-activated>ON)+(.col-md-1>i.fa.fa-files-o)+(.fg-col-last-icon>.deletediv>.closeico>input:text[type="checkbox" class="make-switch"]+label)   --> 
        <ul class="fg-list-row-wrapper fg-theme-list-wrapper no-sorting fg-color-scheme-list-wrapper">
        </ul>
        <a href="javascript:void(0)" class="fg-add-item"> <i class="fa-plus-circle fa fa-2x fg-marg-right-5"></i>{{'ADD_COLOR_SCHEME'|trans}} </a>
    </div>
    <!-- modal content -->
    <div class="modal fade" id="createEditPopup" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content fg-modal-create-edit-content">
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END CONTAINER -->
    {% include 'WebsiteCMSBundle:UpdateConfiguration:colorSchemeDeletePopup.html.twig' %}
    {% include 'WebsiteCMSBundle:UpdateConfiguration:configTitleChangePopup.html.twig' %}
{% endblock %}
{% block underscoretemplate %}
    {% include 'WebsiteCMSBundle:UpdateConfiguration:colorSchemesListUnderscore.html.twig' %}
    {% include 'WebsiteCMSBundle:UpdateConfiguration:templateCreateEditColorSchemePopup.html.twig' %}
{% endblock %}
{% block customstylesheets %}
    <link href="{{ asset('fgassets/website/css/style-cms.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('fgassets/assets/global/plugins/jquery-minicolors/jquery.minicolors.css?version=1.0.3')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('fgassets/website/js/Fg-tm-conf-update-colors.js')}}"></script>
    <script src="{{ asset('fgassets/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js')}}" type="text/javascript"></script>
    <script>
        var getColorsListPath = '{{path('website_theme_color_get_list')}}';
        var fgCreateColorSchemePath = '{{path('website_theme_configuration_color_create')}}';
        var changePageTitlePath = '{{path('website_theme_configuration_title_edit')}}';
        var configId = {{configId}};
        var themeId = {{themeId}};
        var configDetails = '{{configDetails}}';
        
        var transFields = { 'On':'{{'CMS_COLOR_SCHEME_ON'|trans}}',
                            'Activate':'{{'ACTIVATE'|trans}}',
                            'createPopup':'{{'COLOR_POPUP_CREATE_TITLE'|trans}}',
                            'editPopup':'{{'COLOR_POPUP_EDIT_TITLE'|trans}}',
                            'required': '{{'REQUIRED'|trans}}'};
        var colorSchemeTrans = {'TM_BACKGROUND_COLOR':'{{'TM_BACKGROUND_COLOR'|trans}}',
                                'TM_INVERSE_COLOR':'{{'TM_INVERSE_COLOR'|trans}}',
                                'TM_ACCENT_COLOR':'{{'TM_ACCENT_COLOR'|trans}}',
                                'TM_LINKSBUTTONS_COLOR':'{{'TM_LINKSBUTTONS_COLOR'|trans}}',
                                'TM_HIGHLIGHTING_COLOR':'{{'TM_HIGHLIGHTING_COLOR'|trans}}',
                                'TM_SIDEBAR_COLOR':'{{'TM_SIDEBAR_COLOR'|trans}}',
                                'TM_BUTTON_COLOR':'{{'TM_BUTTON_COLOR'|trans}}',
                                'TM_BOX_BACKGROUND_COLOR':'{{'TM_BOX_BACKGROUND_COLOR'|trans}}',
                                'TM_LINK_BUTTON_COLOR':'{{'TM_LINK_BUTTON_COLOR'|trans}}',
                                'TM_MAIN_TEXT_COLOR':'{{'TM_MAIN_TEXT_COLOR'|trans}}',
                                'TM_NAV_BACKGROUND_COLOR':'{{'TM_NAV_BACKGROUND_COLOR'|trans}}',
                                'TM_NAV_TEXT_COLOR':'{{'TM_NAV_TEXT_COLOR'|trans}}',
                                'TM_PAGE_TITLE_SHADOW_COLOR':'{{'TM_PAGE_TITLE_SHADOW_COLOR'|trans}}',
                                'TM_PAGE_TITLE_TEXT_COLOR':'{{'TM_PAGE_TITLE_TEXT_COLOR'|trans}}',
                                'TM_ACTIVE_MENU_COLOR':'{{'TM_ACTIVE_MENU_COLOR'|trans}}',
                                
                            
                             };
                     
                            if(themeId==2){
                                var editcolorSchemeTooltipTrans = colorSchemeTooltipTrans = {
                                 'TM_BACKGROUND_COLOR':'{{'TM_BACKGROUND_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',   
                                'TM_ACCENT_COLOR':'{{'TM_ACCENT_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_ACTIVE_MENU_COLOR':'{{'TM_ACTIVE_MENU_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_NAV_BACKGROUND_COLOR':'{{'TM_NAV_BACKGROUND_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_NAV_TEXT_COLOR':'{{'TM_NAV_TEXT_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_BOX_BACKGROUND_COLOR':'{{'TM_BOX_BACKGROUND_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_MAIN_TEXT_COLOR':'{{'TM_MAIN_TEXT_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_LINK_BUTTON_COLOR':'{{'TM_LINK_BUTTON_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_PAGE_TITLE_TEXT_COLOR':'{{'TM_PAGE_TITLE_TEXT_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_PAGE_TITLE_SHADOW_COLOR':'{{'TM_PAGE_TITLE_SHADOW_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                };
                    
                             }else{              
                     
                                var colorSchemeTooltipTrans = {'TM_BACKGROUND_COLOR':'{{'TM_BACKGROUND_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_INVERSE_COLOR':'{{'TM_INVERSE_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_ACCENT_COLOR':'{{'TM_ACCENT_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_LINKSBUTTONS_COLOR':'{{'TM_LINKSBUTTONS_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_HIGHLIGHTING_COLOR':'{{'TM_HIGHLIGHTING_COLOR_TOOLTIP'|trans({}, 'tooltip')}}',
                                };
                                 var editcolorSchemeTooltipTrans = {'TM_BACKGROUND_COLOR':'{{'TM_BACKGROUND_COLOR_EDIT_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_INVERSE_COLOR':'{{'TM_INVERSE_COLOR_EDIT_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_ACCENT_COLOR':'{{'TM_ACCENT_COLOR_EDIT_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_LINKSBUTTONS_COLOR':'{{'TM_LINKSBUTTONS_COLOR_EDIT_TOOLTIP'|trans({}, 'tooltip')}}',
                                'TM_HIGHLIGHTING_COLOR':'{{'TM_HIGHLIGHTING_COLOR_EDIT_TOOLTIP'|trans({}, 'tooltip')}}',
                                };
                            }
                   
        var fgActivateColorScheme = '{{path('website_theme_configuration_color_activate',{'type':'dummy'})}}';
    $(document).ready(function () {
            var cofigUpdateColor = new FgConfigUpdateColor;
            cofigUpdateColor.createInit();
        });
    </script>
{% endblock %}