 <li id="{{elementType}}_{{elementId}}" class="subclass fg-dev-draggable"> 
    <a href="#" class="pull-left side-right-zro"><i class="fa fa-bookmark fa-bookmark-o bookmarkclick" data_type="{{elementType}}" id="{{elementId}}"></i></a> 
    <a href="javascript:void(0)" data-type="{{elementType}}" data-categoryId="{{parentElementId}}" data-id="{{elementId}}" class="sidebabar-link">
        <span class="badge badge-round badge-important"> 0 </span>
        <span class="title">
            {{elementTitle}}
        </span>
    </a> 
</li>