<script type="text/template" id="membershipList">
    <% contCountPlural = '{{'CONTACT_COUNT_PLURAL'|trans}}' %>
    <% index=1 %>
    <% sortIndex = 1 %>
    <% _.each(data, function(item, atKey){ %>       
        <div class="row fg-border-line <% if ((item.clubId == membershipPageVars.clubId) || (membershipPageVars.clubType == 'federation')) { %> sortables fg-sort-drag-hover <% } %>" id="<%- item.id %>" >
            <div class="fg-col-first-icon fg-sort-drag">
                <i class="fa fa fg-sort ui-draggable handle <% if (item.clubId != membershipPageVars.clubId) { %> inactive <% } %>"  data-toggle="tooltip"></i>
            </div>
            <div class="col-md-12 fg-col-hack colordarkash">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 col-md-4 col-xs-11 fg-clear-left">
                        <div class="fg-txt-area">
                            {% for langKey,languagelist in clubLanguages  %}
                                <% value = (item.allLanguages.{{languagelist}} != undefined) ? ((item.allLanguages.{{languagelist}}.titleLang != undefined) ? item.allLanguages.{{languagelist}}.titleLang : '') : '' %>

                                <% if ((item.clubId == membershipPageVars.clubId) || (membershipPageVars.clubType == 'federation')) { %>
                                    <div dataerror-group="" data-lang="{{languagelist}}">
                                        <input type="text" placeholder="<%- item.membershipName %>" class="form-control input-sm {{languagelist}}" name="<%- item.id %>_{{langKey}}_title" value="<%- value %>" data-key="<%- item.id %>.i18n.{{languagelist}}.titleLang" id="<%- item.id %>_{{langKey}}_title" data-lang="{{languagelist}}" {% if clubDefaultLang == languagelist  %}required="true" {% else %}data-notrequired="true"{% endif %} />
                                    </div>
                                <% } else { %>
                                    <label data-lang="{{languagelist}}"><%- value %></label>
                                <% } %>
                                
                            {% endfor %}

                            <% if (!((item.clubId == membershipPageVars.clubId) || (membershipPageVars.clubType == 'federation'))) { %>
                                <%  var fedIcon = {{fgclub.get('federation_icon')|json_encode()|raw}};  %> 
                                <img src="<%- fedIcon[item.clubId ] %>"/>
                            <% } %>
                        </div>

                        <!--  bookmark  -->
                        <div class="bookmark fg-bkmrk-icon fg-bkmrk-ico-new">
                            <div class="bookmark pull-left"><input id="box<%- item.id %>" type="checkbox" class="make-switch" <% if (item.bookmarked == 1) { %> checked <% } %> data-key="<%- item.id %>.book_marked" name="<%- item.id %>_book_marked"/> <label for="box<%- item.id %>"><i class="fa fa-bookmark"></i></label></div>
                        </div>
                     </div>

                   

                    <!--  contact count  -->
                    <div class="col-lg-2 col-sm-12 col-md-2 col-xs-12">
                        <div class="paddingzero propertiblk pull-left margin-right-10">
                           <% if ( membershipPageVars.clubType == 'federation') { %>
                            
                           <a href="javascript:handleCountOrSidebarClick.updateFilter('fed_membership', 'filterdisplayflag_contact{{fgclub.clubId}}-{{contactId}}', '', '{{fgclub.clubId}}', '{{contactId}}', '', '', '{{fgclub.clubUrlIdentifier}}', 'count', '', '', '', '', 'contact', '', 'fed_membership', '<%- item.id %>', '');">
                             
                        <% } else { %>
                            <a href="javascript:handleCountOrSidebarClick.updateFilter('MEMBERSHIP', 'filterdisplayflag_contact{{fgclub.clubId}}-{{contactId}}', '', '{{fgclub.clubId}}', '{{contactId}}', '', '', '{{fgclub.clubUrlIdentifier}}', 'count', '', '', '', '', 'contact', '', 'membership', '<%- item.id %>', '');">
                          <% } %>
            
                                <% if (item.totalCount == 1) { %>
                                    {{ 'CONTACT_COUNT_SINGULAR'|trans({'%count%' : 1}) }}
                                <% } else { %>
                                    <%- contCountPlural.replace('%count%', item.totalCount) %>
                                <% } %>
                            </a>
                        </div>
                    </div>

                     <!-- LOG -->
                    <div class="col-lg-2 col-sm-6 col-md-2 col-xs-12" id= "<%- item.id %>_membership" name="fg-dev-log">
                        <% if ((item.clubId == membershipPageVars.clubId) || (membershipPageVars.clubType == 'federation')) { %>
                            <a href="#" class="fg-recipients-active" data-fn="openLog" data-toggle="collapse" data-target="#log_<%- item.id %>" data-id="<%- item.id %>"><i class="fa fa-plus-square-o"></i> {{'LOG'|trans}}</a>
                        <% } %>
                    </div>
                    <!-- END LOG -->

                 </div>
            </div>
            <input type="text" data-key="<%- item.id %>.sort_order" name="<%- item.id %>_sort_order" id="<%- item.id %>_sort_order" value="<%- sortIndex %>" data-sort-parent="membershiplist_sort" class="hide sort-val" />

            <div class="fg-col-last-icon">
                <% if ((membershipPageVars.clubMemCatCnt == "1") || ( (item.clubId != membershipPageVars.clubId))) { %>
                    <div class="deletediv" id="disableddelete"><div class="closeico"> <i class="fa fa-lock fa-2x ash"></i> </div></div>
                <% } else { %>
                    <% if (((item.clubId == membershipPageVars.clubId) || (membershipPageVars.clubType == 'federation')) && (_.size(data) > 1)) { %>
                        <% if (( item.totalCount > 0 )||(item.pendingCount > 0) ) { %>
                            <div class="deletediv" id="disableddelete"><div class="closeico"> <i class="fa fa-lock fa-2x ash"></i> </div></div>
                        <% } else { %>
                            <div class="col-md-2 pull-right deletediv "> <div class="closeico"> <input id="select<%- index %>" data-deletable="checknew" type="checkbox" class="make-switch"data-key="<%- item.id %>.is_deleted" name="<%- item.id %>_is_deleted" data-inactiveblock="changecolor" data-parentid="<%- item.id %>"/>  <label for="select<%- index %>"></label></div></div>
                        <% } %>
                    <% } %>
                    <% if (_.size(data) == 1) { %>
                        <div class="deletediv" id="disableddelete"><div class="closeico"> <i class="fa fa-lock fa-2x ash"></i> </div></div>
                    <% } %>
                <% } %>
            </div>
            <% if ((item.clubId == membershipPageVars.clubId) || (membershipPageVars.clubType == 'federation')) { %>
                <div class="fg-clear"></div>
                <div class="collapse fg-control-aranew fg-pad-0" id="log_<%- item.id %>" style="display:none"><div class="fg-pad-20"></div></div>{# To display log #}
            <% } %>
        </div>
        <% if (index == _.size(data)) { %>
            <% membershipList.initPageFunctions(); %>
        <% } %>
        <% index++%>
        <% sortIndex++ %>
    <%  }); %>
</script>