{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::internal/layout.html.twig' %}
{#{% set pageTitle = (tabs|length > 1) ?((type == 'team') ? 'TEAM_FORUM_PAGE_TITLE'|trans : 'WORKGROUP_FORUM_PAGE_TITLE'|trans):tabs|first.text %}#}
{% set pageTitle = (tabs|length > 1) ? 'FORUM_TITLE'|trans : tabs|first.text %}

{% block pagecontent %}
    <div class="clearfix"> </div>
    <!-- BEGIN CONTAINER -->
    <div class="fg-page-container">
        <div>
            <div class="fg-theme-green">
                <!-- BEGIN BREADCRUMB-->
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'internal/breadcrumb.html.twig' %}
                    </div>
                </div>
                <!-- END BREADCRUMB-->
                {% include 'global/page-title-bar.html.twig' with {'pageTitle': pageTitle, 'contactId': contactId, 'tabs': tabs, 'roleCount' : teamCount, 'type': type, 'url' : url ,'columnsUrl':''} %}

                <!-- BEGIN CONTENT -->
                <div class="row fg-forum-overview-wrapper">
                    <div class="col-md-12 ">
                        <div class="fg-page-title-block-2">
                            <div class="FL fg-active-IB">
                                <a class='fg-start-new-topic'><div class="fg-active-IB fg-btn-grey-icon">
                                        <span>
                                            <i class="fa fa-plus-circle fa-2x"></i> {{'FORUM_CREATE_TOPIC'|trans}}  
                                        </span>

                                    </div></a>

                            </div>
                            {% if tabs|length >= 1 %}
                                <div class="FR fg-active-IB">

                                    <div class="fg-active-IB" >
                                        <label class="fg-active-IB text-right fg-select-label" for="textinput">{{'FORUM_SORTING'|trans}}:</label>  
                                        <div class="fg-active-IB fg-sorting">
                                            <select id="fg-topic-sort" name="selectbasic" class="form-control selectpicker select2">
                                                <option value='1'>{{'FORUM_RECENT_UPDATE'|trans}}</option>
                                                <option value='2'>{{'FORUM_START_DATE'|trans}}</option>
                                                <option value='3'>{{'FORUM_MOST_REPLIES'|trans}}</option>
                                                <option value='4'>{{'FORUM_MOST_VIEWED'|trans}}</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="fg-active-IB fg-btn-grey-icon">
                                        <span id="follow-forum">
                                            <i class="fa fa-bell-o fa-2x"></i> {{'LABEL_FORUM_FOLLOW'|trans}}{#Follow this forum  #}   
                                        </span>

                                    </div>
                                    {%  if isAdmin == '1' %}
                                        <div class="fg-active-IB fg-btn-grey-icon">
                                            <span id="lock-forum" data-status="1" class="btn">
                                                <i class="fa fa-eye-slash fa-2x"></i> {{'LABEL_FORUM_DEACTIVATE'|trans}}{#Deactivate this forum #}     
                                            </span>

                                        </div>
                                    {% endif %}
                                    <div class="fg-active-IB fg-search-last-block-2">
                                        <div class="input-icon fg-input-icon "> <i class="fa fa-search"></i>
                                            <input type="text" placeholder="Search" class="form-control control2" id="fg-forum-search">
                                        </div>
                                    </div>

                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        {% if tabs|length >= 1 %}
                            <div class="row">


                                <div class="portlet-body new-table-height fg-datatable-wrapper" id="tableWrapper">
                                    <table class="dataTable
                                           table
                                           table-bordered
                                           table-hover
                                           table-condensed fg-brdr-btm-1" id="forumlisttable">

                                        <thead>
                                            <tr>
                                                <th>{{'FORUM_LIST_TOPIC'|trans}}</th>
                                                <th></th>
                                                <th>{{'FORUM_LIST_AUTHOR'|trans}}</th>
                                                <th>{{'FORUM_TOPIC_REPLIES'|trans}}</th>
                                                <th>{{'FORUM_LIST_VIEWS'|trans}}</th>                
                                                <th>{{'FORUM_LIST_LAST_REPLY'|trans}}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                        {% endif %}
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                    <div class="col-md-12 fg-pad-top-10">
                        <div class="fg-forum-topic-footer">
                            <div class="FL">
                                <a class='fg-start-new-topic'> <div class="fg-active-IB fg-btn-grey-icon">
                                        <span>
                                            <i class="fa fa-plus-circle fa-2x"></i> {{'FORUM_CREATE_TOPIC'|trans}} 
                                        </span>

                                    </div></a>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
    </div>
</div>

{% endblock %}    
{% block javascripts %}
    <script src="{{ asset('fgassets/internal/js/fg_tab_selection_process.js') }}" type="text/javascript"></script>
    <script>
        //JS translation
        actForum = '{{'LABEL_FORUM_ACTIVATE'|trans}}';
        dectForum = '{{'LABEL_FORUM_DEACTIVATE'|trans}}';
        followForum = '{{'LABEL_FORUM_FOLLOW'|trans}}';
        unfollowForum = '{{'LABEL_FORUM_UNFOLLOW'|trans}}';
        var unfollow = '{{ unfollow }}';
        var clubType = "{{clubType}}";    
        var contactId = '{{contactId}}';
        var clubId = '{{clubId}}';
        var memberType = '{{type}}';
        var ajaxForumUrl, sortcolumnidentifier;
        var tablocalstorageName = (memberType === 'team') ? 'team_' + clubId + '_' + contactId : 'workgroup_' + clubId + '_' + contactId;
        var sortingValuestrorageName = (memberType === 'team') ? 'team_sort_' + clubId + '_' + contactId : 'workgroup_sort_' + clubId + '_' + contactId;
        var unfollowText = '{{'FORUM_UNFOLLOW_TOASTER'|trans}}';
        //if unfollow is not null show toaster 'unfollowed topic' // occur in case when clicking on unfollow link of notification mail
        if( unfollow != '') {
            FgInternal.showToastr(unfollowText);
        }
        var columnDefs = [
            {"name": "topic", "targets": 0, width: "20%", orderable: false, data: function (row, type, val, meta) {
                    var classname = (row['isRead'] == 0 || row['isRead'] == null) ? 'fg-strong' : '';
                    var path = row['topic_url'];
                    var url = path.replace("dummyTopic", row['forumId']);
                    var followIcon = (row['isFollow'] === '1') ? '<i class="fa fa-bell-o"></i>' : '';
                    var deactivateIcon = (row['isReply'] == "not_allowed") ? '<i class="fa fa-lock"></i>' : '';
                    var isImportantBadge = (row['isImportant'] === '1') ? '<span class="label label-sm label-important">{{'FORUM_IMPORTANT_BADGE'|trans}}</span>' : '';
                    var isClosedBadge = (row['isClosed'] === '1') ? '<span class="label label-sm label-closed">{{'FORUM_CLOSED_BADGE'|trans}}</span>' : '';
                    var displayData = isImportantBadge + isClosedBadge + "&nbsp;&nbsp;<a href='" + url + "' class='" + classname + "'>" + row['title'] + "</a> " + followIcon + '&nbsp;' + deactivateIcon;
                    return displayData;
                }},
            {"name": "", "orderable": false, width: "1%", "targets": 1, class: "fg-forum-pagination-align", data: function (row, type, val, meta) {
                    var pageUrl = row['page_url'];
                    var pagesize ={{perpageCount}} ;
                    var pagination = getPagination(row['replies'], pagesize, pageUrl, row['forumId']);
                    var displayPagination = (pagination == '') ? ' ' : pagination;
                    return displayPagination;
                }},
            {"name": "author", "orderable": false, "targets": 2, data: function (row, type, val, meta) {
                    var path = row['contact_overview_url'];
                    var url = path.replace("dummyId", row['createdAuthor']);
                    var author = ((row['contactAdmin'] == 0 || row['author_stealth'] == 0) && (row['isAuthorSupAdmin'] == null || row['isAuthorSupAdmin'] == 0) && (!(row['isAuthorFedAdmin'] == 1  && clubType == 'federation') == 0)) ? "<a href='" + url + "'>" + row['author'] + "</a>" : row['author'];
                    return author;
                }},
            {"name": "replies", "orderable": false, "targets": 3, width: '1%', class: "fg-number-align", data: function (row, type, val, meta) {
                    repliesCount = (row['replies'] > 0) ? FgClubSettings.formatNumber(row['replies'] - 1) : 0;
                    return repliesCount;
                }},
            {"name": "views", "orderable": false, "targets": 4, width: '1%', class: "fg-number-align", data: function (row, type, val, meta) {
                    viewCount = (row['views'] > 0) ? FgClubSettings.formatNumber(row['views']) : 0;
                    return viewCount;
                }},
            {"name": "lastreply", "orderable": false, "targets": 5, width: '20.5%', data: function (row, type, val, meta) {
                    var replyDate = '';
                    var path = row['contact_overview_url'];
                    var url = path.replace("dummyId", row['repliedUser']);
                    var today = moment().format(FgLocaleSettingsData.momentDateFormat);
                    var currentDate = moment(row['lastReply']).format(FgLocaleSettingsData.momentDateFormat);
                    var yesterday = moment().add(-1, 'days').format(FgLocaleSettingsData.momentDateFormat);
                    if (FgUtility.isGreaterDate(today, currentDate) == 0) {
                        replyDate = '{{'FORUM_LIST_TODAY'|trans}}&nbsp;' + FgLocaleSettings.formatDate(row['lastReply'], 'time', 'YYYY-MM-DD H:mm');
                    } else if (FgUtility.isGreaterDate(yesterday, currentDate) == 0) {
                        replyDate = '{{'FORUM_LIST_YESTERDAY'|trans}}&nbsp;' + FgLocaleSettings.formatDate(row['lastReply'], 'time', 'YYYY-MM-DD H:mm');
                    }
                    else {
                        replyDate = FgLocaleSettings.formatDate(row['lastReply'], 'datetime', 'YYYY-MM-DD H:mm');
                    }
                    var postpath = row['last_reply_url'];
                    var replyContact = ((row['contactAdmin'] == 0 || row['replied_stealth'] == 0) && (row['isRepliedUserSupAdmin'] == null || row['isRepliedUserSupAdmin'] == 0) && (!(row['isRepliedFedAdmin'] == 1  && clubType == 'federation') == 0)) ? "<a href='" + url + "'>" + row['lastReply_CONTACT'] + "</a>" : row['lastReply_CONTACT'];
                    var author = "<a href='" + postpath + "'>" + replyDate + "</a>&nbsp;{{'FORUM_LIST_BY'|trans}}&nbsp;" + replyContact;
                    return author;
                }}

        ];

        function getPagination(totalCount, pagesize, path, forumId) {
            var paginationLink = '';

            if (totalCount > pagesize) {
                var links = Math.ceil(totalCount / pagesize);
                for (var i = 1; i <= links; i++) {
                    var url = path.replace("pageId", i);
                    if (i == 1) {
                        paginationLink += '&nbsp;<a href="' + url + '">' + i + '</a>';
                    } else if (i <= 3) {
                        paginationLink += ', <a href="' + url + '">' + i + '</a>';
                    } else if (i == links && i > 4) {
                        paginationLink += '&hellip; <a href="' + url + '">' + i + '</a>';
                    } else if (i == links && i == 4) {
                        paginationLink += ', <a href="' + url + '">' + i + '</a>';
                    }
                }
            }
            return paginationLink;

        }
        $(document).ready(function () {

            var tabCondition = {{ (tabs|length > 1) ? 'true' : 'false' }};
                    $(".fg-action-menu-wrapper").FgPageTitlebar({
                title: true,
                tab: tabCondition,
                tabType: 'client',
                row2: true
            });


            scope = angular.element($("#BaseController")).scope();
            var selectSortField = localStorage.getItem(sortingValuestrorageName);
            if (selectSortField === 'undefined' || selectSortField == null || selectSortField == '') {
                $("#fg-topic-sort").select2('val', 1);
                localStorage.setItem(sortingValuestrorageName, 1)
            } else {
                $("#fg-topic-sort").select2('val', localStorage.getItem(sortingValuestrorageName));
            }


            //initial setting of tabs      
            var option = { pageType:'forumlist',
                    grouptype:'{{type}}',
                    contactId:contactId,
                    localStorageName:tablocalstorageName,
                    tabheadingArray:{{tabs|json_encode()|raw}},
                    defaultGroupId :'{{id}}'
            }
            Fgtabselectionprocess.initialize(option);
            //action menu init area

            // Activate or deactivate 
            $('#lock-forum').click(function () {
                // var obj = $(this);
                // var status = obj.attr('data-status');
                // var newStatus = (status == 1 ? 0 : 1);

                var role = $(".fg-nav-links.data-more-tab li.active a").attr('data_id');
                $.post('{{ path('forum_activate') }}', {role: role}, function (r) {           //,{func:1, roleId:role})
                    //obj.attr('data-status', newStatus);
                    location.reload();
                });

            });
            //Follow or un-follow
            $('#follow-forum').click(function () {
                var role = $(".fg-nav-links.data-more-tab li.active a").attr('data_id');
                $.post('{{ path('forum_follow') }}', {role: role}, function (r) {
                    FgInternal.showToastr(r.flash);
                    listTable.draw();
                    setTimeout(function () {
                        $('.sorting_asc').removeClass('sorting_asc').addClass('sorting_disabled');
                        listTable.columns.adjust().fixedColumns().relayout();
                    }, 3000);
                });
            });

            //sorting selection
            $("#fg-topic-sort").on('change', function () {
                sortcolumnidentifier = $(this).val();
                localStorage.setItem(sortingValuestrorageName, $(this).val());
                listTable.order([sortcolumnidentifier, 'asc']).draw();

            });


        });
    </script>

{% endblock %}    
