{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::internal/layout.html.twig' %}
{% set pageTitle = titletext %}
{% block pagecontent %}
    <!-- BEGIN CONTENT -->
     <div class="fg-theme-panel fg-contact-table-settings-wrap">
        <form id="tablesettings" action="tablesettings" onSubmit="return false;">
            <div class="row">
                <div class="col-md-12">
                    <!-- PAGE TITLE & BREADCRUMB-->
                    <!-- BREADCRUMB STARTS -->
                    {% include 'internal/breadcrumb.html.twig' with breadCrumb %}
                    <!-- BREADCRUMB ENDS -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="page-title"> {{titletext}} </h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BEGIN COLUME AREA-->
            <div class="row fg-contact-tables">
                <div class="col-lg-8 col-md-7">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"> {{'ALL_COLUMNS'|trans}} </div>
                        </div>
                        <div class="portlet-body fg-portlet fg-pad-top-20 ">
                            <div class="row">
                                <!-- CONTACT FIELDS -->
                                <div class="col-lg-3 col-md-5 col-sm-5" id="displayContactFields"></div>
                                <!-- FIXED FIELDS -->
                                <div class="col-lg-3 col-md-5 col-sm-5 hide" id="displayStaticFields">
                                    {% for category,fixedField in fixedFields %}
                                        {% if (category == 'federation_infos') %}
                                            {% set fieldType = 'FI' %}
                                        {% elseif (category == 'household') %}
                                            {% set fieldType = 'CN' %}
                                        {% else %}
                                            {% set fieldType = 'G' %}
                                        {% endif %}
                                        <div class="form-group">
                                            <h4 class="fg-cols-fsz">{{fixedField['title']}}</h4>
                                            {% for fieldId,fieldVal in fixedField['fields'] %}
                                                <div class="checkbox-list">
                                                    <label class="fg-col-settings-label">
                                                        <i class="fa fg-plus-circle fa-2x pull-left selectitem" id="{{fieldId}}" type="{{fieldType}}" club_id="{{clubData['clubId']}}">
                                                        <span class="fg-label-inner" data-label-id="{{fieldType}}{{fieldId}}">{{fieldVal}}</span></i></label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- ASSIGNMENT FIELDS -->
                                <div class="col-md-12 col-lg-6 col-sm-12 fg-last-col-hack" id="displayAssignmentFields"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <!-- Selected Columns box starts -->
                    <div class="portlet box blue fg-columnsettings-ico">
                        <div class="portlet-title">
                            <div class="caption"> {{'SELECTED_COLUMNS'|trans}} </div>
                            <div class="fg-clear-area"><a href="#" id="clearselected">{{'CONTACT_FILTER_CLEAR'|trans}} <i class="fa fa-times-circle fa-1x"></i></a></div>
                        </div>
                        <div class="portlet-body fg-pad-top-20" id="displaySelectedColumns">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12 fg-form-submit-wrapper">
                {% include 'clubadmin/savebutton.html.twig' with {'backLink': breadCrumb.back ,'reset_button_id':'cancelsettings','reset_button_val':'CANCEL'|trans,'save_button_val':'APPLY'|trans ,'save_button_id':'applysettings','button_attr_type':'data-save-type','button_attr_val':"APPLY" } %}
            </div>
        </div>
    </div>
 

    <!-- ADD ROW TEMPLATES ENDS -->
{% endblock %}
{% block underscoretemplate %}
         {# template for displaying contact fields #}
        {% include 'InternalTeamBundle:Columnsettings:displaycontactFields.html.twig' %}
        {# template for displaying assignment categories #}
        {% include 'InternalTeamBundle:Columnsettings:displayassignmentfields.html.twig' %}
        {# template for displaying selected columns #}
        {% include 'InternalTeamBundle:Columnsettings:displayselectedcolumns.html.twig' %}
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

    var clubId = {{clubData['clubId']}};
    var contactId = {{clubData['contactId']}};
    var module = '{{module}}';
  
    var clubTeamId = {{clubData['clubTeamId']}};
    var clubWorkgroupId = {{clubData['clubWorkgroupId']}};
    var clubExecutiveBoardId = {{clubData['clubExecutiveBoardId']}};
    var corrAddrCatId = {{clubData['corrAddrCatId']}};
    var addressTrans = '{{'INTERNAL_TEAM_MEMBER_COLUMN_SETTINGS_ADDRESS'|trans}}';
    var corrAddrFieldIds = [];
    var getSettingsPath = "{{path('internal_table_settings',{'module': module})}}";
    var defaultSettingsArray = '{{defaultSettings|json_encode|raw}}';
    var clickPath = (module =="team")? '{{path('team_detail_overview')}}' : '{{path('workgroup_detail_overview')}}';
    var transFunctions = '{{'FUNCTIONS'|trans}}';
    var none = "{{'NONE'|trans}}";
    var all = "{{'ALL'|trans}}";
    var tablesettingValue = (module == "team") ? 'teamtableSettingValue_' +clubId + '_' + contactId : 'workgrouptableSettingValue_' +clubId + '_' + contactId ;
   
</script>
<script src="{{ asset('fgassets/internal/js/page/fg-internal-columnsettings.js')}}" type="text/javascript"></script> 
{% endblock %}